tools/test/reference-suite/GetCareContacts/constraints.xml

<?xml version="1.0" encoding="utf-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements. See the NOTICE file
distributed with this work for additional information
regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
to you under the Apache License, Version 2.0 (the
        "License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
-->
<iso:schema
        xmlns="http://purl.oclc.org/dsdl/schematron"
        xmlns:iso="http://purl.oclc.org/dsdl/schematron"
        queryBinding='xslt2'
        schemaVersion='ISO19757-3'>

    <iso:title>Validation for GetCareContacts</iso:title>
    <iso:ns prefix='urn2' uri='urn:riv:clinicalprocess:logistics:logistics:2'/>
    <iso:ns prefix='urn1' uri='urn:riv:clinicalprocess:logistics:logistics:GetCareContactsResponder:2'/>

    <!-- Rules for Request -->
    <iso:pattern name="Verify request">
        <iso:rule context="urn1:GetCareContacts" >
            <iso:assert test="(careContactId and not(sourceSystemHSAid))">If careContactId is given, sourceSystemHSAid must be given.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <!-- Rules for Response -->
    <iso:pattern name="Verify careContactHeader">
        <iso:rule context="urn2:accountableHealthcareProfessional">
            <iso:assert test="count(urn2:healthcareProfessionalRoleCode) +  count(urn2:healthcareProfessionalOtherRoleCode) = 1">
                Either one of healthcareProfessionalRoleCode or healthcareProfessionalOtherRoleCode must be given.</iso:assert>
        </iso:rule>
    </iso:pattern>



</iso:schema>
