ServiceInteractions/riv/ehr/patientconsent/trunk/schemas/interactions/patientconsent/administration/registerextendedconsent/RegisterExtendedConsentInteraction_1.0_RIVTABP21.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Inera AB licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->	
<wsdl:definitions name='RegisterExtendedConsentInteraction'
	xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
	xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
	xmlns:xs='http://www.w3.org/2001/XMLSchema'
	xmlns:tjsr='urn:riv:ehr:patientconsent:administration:RegisterExtendedConsentResponder:1'
	xmlns:itr='urn:riv:itintegration:registry:1'
	xmlns:tns='urn:riv:ehr:patientconsent:administration:RegisterExtendedConsent:1:rivtabp21'
	targetNamespace='urn:riv:ehr:patientconsent:administration:RegisterExtendedConsent:1:rivtabp21'>

	<wsdl:documentation>
		 Tjänsteinteraktionens namn: RegisterExtendedConsent
		 Beskrivning: 
		   Tjänst som registrerar ett intyg gällande viss patient som ger direktåtkomst till patientens information från andra vårdgivare enligt PDL.
		   Intyget avser patientens aktiva medgivande (samtycke), alternativt nödsituation då HoS personal bedömer att behov av uppgifterna finns för nödvändig vård av patient som inte kan ge aktivt medgivande.
		   Det går även att registrera patientens företrädare.
		   Tjänsten kräver utökad information (metainformation) kring skapande av intyget.
		 Revisioner: 
		 Tjänstedomän: patientconsent:administration
		 Tjänsteinteraktionstyp: Fråga-Svar
		 WS-profil: RIVTABP21
		 Förvaltas av: Inera AB
	</wsdl:documentation>
	
	<wsdl:types>
		<xs:schema targetNamespace='urn:riv:ehr:patientconsent:administration:RegisterExtendedConsent:1:rivtabp21'>
			<xs:import schemaLocation='RegisterExtendedConsentResponder_1.0.xsd' namespace='urn:riv:ehr:patientconsent:administration:RegisterExtendedConsentResponder:1' />
			<xs:import schemaLocation='../../../../core_components/itintegration_registry_1.0.xsd' namespace='urn:riv:itintegration:registry:1' />
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="UnauthorizedFault">
		<wsdl:documentation xml:lang="en">Undantag som kastas då behörighet saknas för att utföra begärd tjänst.
		</wsdl:documentation>
		<wsdl:part name="parameters" element="tjsr:UnauthorizedFault" />
	</wsdl:message>

	<wsdl:message name="ValidationErrorFault">
		<wsdl:documentation xml:lang="en">Undantag som kastas då en eller flera inparametrar innehåller felaktiga värden.
		</wsdl:documentation>
		<wsdl:part name="parameters" element="tjsr:ValidationErrorFault" />
	</wsdl:message>

	<wsdl:message name="InternalErrorFault">
		<wsdl:documentation xml:lang="en">Undantag som kastas då ett ohanterbart internt problem uppstått. Pågående tjänst kan ej utföras.
		</wsdl:documentation>
		<wsdl:part name="parameters" element="tjsr:InternalErrorFault" />
	</wsdl:message>

		
	<wsdl:message name='RegisterExtendedConsentRequest'>
		<wsdl:part name='LogicalAddress' element='itr:LogicalAddress'>
			<wsdl:documentation>http://tempuri.org</wsdl:documentation>
		</wsdl:part>
	
		<wsdl:part name='parameters' element='tjsr:RegisterExtendedConsentRequest' />
	</wsdl:message>

	<wsdl:message name='RegisterExtendedConsentResponse'>
		<wsdl:part name='parameters' element='tjsr:RegisterExtendedConsentResponse' />
	</wsdl:message>

	<wsdl:portType name='RegisterExtendedConsentResponderInterface'>
		<wsdl:operation name='RegisterExtendedConsent'>
			<wsdl:input message='tns:RegisterExtendedConsentRequest' />
			<wsdl:output message='tns:RegisterExtendedConsentResponse' />
			<wsdl:fault name="UnauthorizedFault" message="tns:UnauthorizedFault" />
			<wsdl:fault name="ValidationErrorFault" message="tns:ValidationErrorFault" />
			<wsdl:fault name="InternalErrorFault" message="tns:InternalErrorFault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name='RegisterExtendedConsentResponderBinding' type='tns:RegisterExtendedConsentResponderInterface'>
		<soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http' />
		<wsdl:operation name='RegisterExtendedConsent'>
			<soap:operation soapAction='urn:riv:ehr:patientconsent:administration:RegisterExtendedConsentResponder:1:RegisterExtendedConsent' style='document' />
			<wsdl:input>
				<soap:header use='literal' message='tns:RegisterExtendedConsentRequest' part='LogicalAddress' />
				<soap:body use='literal' parts='parameters' />
			</wsdl:input>
			<wsdl:output>
				<soap:body use='literal' />
			</wsdl:output>
			<wsdl:fault name="UnauthorizedFault">
				<soap:fault use="literal" name="UnauthorizedFault" />
			</wsdl:fault>
			<wsdl:fault name="ValidationErrorFault">
				<soap:fault use="literal" name="ValidationErrorFault" />
			</wsdl:fault>
			<wsdl:fault name="InternalErrorFault">
				<soap:fault use="literal" name="InternalErrorFault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name='RegisterExtendedConsentResponderService'>
		<wsdl:port name='RegisterExtendedConsentResponderPort' binding='tns:RegisterExtendedConsentResponderBinding'>
			<soap:address location='http://tempuri.org' />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
