ServiceInteractions/riv/clinicalprocess/healthcond/description/trunk/test-suite/GetDiagnosis/constraintsNPO.xml

<?xml version="1.0" encoding="utf-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements. See the NOTICE file
distributed with this work for additional information
regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
to you under the Apache License, Version 2.0 (the
        "License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
-->
<iso:schema
        xmlns="http://purl.oclc.org/dsdl/schematron"
        xmlns:iso="http://purl.oclc.org/dsdl/schematron"
        queryBinding='xslt2'
        schemaVersion='ISO19757-3'>

    <iso:title>Validation for GetDiagnosis</iso:title>
    <iso:ns prefix='urn1' uri='urn:riv:clinicalprocess:healthcond:description:2'/>
    <iso:ns prefix='urn' uri='urn:riv:clinicalprocess:healthcond:description:GetDiagnosisResponder:2'/>

    <iso:pattern abstract="true" id="pattern.CvType">
        <iso:rule context="$path">
            <iso:assert test="count(urn1:code) + count(urn1:originalText) = 1">
                In $path, either code or origialText must be given.</iso:assert>
        </iso:rule>

        <iso:rule context="$path/urn1:code">
            <iso:assert test="count(../urn1:codeSystem) + count(../urn1:displayName) = 2">
                In $path if <iso:name/> is given, codeSystem and displayName must be given.</iso:assert>
            <iso:assert test="count(../urn1:originalText)= 0">
                In $path if <iso:name/> is given, originalText must not be given.</iso:assert>
        </iso:rule>
        <iso:rule context="$path/urn1:codeSystem">
            <iso:assert test="count(../urn1:code) + count(../urn1:displayName) = 2">
                In $path if <iso:name/> is given, code and displayName must be given.</iso:assert>
            <iso:assert test="count(../urn1:originalText)= 0">
                In $path if <iso:name/> is given, originalText must not be given.</iso:assert>
        </iso:rule>
        <iso:rule context="$path/urn1:displayName">
            <iso:assert test="count(../urn1:code) + count(../urn1:codeSystem) = 2">
                In $path if <iso:name/> is given, code and codeSystem must be given.</iso:assert>
            <iso:assert test="count(../urn1:originalText)= 0">
                In $path if <iso:name/> is given, originalText must not be given.</iso:assert>
        </iso:rule>
        <iso:rule context="$path/urn1:originalText">
            <iso:assert test="count(../urn1:code) + count(../urn1:codeSystem) + count(../urn1:displayName) = 0">
                In $path if <iso:name/> is given, code, codeSystem and displayName must not be given.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <!-- Rules for Response -->
    <iso:pattern id="Verify healthcareProfessionalRoleCode" is-a="pattern.CvType">
        <iso:param name="path" value="urn1:healthcareProfessionalRoleCode" />
    </iso:pattern>

    <iso:pattern id="Verify diagnosisCode" is-a="pattern.CvType">
        <iso:param name="path" value="urn1:diagnosisCode" />
    </iso:pattern>

    <iso:pattern id="Verify diagnosisHeader">
        <iso:rule context="urn1:diagnosisHeader">
            <iso:assert test="count(urn1:nullified) = 0"><iso:name /> must not contain nullified element.</iso:assert>
            <iso:assert test="count(urn1:nullifiedReason) = 0"><iso:name /> must not contain nullifiedReason element.</iso:assert>
            <iso:assert test="count(urn1:documentTime) = 0"><iso:name /> must not contain documentTime element.</iso:assert>
            <iso:assert test="count(urn1:documentType) = 0"><iso:name /> must not contain documentType element.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <!-- NPÖ rules -->
    <iso:pattern id="Verify accountableHealthcareProfessional">
        <iso:rule context="urn1:accountableHealthcareProfessional">
            <iso:assert test="count(urn1:healthcareProfessionalHSAId) = 1"><iso:name /> must contain healthcareProfessionalHSAId element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="string-length(normalize-space(urn1:healthcareProfessionalHSAId)) > 0"><iso:name /> healthcareProfessionalHSAId must have a value for NPÖ-compatibility.</iso:assert>
            <iso:assert test="count(urn1:healthcareProfessionalName) = 1"><iso:name /> must contain healthcareProfessionalName element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="string-length(normalize-space(urn1:healthcareProfessionalName)) > 0"><iso:name /> healthcareProfessionalName must have a value for NPÖ-compatibility.</iso:assert>
            <iso:assert test="count(urn1:healthcareProfessionalRoleCode) = 1"><iso:name /> must contain healthcareProfessionalRoleCode element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="count(urn1:healthcareProfessionalOrgUnit) = 1"><iso:name /> must contain healthcareProfessionalOrgUnit element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="count(urn1:healthcareProfessionalCareUnitHSAId) = 1"><iso:name /> must contain healthcareProfessionalCareUnitHSAId element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="count(urn1:healthcareProfessionalCareGiverHSAId) = 1"><iso:name /> must contain healthcareProfessionalcareGiverHSAId element for NPÖ-compatibility.</iso:assert>
         </iso:rule>
    </iso:pattern>

    <iso:pattern id="Verify healthcareProfessionalOrgUnit">
        <iso:rule context="urn1:healthcareProfessionalOrgUnit">
            <iso:assert test="count(urn1:orgUnitHSAId) = 1"><iso:name /> must contain orgUnitHSAId element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="string-length(normalize-space(urn1:orgUnitHSAId)) > 0"><iso:name /> orgUnitHSAId must have a value for NPÖ-compatibility.</iso:assert>
            <iso:assert test="count(urn1:orgUnitName) = 1"><iso:name /> must contain orgUnitName element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="string-length(normalize-space(urn1:orgUnitName)) > 0"><iso:name /> orgUnitName must have a value for NPÖ-compatibility.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <!-- Rules need to be clarified -->
    <iso:pattern id="Verify diagnosisCode">
        <iso:rule context="urn1:diagnosisCode">
            <iso:assert test="normalize-space(urn1:codeSystemName) = 'ICD-10-SE' or normalize-space(urn1:codeSystemName) = 'KSH97'"><iso:name /> codeSystemName must be set to ICD-10-SE or KSH97 for NPÖ-compatibility.</iso:assert>
        </iso:rule>
    </iso:pattern>

</iso:schema>
