ServiceInteractions/riv/se_apotekensservice/nod/trunk/schemas/interactions/OrdineraUtsattningInteraction/OrdineraUtsattningResponder_2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:riv:se.apotekensservice:nod:OrdineraUtsattningResponder:2"
           targetNamespace="urn:riv:se.apotekensservice:nod:OrdineraUtsattningResponder:2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2.0">

    <!-- Globala element: Metod parametrar -->
    <xs:element name="OrdineraUtsattning" type="OrdineraUtsattningRequestType"/>
    <xs:element name="OrdineraUtsattningResponse" type="OrdineraUtsattningResponseType"/>

    <!-- Fel -->
    <xs:element name="ApplicationException" type="ApplicationException"/>
    <xs:element name="SystemException" type="SystemException"/>

            <xs:complexType name="OrdineraUtsattningRequestType">
            <xs:sequence>
                <xs:element name="aktuellUnderlagstidpunkt" type="xs:dateTime" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Tidpunkt för senast uppläst underlag för utsättning.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            
                <xs:element name="forskrivningsmakulering" type="ForskrivningsmakuleringRequest" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Makulering av förskrivning för icke dospatient.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            
                <xs:element name="forskrivningsutsattning" type="ForskrivningsutsattningRequest" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Utsättning av förskrivning för dospatient.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            
                <xs:element name="originalordinationsId" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Referens till ordination att sätta ut.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            
                <xs:element name="utsattning" type="UtsattningRequest" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Utsättningsinformation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    
            <xs:complexType name="OrdineraUtsattningResponseType">
            <xs:sequence>
                <xs:element name="originalordinationsId" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Referens till ordination att sätta ut.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            
                <xs:element name="uppdateradUnderlagstidpunkt" type="xs:dateTime" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Tidpunkt för uppdaterat underlag efter utsättning.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            
                <xs:element name="vokresultat" type="VOKResultatResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Resultat från VOK-UTS.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>


<xs:complexType name="ForskrivareInformationRequest">
            <xs:sequence>                
                <xs:element name="arbetsplatskod" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Unik kod för identifiering av förskrivarens
arbetsplats vid ordinationstillfället.

Saknar förskrivare ordinarie arbetsplats anges
en grupparbetsplatskod. Arbetsplatskoden anges för att
styra ekonomiska transaktioner vid ordinationer inom förmånen.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="befattningskod" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Användarens befattningskod enligt HSA.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="efternamn" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Användarens efternamn.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="fornamn" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Användarens förnamn.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forskrivarkod" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Förskrivarens individuella 7-ställiga legitimationskod eller förskrivarens gruppförskrivarkod då individuell kod saknas.
Gruppförskrivarkod används då förskrivaren saknar individuell förskrivarkod men har via sin roll erhållit förskrivningsrätt. Kan exempelvis vara en AT-läkare eller förskrivare med förordnande.
Förskrivarkoden definieras av Socialstyrelsen och gruppförskrivarkoden definieras av Apotekens Service.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="legitimationskod" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Förskrivares 7-ställiga förskrivarkod alternativt legitimerad användares 6-ställiga 
legitimationskod enligt Socialstyrelsen. Obligatorisk för gruppförskrivare (ej läkare) och för farmaceuter.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="yrkeskod" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Användarens yrkeskod som definierar vilken typ
av legitimation som användaren innehar. Obligatorisk för förskrivare.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="SystemException">
        <xs:annotation>
            <xs:documentation>Systemfel</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
    </xs:complexType>

<xs:complexType name="UtsattningRequest">
            <xs:sequence>                
                <xs:element name="beslutstidpunkt" type="xs:dateTime" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Tidpunkt för uprättande av beslut. 
Kan vara insättning/utsättning/makulering beroende på typ av förändring.
Om ej angiven antas momentan tidpunkt.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forandringstidpunkt" type="xs:dateTime" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Tidpunkt för ordinationsförändring. 
Kan vara insättningstidpunkt/utsättningstidpunkt/makuleringstidpunkt beroende på typ av förändring.
Om ej angiven antas momentan tidpunkt.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="ordinerandeVardpersonal" type="VardpersonalRequest" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Ordinerande vardpersonal.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="registrerandeVardpersonal" type="VardpersonalRequest" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Registrerande vårdpersonal</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="utsattningskommentar" type="xs:string" minOccurs="0" />
                            
                <xs:element name="utsattningsorsak" type="xs:string" minOccurs="0" />

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="ForskrivningsmakuleringRequest">
            <xs:sequence>                
                <xs:element name="forskrivare" type="ForskrivareInformationRequest" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Förändrande förskrivare.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forskrivningsunderlagsversion" type="xs:int" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Förskrivningens underlagsversion från receptdepån.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="makuleringskommentar" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Kommentar till varför receptet makuleras. Obligatorisk för makuleringsorsakskod 4. Får ej anges för övriga makuleringsorsakskoder.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="makuleringsorsakskod" type="xs:int" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Makulerings orsakskod.
1 = Fel patient	
2 = Fel läkemedel/vara/ styrka/ändamål. Patienten informerad.
3 = Utsatt läkemedel/Inaktuell medicinering. Gäller ej dospatienter då utsättning skall användas. Patienten informerad.
4 = Annan orsak. Patienten informerad.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="makuleringssamtycke" type="xs:boolean" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Markering att förskrivare har informerat patient om makulering. Obligatorisk om patienten ej är dospatient.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="ForskrivningsutsattningRequest">
            <xs:sequence>                
                <xs:element name="akut" type="xs:boolean" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Markering om utsättningen är akut. Får endast anges för dispenserad förskrivning.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forskrivare" type="ForskrivareInformationRequest" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Förändrande förskrivare.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forskrivningsunderlagsversion" type="xs:int" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Förskrivningens underlagsversion från receptdepån.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="VOKResultatResponse">
            <xs:sequence>                
                <xs:element name="kontrolltidpunkt" type="xs:dateTime" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Datum och tidpunkt för utförd VOK-kontroll.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="kontrolltyp" type="xs:int" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Typ av VOKkontroll som har genomförts.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="vokFelLista" type="VOKFelResponse" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Lista med VOKfel</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="vokStatus" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Status för ordinationen. Allvarligaste VOKfelet styr status för hela ordinationen.

"OK", "ERROR"</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="VOKFelResponse">
            <xs:sequence>                
                <xs:element name="allvarlighetsgrad" type="xs:int" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Kod för att beskriva hur allvarligt ett VOKfel är.

2 = Avvisad.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="felkod" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Felkod enligt Vårdens ordinationskontroller (VOK).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="felmeddelande" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Felmeddelande för VOKfel.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="VardpersonalRequest">
            <xs:sequence>                
                <xs:element name="efternamn" type="xs:string" nillable="false" />
                            
                <xs:element name="fornamn" type="xs:string" nillable="false" />
                            
                <xs:element name="personHsaId" type="xs:string" nillable="false" />
                            
                <xs:element name="vardenhetHsaId" type="xs:string" nillable="false" />
                            
                <xs:element name="vardgivareHsaId" type="xs:string" nillable="false" />

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="ApplicationException">
        <xs:annotation>
            <xs:documentation>Applikationsfel</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
    </xs:complexType>

	</xs:schema>