ServiceInteractions/riv/ehr/patientrelationship/trunk/schemas/interactions/patientrelationship/querying/getpatientrelationsforcareprovider/GetPatientRelationsForCareProviderInteraction_1.0_RIVTABP21.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Inera AB licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->	
<wsdl:definitions name='GetPatientRelationsForCareProviderInteraction'
	xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
	xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
	xmlns:xs='http://www.w3.org/2001/XMLSchema'
	xmlns:tjsr='urn:riv:ehr:patientrelationship:querying:GetPatientRelationsForCareProviderResponder:1'
	xmlns:itr='urn:riv:itintegration:registry:1'
	xmlns:tns='urn:riv:ehr:patientrelationship:querying:GetPatientRelationsForCareProvider:1:rivtabp21'
	targetNamespace='urn:riv:ehr:patientrelationship:querying:GetPatientRelationsForCareProvider:1:rivtabp21'>

	<wsdl:documentation>
		 Tjänsteinteraktionens namn: GetPatientRelationsForCareProvider
		 Beskrivning: 
		   Tjänst som läser alla registrerade patientrelationer för en viss vårdgivare.       
		   Det är valbart om makulerade och återkallade patientrelationer skall returneras.         
		   Det går även att ange en tidpunkt (CreatedOnOrAfter) från när man önskar inhämta uppgifter och på så sätt undvika att inhämta data som redan hämtats vid ett tidigare tillfälle. Här avses tidpunkten då patientrealtioner lagrades i tjänsten. 
		   Tjänsten tillåts att dela upp listan av patientrelationer i mindre delar för att minska på belastningen på systemet. Om detta sker kommer flaggan HasMore att vara satt. Resten av patientrelationerna skall i så fall hämtas med ytterligare anrop till tjänsten. 
		   Tjänsten returnerar en ny tidpunkt (CreatedOnOrAfter) som anger från och med nästa tidpunkt som patientrelationer ej har hämtats. Detta värde kan användas som inparameter i ytterligare anrop till tjänsten för att hämta nästa sekvens av patientrelationer.
		   Tjänsten kan användas i ett integrationsmönster där vårdsystemet med visst intervall inhämtar allt patientrelationsunderlag den behöver utifrån de vårdgivare som systemet hanterar information från, för att sedan vid behov utföra intern kontroll mot underlaget för patientrelationer.
		   Viktigt att kontrollera att alla patientrelationer är hämtade genom returnvärdet HasMore.
		 Revisioner: 
		 Tjänstedomän: patientrelationship:querying
		 Tjänsteinteraktionstyp: Fråga-Svar
		 WS-profil: RIVTABP21
		 Förvaltas av: Inera AB
	</wsdl:documentation>
	
	<wsdl:types>
		<xs:schema targetNamespace='urn:riv:ehr:patientrelationship:querying:GetPatientRelationsForCareProvider:1:rivtabp21'>
			<xs:import schemaLocation='GetPatientRelationsForCareProviderResponder_1.0.xsd' namespace='urn:riv:ehr:patientrelationship:querying:GetPatientRelationsForCareProviderResponder:1' />
			<xs:import schemaLocation='../../../../core_components/itintegration_registry_1.0.xsd' namespace='urn:riv:itintegration:registry:1' />
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="UnauthorizedFault">
		<wsdl:documentation xml:lang="en">Undantag som kastas då behörighet saknas för att utföra begärd tjänst.
		</wsdl:documentation>
		<wsdl:part name="parameters" element="tjsr:UnauthorizedFault" />
	</wsdl:message>

	<wsdl:message name="ValidationErrorFault">
		<wsdl:documentation xml:lang="en">Undantag som kastas då en eller flera inparametrar innehåller felaktiga värden.
		</wsdl:documentation>
		<wsdl:part name="parameters" element="tjsr:ValidationErrorFault" />
	</wsdl:message>

	<wsdl:message name="InternalErrorFault">
		<wsdl:documentation xml:lang="en">Undantag som kastas då ett ohanterbart internt problem uppstått. Pågående tjänst kan ej utföras.
		</wsdl:documentation>
		<wsdl:part name="parameters" element="tjsr:InternalErrorFault" />
	</wsdl:message>

		
	<wsdl:message name='GetPatientRelationsForCareProviderRequest'>
		<wsdl:part name='LogicalAddress' element='itr:LogicalAddress'>
			<wsdl:documentation>http://tempuri.org</wsdl:documentation>
		</wsdl:part>
	
		<wsdl:part name='parameters' element='tjsr:GetPatientRelationsForCareProviderRequest' />
	</wsdl:message>

	<wsdl:message name='GetPatientRelationsForCareProviderResponse'>
		<wsdl:part name='parameters' element='tjsr:GetPatientRelationsForCareProviderResponse' />
	</wsdl:message>

	<wsdl:portType name='GetPatientRelationsForCareProviderResponderInterface'>
		<wsdl:operation name='GetPatientRelationsForCareProvider'>
			<wsdl:input message='tns:GetPatientRelationsForCareProviderRequest' />
			<wsdl:output message='tns:GetPatientRelationsForCareProviderResponse' />
			<wsdl:fault name="UnauthorizedFault" message="tns:UnauthorizedFault" />
			<wsdl:fault name="ValidationErrorFault" message="tns:ValidationErrorFault" />
			<wsdl:fault name="InternalErrorFault" message="tns:InternalErrorFault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name='GetPatientRelationsForCareProviderResponderBinding' type='tns:GetPatientRelationsForCareProviderResponderInterface'>
		<soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http' />
		<wsdl:operation name='GetPatientRelationsForCareProvider'>
			<soap:operation soapAction='urn:riv:ehr:patientrelationship:querying:GetPatientRelationsForCareProviderResponder:1:GetPatientRelationsForCareProvider' style='document' />
			<wsdl:input>
				<soap:header use='literal' message='tns:GetPatientRelationsForCareProviderRequest' part='LogicalAddress' />
				<soap:body use='literal' parts='parameters' />
			</wsdl:input>
			<wsdl:output>
				<soap:body use='literal' />
			</wsdl:output>
			<wsdl:fault name="UnauthorizedFault">
				<soap:fault use="literal" name="UnauthorizedFault" />
			</wsdl:fault>
			<wsdl:fault name="ValidationErrorFault">
				<soap:fault use="literal" name="ValidationErrorFault" />
			</wsdl:fault>
			<wsdl:fault name="InternalErrorFault">
				<soap:fault use="literal" name="InternalErrorFault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name='GetPatientRelationsForCareProviderResponderService'>
		<wsdl:port name='GetPatientRelationsForCareProviderResponderPort' binding='tns:GetPatientRelationsForCareProviderResponderBinding'>
			<soap:address location='http://tempuri.org' />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
