ServiceInteractions/riv/crm/scheduling/trunk/schemas/interactions/GetCancelledAndRebookedInteraction/GetCancelledAndRebookedInteraction_1.0_rivtabp20.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Cross/BookingService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://Cross/BookingService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Cross/BookingService/">
      <s:element name="GetCancelledAndRebooked">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCancelledAndRebookedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCancelledAndRebookedResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCancelledAndRebookedSoapIn">
    <wsdl:part name="parameters" element="tns:GetCancelledAndRebooked" />
  </wsdl:message>
  <wsdl:message name="GetCancelledAndRebookedSoapOut">
    <wsdl:part name="parameters" element="tns:GetCancelledAndRebookedResponse" />
  </wsdl:message>
  <wsdl:portType name="GetCancelledAndRebookedInteractionWSISoap">
    <wsdl:operation name="GetCancelledAndRebooked">
      <wsdl:input message="tns:GetCancelledAndRebookedSoapIn" />
      <wsdl:output message="tns:GetCancelledAndRebookedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetCancelledAndRebookedInteractionWSISoap" type="tns:GetCancelledAndRebookedInteractionWSISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCancelledAndRebooked">
      <soap:operation soapAction="http://Cross/BookingService/GetCancelledAndRebooked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetCancelledAndRebookedInteractionWSISoap12" type="tns:GetCancelledAndRebookedInteractionWSISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCancelledAndRebooked">
      <soap12:operation soapAction="http://Cross/BookingService/GetCancelledAndRebooked" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetCancelledAndRebookedInteractionWSI">
    <wsdl:port name="GetCancelledAndRebookedInteractionWSISoap" binding="tns:GetCancelledAndRebookedInteractionWSISoap">
      <soap:address location="http://localhost/BookingService/GetCancelledAndRebookedInteractionWSI.asmx" />
    </wsdl:port>
    <wsdl:port name="GetCancelledAndRebookedInteractionWSISoap12" binding="tns:GetCancelledAndRebookedInteractionWSISoap12">
      <soap12:address location="http://localhost/BookingService/GetCancelledAndRebookedInteractionWSI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>