ServiceInteractions/riv/clinicalprocess/healthcond/description/tags/clinicalprocess_healthcond_description_2.1_RC7/test-suite/GetAlertInformation/constraintsNPO.xml

<?xml version="1.0" encoding="utf-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements. See the NOTICE file
distributed with this work for additional information
regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
to you under the Apache License, Version 2.0 (the
        "License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
-->
<iso:schema
        xmlns="http://purl.oclc.org/dsdl/schematron"
        xmlns:iso="http://purl.oclc.org/dsdl/schematron"
        queryBinding='xslt2'
        schemaVersion='ISO19757-3'>

    <iso:title>Validation of NPÖ-rules for GetAlertInformation</iso:title>
    <iso:ns prefix='urn1' uri='urn:riv:clinicalprocess:healthcond:description:2'/>
    <iso:ns prefix='urn' uri='urn:riv:clinicalprocess:healthcond:description:GetAlertInformationResponder:2'/>

    <!-- NPÖ rules -->
    <iso:pattern id="Verify accountableHealthcareProfessional">
        <iso:rule context="urn1:accountableHealthcareProfessional">
            <iso:assert test="count(urn1:healthcareProfessionalHSAId) = 1"><iso:name /> must contain healthcareProfessionalHSAId element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="string-length(normalize-space(urn1:healthcareProfessionalHSAId)) > 0"><iso:name /> healthcareProfessionalHSAId must have a value for NPÖ-compatibility.</iso:assert>
            <iso:assert test="count(urn1:healthcareProfessionalName) = 1"><iso:name /> must contain healthcareProfessionalName element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="string-length(normalize-space(urn1:healthcareProfessionalName)) > 0"><iso:name /> healthcareProfessionalName must have a value for NPÖ-compatibility.</iso:assert>
            <iso:assert test="count(urn1:healthcareProfessionalRoleCode) = 1"><iso:name /> must contain healthcareProfessionalRoleCode element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="count(urn1:healthcareProfessionalOrgUnit) = 1"><iso:name /> must contain healthcareProfessionalOrgUnit element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="count(urn1:healthcareProfessionalCareUnitHSAId) = 1"><iso:name /> must contain healthcareProfessionalCareUnitHSAId element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="count(urn1:healthcareProfessionalCareGiverHSAId) = 1"><iso:name /> must contain healthcareProfessionalcareGiverHSAId element for NPÖ-compatibility.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <iso:pattern id="Verify healthcareProfessionalOrgUnit">
        <iso:rule context="urn1:healthcareProfessionalOrgUnit">
            <iso:assert test="count(urn1:orgUnitHSAId) = 1"><iso:name /> must contain orgUnitHSAId element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="string-length(normalize-space(urn1:orgUnitHSAId)) > 0"><iso:name /> orgUnitHSAId must have a value for NPÖ-compatibility.</iso:assert>
            <iso:assert test="count(urn1:orgUnitName) = 1"><iso:name /> must contain orgUnitName element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="string-length(normalize-space(urn1:orgUnitName)) > 0"><iso:name /> orgUnitName must have a value for NPÖ-compatibility.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <iso:pattern id="Verify degreeOfSeverity">
        <iso:rule context="urn1:degreeOfSeverity">
            <iso:assert test="count(urn1:code) = 1"><iso:name /> must contain code element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="normalize-space(urn1:codeSystem) = '1.2.752.129.2.2.3.3'">
                In <iso:name /> codeSystem must be 1.2.752.129.2.2.3.3 for NPÖ-compatibility.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <iso:pattern id="Verify degreeOfCertainty">
        <iso:rule context="urn1:degreeOfCertainty">
            <iso:assert test="count(urn1:code) = 1"><iso:name /> must contain code element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="normalize-space(urn1:codeSystem) = '1.2.752.129.2.2.3.11'">
                In <iso:name /> codeSystem must be 1.2.752.129.2.2.3.11 for NPÖ-compatibility.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <iso:pattern id="Verify pharmaceuticalProductId">
        <iso:rule context="urn1:pharmaceuticalProductId">
            <iso:assert test="count(urn1:code) = 1"><iso:name /> must contain code element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="normalize-space(urn1:codeSystem) = '1.2.752.129.2.1.5.1'">
                In <iso:name /> codeSystem must be 1.2.752.129.2.1.5.1 for NPÖ-compatibility.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <iso:pattern id="Verify pharmaceuticalTreatment">
        <iso:rule context="urn1:pharmaceuticalTreatment">
            <iso:assert test="count(urn1:code) = 1"><iso:name /> must contain code element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="normalize-space(urn1:codeSystem) = '1.2.752.129.2.2.3.1.1'">
                In <iso:name /> codeSystem must be 1.2.752.129.2.2.3.1.1 for NPÖ-compatibility.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <iso:pattern id="Verify communicableDisease">
        <iso:rule context="urn1:alertInformationBody/urn1:communicableDisease">
            <iso:assert test="count(urn1:routeOfTransmission) = 1"><iso:name /> must contain routeOfTransmission element for NPÖ-compatibility.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <iso:pattern id="Verify typeOfAlertInformationRelationship">
        <iso:rule context="urn1:typeOfAlertInformationRelationship">
            <iso:assert test="count(urn1:code) = 1"><iso:name /> must contain code element for NPÖ-compatibility.</iso:assert>
            <iso:assert test="normalize-space(urn1:codeSystem) = '1.2.752.129.2.2.2.4'">
                In <iso:name /> codeSystem must be 1.2.752.129.2.2.2.4 for NPÖ-compatibility.</iso:assert>
        </iso:rule>
    </iso:pattern>
</iso:schema>
