ServiceInteractions/riv/clinicalprocess/activityprescription/prescribe/trunk/schemas/core_components/clinicalprocess_activityprescription_prescribe-dosage_1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<?xml-stylesheet type="text/xsl" href="./xsd_viewer.xsl"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Apotekens Service AB licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema
        xmlns:xs='http://www.w3.org/2001/XMLSchema'
        xmlns='urn:riv:clinicalprocess:activityprescription:prescribe:1'
        targetNamespace='urn:riv:clinicalprocess:activityprescription:prescribe:1'
        elementFormDefault='qualified'
        attributeFormDefault='unqualified'
        version='1.0'>

    <xs:annotation>
        <xs:documentation>
            Beskrivning: 	    Informationsobjekt för dosmodell
            Revisionshistorik:  2013-04-29 Fredrik Johansson, Apotekens Service AB
                                Separat schema för doseringsmodell. Nya doseringstyper.
                                2013-05-01 Daniel Sundberg, Apotekens Service AB
                                Rensat objekt som inte skiljer sig in/ut.
                                2013-06-28 Daniel Sundberg, Apotekens Service AB.
                                Konsoliderat struktur och ordning för läsbarhet.
        </xs:documentation>
    </xs:annotation>

    <xs:complexType name="OrdineradDosering">
        <xs:sequence>

            <xs:element name="doseringssteg"
                        type="Doseringssteg"
                        minOccurs="1"
                        maxOccurs="unbounded"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Doseringssteg.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Doseringssteg">
        <xs:sequence>

            <xs:element name="behandlingstid"
                        type="Tidsperiod"
                        minOccurs="0"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Den tid under vilket läkemedlet ska användas enligt ordination, t.ex. 4 veckor, 5–6 veckor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="doseringsenhet"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Den enhet som doseringen avser, t.ex. tablett, ml eller dropp.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="fastdosering"
                        type="Dosering"
                        minOccurs="0"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Dosering där ordinatören har bestämt mängd och periodicitet,
                        t.ex. 2 tabletter 3 gånger dagligen. Kan vara av valfri doseringstyp.
                        Obligatorisk parameter om Villkorsdosering saknas.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="kortNotation"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Angiven kortnotation som beskriver doseringen.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="maxdosering"
                        type="Dosering"
                        minOccurs="0"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Dosering som anger den högsta tillåtna mängden under en viss period,
                        t.ex. högst 5 tabletter per vecka. Kan vara av valfri doseringstyp.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="maxtid"
                        type="xs:boolean"
                        minOccurs="0"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Indikerar om behandlingstid avser den maximala tid som läkemedlet får användas.
                        Obligatorisk parameter om behandlingstid anges. Får ej anges om behandlingstid saknas.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="villkorsdosering"
                        type="Dosering"
                        minOccurs="0"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Ordinerad mängd och periodicitet som gäller om ett visst villkor är uppfyllt,
                        t.ex. 1-2 tabletter till natten. Kan vara av valfri doseringstyp.
                        Obligatorisk parameter om Fast dosering saknas.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="villkorstext"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Text som anger villkor kopplat till en villkorsdosering,t.ex. "vid behov".
                        Kan anges endast om Villkorsdosering används.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Tidsperiod">
        <xs:sequence>

            <xs:element name="tidsintervall"
                        type="Intervall"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Tidsperiodens intervall.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="tidsenhet"
                        type="tidsenhet"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Tidsperiodens tidsenhet.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Dosering">
        <xs:sequence>

            <xs:choice>

                <xs:element name="fritextdosering"
                            type="Fritextdosering"
                            minOccurs="0"
                            maxOccurs="1"
                            nillable="false">
                    <xs:annotation>
                        <xs:documentation>
                            Eventuell fritextdosering.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="tillfallesdosering"
                            type="Tillfallesdosering"
                            minOccurs="0"
                            maxOccurs="1"
                            nillable="false">
                    <xs:annotation>
                        <xs:documentation>
                            Eventuell tillfällesdosering.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="engangsdosering"
                            type="Engangsdosering"
                            minOccurs="0"
                            maxOccurs="1"
                            nillable="false">
                    <xs:annotation>
                        <xs:documentation>
                            Eventuell engångsdosering.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="frekvensdosering"
                            type="Frekvensdosering"
                            minOccurs="0"
                            maxOccurs="1"
                            nillable="false">
                    <xs:annotation>
                        <xs:documentation>
                            Eventuell frekvensdosering.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="perioddosering"
                            type="Perioddosering"
                            minOccurs="0"
                            maxOccurs="1"
                            nillable="false">
                    <xs:annotation>
                        <xs:documentation>
                            Eventuell perioddosering.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="rampdosering"
                            type="Rampdosering"
                            minOccurs="0"
                            maxOccurs="1"
                            nillable="false">
                    <xs:annotation>
                        <xs:documentation>
                            Eventuell rampdosering.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

            </xs:choice>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Fritextdosering">
        <xs:sequence>

            <xs:element name="fritextdosering"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Dosering angiven i klartext.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Tillfallesdosering">
        <xs:sequence>

            <xs:element name="doseringstillfallen"
                        type="Doseringstillfalle"
                        minOccurs="1"
                        maxOccurs="unbounded"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Det eller de doseringstillfällen som anger mängd och tidpunkt för intag inom perioden.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="periodlangd"
                        type="xs:int"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Periodtid i dagar.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Engangsdosering">
        <xs:sequence>

            <xs:element name="dos"
                        type="Intervall"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Den mängd läkemedel som ska intas eller appliceras, t.ex. 20 ml.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="tid"
                        type="Tidpunkt"
                        minOccurs="0"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Den tid eller det tillfälle under dygnet när läkemedlet ska intas eller appliceras.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Frekvensdosering">
        <xs:sequence>

            <xs:element name="dos"
                        type="Intervall"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Den mängd läkemedel som ska
                        intas eller appliceras vid varje
                        tillfälle, t.ex. 2 tabletter.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="frekvens"
                        type="Frekvens"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Periodicitet för intaget eller appliceringen uttryck som antal
                        gånger per tidsenhet, t.ex. 3 gånger dagligen.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Perioddosering">
        <xs:sequence>

            <xs:element name="dos"
                        type="Intervall"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Den mängd läkemedel som ska intas eller appliceras vid varje
                        tillfälle, t.ex. 2 tabletter.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="tidsperiod"
                        type="Tidsperiod"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Periodicitet för intaget eller appliceringen uttryck som
                        förfluten tid mellan varje intag eller applicering, t.ex. var 6:e timme.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Rampdosering">
        <xs:sequence>

            <xs:element name="startDosering"
                        type="Dosering"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Den dosering som gäller vid Doseringsstegets start.
                        Kan vara av valfri doseringstyp förutom av typen rampdosering.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="slutDosering"
                        type="Dosering"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Den dosering som gäller vid Doseringsstegets slut.
                        slutDosering ska vara samma doseringstyp som startDosering.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="dossteg"
                        type="Intervall"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Den mängd som dosen ska ökas eller minskas med vid varje tidssteg.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="tidssteg"
                        type="Tidsperiod"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Den tid som ska förflyta mellan varje ändring av dosen.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Tidpunkt">
        <xs:sequence>

            <xs:element name="dag"
                        type="Dag"
                        minOccurs="0"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Dag för tidpunkt.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="tidInomDygnet"
                        type="TidInomDygnet"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Tid inom dygnet.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Dag">
        <xs:sequence>

            <xs:choice>

                <xs:element name="datum"
                            type="xs:dateTime"
                            minOccurs="0"
                            maxOccurs="1"
                            nillable="false">
                    <xs:annotation>
                        <xs:documentation>
                            Datum för dag.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="veckodag"
                            type="veckodag"
                            minOccurs="0"
                            maxOccurs="1"
                            nillable="false">
                    <xs:annotation>
                        <xs:documentation>
                            Veckodag för dag.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="dagNr"
                            type="xs:int"
                            minOccurs="0"
                            maxOccurs="1"
                            nillable="false">
                    <xs:annotation>
                        <xs:documentation>
                            Antal dagar från Doseringsstegets början.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

            </xs:choice>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Frekvens">
        <xs:sequence>

            <xs:element name="varde"
                        type="Intervall"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Värdet för frekvensen.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="tidsenhet"
                        type="tidsenhet"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Tidsenheten för frekvensen.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Doseringstillfalle">
        <xs:sequence>

            <xs:element name="dos"
                        type="Intervall"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Den mängd läkemedel som ska intas eller appliceras.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="tid"
                        type="TidInomDygnet"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Den tid eller det tillfälle under dygnet när läkemedlet ska
                        intas eller appliceras.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="dagIPeriod"
                        type="xs:int"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Dag i perioden när intag skall ske.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TidInomDygnet">
        <xs:sequence>

            <xs:element name="handelse"
                        type="Handelse"
                        minOccurs="0"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Eventuell händelse.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="klockslag"
                        type="Klockslag"
                        minOccurs="0"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Eventuellt klockslag.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Klockslag">
        <xs:sequence>

            <xs:element name="minut"
                        type="xs:int"
                        minOccurs="0"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Minut inom timme.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="timme"
                        type="xs:int"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Timme inom dygnet.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Handelse">
        <xs:sequence>

            <xs:element name="beskrivning"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Beskrivning av händelsen.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Intervall">
        <xs:sequence>

            <xs:element name="max"
                        type="NumerisktVarde"
                        minOccurs="0"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Intervallets maxvärde.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="min"
                        type="NumerisktVarde"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Intervallets minvärde.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NumerisktVarde">
        <xs:sequence>

            <xs:choice>

                <xs:element name="decimaltal"
                            type="decimaltal"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="false">
                    <xs:annotation>
                        <xs:documentation>
                            Decimaltalsangivelse av numeriskt värde.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="braktal"
                            type="Braktal"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="false">
                    <xs:annotation>
                        <xs:documentation>
                            Bråktalsangivelse för numeriskt värde.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

            </xs:choice>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Braktal">
        <xs:sequence>
            <xs:element name="taljare"
                        type="xs:integer"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Täljare i bråktal.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="namnare"
                        type="xs:integer"
                        minOccurs="1"
                        maxOccurs="1"
                        nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        Nämnare i bråktal.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="veckodag">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MANDAG"/>
            <xs:enumeration value="TISDAG"/>
            <xs:enumeration value="ONSDAG"/>
            <xs:enumeration value="TORSDAG"/>
            <xs:enumeration value="FREDAG"/>
            <xs:enumeration value="LORDAG"/>
            <xs:enumeration value="SONDAG"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tidsenhet">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MINUTER"/>
            <xs:enumeration value="TIMMAR"/>
            <xs:enumeration value="DYGN"/>
            <xs:enumeration value="VECKOR"/>
            <xs:enumeration value="MANADER"/>
            <xs:enumeration value="AR"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
