src/bp20/refapp/trunk/rivta-bp20-refapp-schemas/src/main/resources/schemas/business/JournalinfoApoteketRIV/EhrExtractionInteraction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
	name="EhrExtractionInteraction"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:wsa="http://www.w3.org/2005/08/addressing" 
	xmlns:tns="urn:riv:ehr:ehrexchange:EhrExtraction:1:rivtabp20" 
	xmlns:tjs="urn:riv:ehr:ehrexchange:EhrExtractionResponder:1" 
	targetNamespace="urn:riv:ehr:ehrexchange:EhrExtraction:1:rivtabp20">
	
	<wsdl:types>
		<xs:schema>
			<xs:import schemaLocation="EhrExtractionResponder_1.0.xsd" namespace="urn:riv:ehr:ehrexchange:EhrExtractionResponder:1"/>
		</xs:schema>
		<xs:schema >
			<xs:import schemaLocation="../../technical/wsaddressing/ws-addressing-1.0.xsd" namespace="http://www.w3.org/2005/08/addressing"/>
		</xs:schema>
	</wsdl:types>
		
	<wsdl:message name="GetEhrExtractRequest">
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="parameters" element="tjs:GetEhrExtract"/>
	</wsdl:message>
	<wsdl:message name="GetEhrExtractContinuationRequest">
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="parameters" element="tjs:GetEhrExtractContinuation"/>
	</wsdl:message>
	<wsdl:message name="GetEhrExtractResponse">
		<wsdl:part name="parameters" element="tjs:GetEhrExtractResponse"/>
	</wsdl:message>
	
	<wsdl:portType name="EhrExtractionResponderInterface">
	
		<wsdl:operation name="GetEhrExtract">
			<wsdl:input message="tns:GetEhrExtractRequest"/>
			<wsdl:output message="tns:GetEhrExtractResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="GetEhrExtractContinuation">
			<wsdl:input message="tns:GetEhrExtractContinuationRequest"/>
			<wsdl:output message="tns:GetEhrExtractResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="EhrExtractionResponderBinding" type="tns:EhrExtractionResponderInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="GetEhrExtract">
			<soap:operation soapAction="urn:riv:ehr:ehrexchange:EhrExtractionResponder:1:GetEhrExtract"/>
			<wsdl:input>
				<soap:header use="literal" message="tns:GetEhrExtractRequest" part="LogicalAddress"/>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetEhrExtractContinuation">
			<soap:operation soapAction="urn:riv:ehr:ehrexchange:EhrExtractionResponder:1:GetEhrExtractContinuation"/>
			<wsdl:input>
				<soap:header use="literal" message="tns:GetEhrExtractContinuationRequest" part="LogicalAddress"/>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="EhrExtractionResponderService">
		<wsdl:port name="EhrExtractionResponderPort" binding="tns:EhrExtractionResponderBinding">
			<soap:address location="http://tempuri.org/"/>
		</wsdl:port>
	</wsdl:service>
	
	<xs:annotation>
		<xs:documentation>
		Rodolfo Garcia
		Torbjorn Dahlin
		Brainpool - Mawell AB
		
		WSDL descriptions for Request_EHR_EXTRACT method from 13606-5.
		
		[JE: Changed from xsd:include to xsd:import, which seems to be the "beat-practice" interpretation
		     of the slightly ambiguous rule in WS-I Basic Profile v.1.1. ]
		[JE: Added the RIV header to each operation and its bindning to the soap:header.
		     This allows the header to be conveniently processed by project using 
		     JSR-181 Web Services Metadata for the JavaTM Platform (JAXWS 2)]
		[JE: Change name spaces of schemas to follow oasis best-practice, which also complies to BIF name space strategy.
			 The initial name space was bound to the applied interoperability standard rather than this 
			 specific application of it, which does not allow us to use name spaces to manage 
			 versioning. The name space of the WSDL could remain as is, to document the interop standard
			 used for this service specification, since it doesn't have a wire footprint. The namespace
			 of the elements need however to be specific to the service, so that we can update the name space
			 in case we need to break backwards compatibility for the payload. ]
		
		[ML: Adapted to RIV TA Basic Profile 2.0]
		
		The method has extended to support the following functionality:
		
		Continuation
		------------------
		The ability to fetch batches of EHR_EXTRACTS
		rather than all or nothing.
		
		[JE: Do we need to specifiy the expected lifetime of referenced collection? I.e.
		     the contract may need to specify expectations on minimum validity time interval for the
		     continuation token?]
		
		Multiple errors, warnings and/or informational messages
		--------------------------------------------------------------------------------
		This implementationen allows a collection of these types of
		messages to be returned, with or without actual EHR_EXTRACT results.
		
		Generic parameters
		----------------------------
		A collection of generic (name, value) pairs are allowed as inbound
		parameters.
		
		Use of ISO 21090 datatypes
		-----------------------------------------
		The ISO datatypes are used at the parameter level.
		</xs:documentation>
	</xs:annotation>
</wsdl:definitions>
