ServiceInteractions/local/kvalitetsregister/rikssvikt/trunk/RikssviktInteraction_1.0_rivtabp20.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<wsdl:definitions 
	name="RikssviktInteraction"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:wsa="http://www.w3.org/2005/08/addressing" 
	xmlns:tjs="urn:riv:Kvalitetsregister:RikssviktResponder:1" 
	xmlns:kr="urn:riv:Kvalitetsregister:1" 
	xmlns="urn:riv:Kvalitetsregister:Rikssvikt:1:rivtabp20" 
	targetNamespace="urn:riv:Kvalitetsregister:Rikssvikt:1:rivtabp20">

	<xs:annotation>
		<xs:documentation>
			Tjänsteinteraktionens namn: Rikssvikt
			Beskrivning: Tjänsteinteraktion för kommunikation mot kvalitetsregistret Rikssvikt
			Revisioner: 2009-10-02 Version 1.0
			Tjänstedomän: Kvalitetsregister
			Tjänsteinteraktionstyp: Fråga-svar
			RIV Teknisk Anvisning: Basic Profile 2.0
			Förvaltas av: RIV-TA-förvaltningen inom Arkitekturledningen, SKL
		</xs:documentation>
	</xs:annotation>

	<wsdl:types>
		<xs:schema>
			<xs:import schemaLocation="RikssviktResponder_1.0.xsd" namespace="urn:riv:Kvalitetsregister:RikssviktResponder:1"/>
			<xs:import schemaLocation="ws-addressing-1.0.xsd" namespace="http://www.w3.org/2005/08/addressing"/>
		</xs:schema>		
	</wsdl:types>
<!-- 
	<wsdl:message name="GetDescriptionRequest">
		<xs:annotation>
			<xs:documentation>
				LogicalAddress skall vara HSA-id för kvalitetsregistret Rikssvikt.
			</xs:documentation>
		</xs:annotation>
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="parameters" element="tjs:GetDescription" />
	</wsdl:message>
	<wsdl:message name="GetDescriptionResponse">
		<wsdl:part name="parameters" element="tjs:GetDescriptionResponse"/>
	</wsdl:message>

	<wsdl:message name="GetDefinitionRequest">
		<xs:annotation>
			<xs:documentation>
				LogicalAddress skall vara HSA-id för kvalitetsregistret Rikssvikt.
			</xs:documentation>
		</xs:annotation>	
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="parameters" element="tjs:GetDefinition"/>
	</wsdl:message>
 
	<wsdl:message name="GetDefinitionResponse">
		<wsdl:part name="parameters" element="tjs:GetDefinitionResponse"/>
	</wsdl:message>
-->
	
	<wsdl:message name="CreateRegistryDataRequest">
		<xs:annotation>
			<xs:documentation>
				LogicalAddress skall vara HSA-id för kvalitetsregistret Rikssvikt.
			</xs:documentation>
		</xs:annotation>	
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="parameters" element="tjs:CreateRegistryData"/>
	</wsdl:message>
	<wsdl:message name="CreateRegistryDataResponse">
		<wsdl:part name="parameters" element="tjs:CreateRegistryDataResponse"/>
	</wsdl:message>

	<wsdl:message name="UpdateRegistryDataRequest">
		<xs:annotation>
			<xs:documentation>
				LogicalAddress skall vara HSA-id för kvalitetsregistret Rikssvikt.
			</xs:documentation>
		</xs:annotation>	
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="parameters" element="tjs:UpdateRegistryData"/>
	</wsdl:message>
	<wsdl:message name="UpdateRegistryDataResponse">
		<wsdl:part name="parameters" element="tjs:UpdateRegistryDataResponse"/>
	</wsdl:message>

	<wsdl:message name="GetRegistryDataRequest">
		<xs:annotation>
			<xs:documentation>
				LogicalAddress skall vara HSA-id för kvalitetsregistret Rikssvikt.
			</xs:documentation>
		</xs:annotation>	
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="parameters" element="tjs:GetRegistryData"/>
	</wsdl:message>
	<wsdl:message name="GetRegistryDataResponse">
		<wsdl:part name="parameters" element="tjs:GetRegistryDataResponse"/>
	</wsdl:message>

	<wsdl:portType name="RikssviktResponderInterface">

<!-- 		
		<wsdl:operation name="GetDescription">
			<wsdl:input message="GetDescriptionRequest"/>
			<wsdl:output message="GetDescriptionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetDefinition">
			<wsdl:input message="GetDefinitionRequest"/>
			<wsdl:output message="GetDefinitionResponse"/>
		</wsdl:operation>
-->		

		<wsdl:operation name="CreateRegistryData">
			<wsdl:input message="CreateRegistryDataRequest"/>
			<wsdl:output message="CreateRegistryDataResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="UpdateRegistryData">
			<wsdl:input message="UpdateRegistryDataRequest"/>
			<wsdl:output message="UpdateRegistryDataResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="GetRegistryData">
			<wsdl:input message="GetRegistryDataRequest"/>
			<wsdl:output message="GetRegistryDataResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="RikssviktResponderBinding" type="RikssviktResponderInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

<!-- 
		<wsdl:operation name="GetDescription">
			<soap:operation soapAction="urn:riv:Kvalitetsregister:RikssviktResponder:1:GetDescription"/>
			<wsdl:input>
				<soap:header use="literal" message="GetDescriptionRequest" part="LogicalAddress"/>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetDefinition">
			<soap:operation soapAction="urn:riv:Kvalitetsregister:RikssviktResponder:1:GetDefinition"/>
			<wsdl:input>
				<soap:header use="literal" message="GetDefinitionRequest" part="LogicalAddress"/>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
-->

		<wsdl:operation name="CreateRegistryData">
			<soap:operation soapAction="urn:riv:Kvalitetsregister:RikssviktResponder:1:CreateRegistryData"/>
			<wsdl:input>
				<soap:header use="literal" message="CreateRegistryDataRequest" part="LogicalAddress"/>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="UpdateRegistryData">
			<soap:operation soapAction="urn:riv:Kvalitetsregister:RikssviktResponder:1:UpdateRegistryData"/>
			<wsdl:input>
				<soap:header use="literal" message="UpdateRegistryDataRequest" part="LogicalAddress"/>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="GetRegistryData">
			<soap:operation soapAction="urn:riv:Kvalitetsregister:RikssviktResponder:1:GetRegistryData"/>
			<wsdl:input>
				<soap:header use="literal" message="GetRegistryDataRequest" part="LogicalAddress"/>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="RikssviktResponderService">
		<wsdl:port name="RikssviktResponderPort" binding="RikssviktResponderBinding">
			<soap:address location="https://130.238.144.247/ehrint-war/IFK2WS"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
