src/bp21/refapp/java/cxf/rivta-refapp-schemas/src/main/resources/schemas/core_components/logical-address-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns="urn:riv:itintegration:registry:1" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:riv:itintegration:registry:1" 
	elementFormDefault="qualified"
	version="1.0">
	
	<xs:element name="LogicalAddress" type="LogicalAddressType"/>
	
	<xs:complexType name="LogicalAddressType">
		<xs:sequence>
			<xs:element name="To" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>