ServiceInteractions/riv/clinicalprocess/healthcond/description/trunk/test-suite/GetCareDocumentation/constraints.xml

<?xml version="1.0" encoding="utf-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements. See the NOTICE file
distributed with this work for additional information
regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
to you under the Apache License, Version 2.0 (the
        "License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
-->
<iso:schema
        xmlns="http://purl.oclc.org/dsdl/schematron"
        xmlns:iso="http://purl.oclc.org/dsdl/schematron"
        queryBinding='xslt2'
        schemaVersion='ISO19757-3'>

    <iso:title>Validation for GetMaternityMedicalHistory</iso:title>

    <iso:ns prefix='urn' uri='urn:riv:clinicalprocess:healthcond:description:GetCareDocumentationResponder:2' />
    <iso:ns prefix='urn1' uri='urn:riv:clinicalprocess:healthcond:description:2' />

    <!-- Rules for Response -->
    <iso:pattern name="Verify author">
        <iso:rule context="urn1:author">
            <iso:assert test="count(urn1:authorRoleCode) + count(urn1:authorOtherRole) = 1">
                Either one of authorRoleCode or authorOtherRole must be given for <iso:name />.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <iso:pattern name="Verify clinicalDocumentNote">
        <iso:rule context="urn1:clinicalDocumentNote">
            <iso:assert test="count(urn1:clinicalDocumentNoteCode) + count(urn1:clinicalDocumentTypeCode) = 1">
                Either one of clinicalDocumentNoteCode or clinicalDocumentTypeCode must be given for <iso:name />.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <iso:pattern name="Verify careDocumentationBody">
        <iso:rule context="urn1:careDocumentationBody">
            <iso:assert test="count(urn1:clinicalDocumentNote/urn1:clinicalDocumentNoteText) + count(urn1:multimediaEntry) = 1">
                Either one of clinicalDocumentNoteText or multimediaEntry must be given for <iso:name />.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <iso:pattern name="Verify mediaType">
        <iso:rule context="urn1:mediaType">
            <iso:assert test="count(urn1:value) + count(urn1:reference) = 1">
                Either one of value or reference must be given for <iso:name />.</iso:assert>
        </iso:rule>
    </iso:pattern>

</iso:schema>
