ServiceInteractions/riv/clinicalprocess/activityprescription/trunk/schemas/interactions/OrdineraUtsattningInteraction/OrdineraUtsattningResponder_1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Apotekens Service AB licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:tns='urn:riv:clinicalprocess:activityprescription:OrdineraUtsattningResponder:1' xmlns:core='urn:riv:clinicalprocess:activityprescription:1' targetNamespace='urn:riv:clinicalprocess:activityprescription:OrdineraUtsattningResponder:1' elementFormDefault='qualified' attributeFormDefault='unqualified' version='1.0'>

    <xs:import schemaLocation='../../core_components/clinicalprocess_activityprescription_1.0.xsd' namespace='urn:riv:clinicalprocess:activityprescription:1' />

    <xs:element name='OrdineraUtsattning' type='tns:OrdineraUtsattningType' />

    <xs:element name='OrdineraUtsattningResponse' type='tns:OrdineraUtsattningResponseType' />

    <xs:complexType name='OrdineraUtsattningType'>
        <xs:sequence>

            <xs:element name="aktuellUnderlagstidpunkt" type="xs:dateTime" nillable="false">
                <xs:annotation>
                    <xs:documentation>Tidpunkt för senast uppläst underlag för utsättning.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forskrivningsmakulering" type="tns:Forskrivningsmakulering" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Makulering av förskrivning för icke dospatient.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forskrivningsutsattning" type="tns:Forskrivningsutsattning" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Utsättning av förskrivning för dospatient.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ordinationsId" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Referens till ordination att sätta ut.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="utsattning" type="tns:Utsattning" nillable="false">
                <xs:annotation>
                    <xs:documentation>Utsättningsinformation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:any namespace='##other' processContents='lax' minOccurs='0' maxOccurs='unbounded' />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name='OrdineraUtsattningResponseType'>
        <xs:sequence>
            <xs:element name="ordinationsId" type="xs:string" nillable="false" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Referens till ordination att sätta ut.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="uppdateradUnderlagstidpunkt" type="xs:dateTime" nillable="false" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tidpunkt för uppdaterat underlag efter utsättning.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="vokresultat" type="tns:VOKResultatResponse" nillable="false">
                <xs:annotation>
                    <xs:documentation>Resultat från VOK-UTS.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name='ResultCode' type='tns:ResultCodeEnum' />
            <xs:element name='comment' type='xs:string' minOccurs='0' />
            <xs:any namespace='##other' processContents='lax' minOccurs='0' maxOccurs='unbounded' />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name='ResultCodeEnum'>
        <xs:restriction base='xs:string'>
            <xs:enumeration value='OK' />
            <xs:enumeration value='ERROR' />
            <xs:enumeration value='INFO' />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="SystemException">
        <xs:annotation>
            <xs:documentation>Systemfel</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Utsattning">
        <xs:sequence>
            <xs:element name="beslutstidpunkt" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tidpunkt för uprättande av beslut.
                        Kan vara insättning/utsättning/makulering beroende på typ av förändring.
                        Om ej angiven antas momentan tidpunkt.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forandringstidpunkt" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tidpunkt för ordinationsförändring.
                        Kan vara insättningstidpunkt/utsättningstidpunkt/makuleringstidpunkt beroende på typ av förändring.
                        Om ej angiven antas momentan tidpunkt.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ordinerandeVardpersonal" type="tns:Vardpersonal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Ordinerande vardpersonal.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="registrerandeVardpersonal" type="tns:Vardpersonal" nillable="false">
                <xs:annotation>
                    <xs:documentation>Registrerande vårdpersonal</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="utsattningskommentar" type="xs:string" nillable="false" />

            <xs:element name="vardpersonalskommentar" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Kommentar för vårdpersonalsidentifiering.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Forskrivningsmakulering">
        <xs:sequence>
            <xs:element name="forskrivningsunderlagsversion" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Förskrivningens underlagsversion från receptdepån.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="makuleringskommentar" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Kommentar till varför receptet makuleras. Obligatorisk för makuleringsorsakskod 4. Får ej anges för övriga makuleringsorsakskoder.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="makuleringsorsakskod" type="xs:int" nillable="false">
                <xs:annotation>
                    <xs:documentation>Makulerings orsakskod.
                        1 = Fel patient
                        2 = Fel läkemedel/vara/ styrka/ändamål. Patienten informerad.
                        3 = Utsatt läkemedel/Inaktuell medicinering. Gäller ej dospatienter då utsättning skall användas. Patienten informerad.
                        4 = Annan orsak. Patienten informerad.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="makuleringssamtycke" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Markering att förskrivare har informerat patient om makulering. Obligatorisk om patienten ej är dospatient.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Forskrivningsutsattning">
        <xs:sequence>
            <xs:element name="akut" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Markering om utsättningen är akut. Får endast anges för dispenserad förskrivning.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forskrivningsunderlagsversion" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Förskrivningens underlagsversion från receptdepån.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VOKResultatResponse">
        <xs:sequence>
            <xs:element name="kontrolltidpunkt" type="xs:dateTime" nillable="false">
                <xs:annotation>
                    <xs:documentation>Datum och tidpunkt för utförd VOK-kontroll.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="kontrolltyp" type="xs:int" nillable="false">
                <xs:annotation>
                    <xs:documentation>Typ av VOKkontroll som har genomförts.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="vokFelLista" type="tns:VOKFelResponse" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Lista med VOKfel</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="vokStatus" type="xs:int" nillable="false">
                <xs:annotation>
                    <xs:documentation>Status för ordinationen. Allvarligaste VOKfelet styr status för hela ordinationen.
                        0: OK
                        1: Accepterad med varning
                        2: Avvisad</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VOKFelResponse">
        <xs:sequence>
            <xs:element name="allvarlighetsgrad" type="xs:int" nillable="false">
                <xs:annotation>
                    <xs:documentation>Kod för att beskriva hur allvarligt ett VOKfel är.

                        2 = Avvisad.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="felkod" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Felkod enligt Vårdens ordinationskontroller (VOK).</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="felmeddelande" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Felmeddelande för VOKfel.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Vardpersonal">
        <xs:sequence>
            <xs:element name="efternamn" type="xs:string" nillable="false" />

            <xs:element name="fornamn" type="xs:string" nillable="false" />

            <xs:element name="personHsaId" type="xs:string" nillable="false" />

            <xs:element name="vardenhetHsaId" type="xs:string" nillable="false" />

            <xs:element name="vardgivareHsaId" type="xs:string" nillable="false" />

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ApplicationException">
        <xs:annotation>
            <xs:documentation>Applikationsfel</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
