ServiceInteractions/riv/se_apotekensservice/nod/trunk/schemas/interactions/HamtaEjVerifieradeOrdinationerInteraction/HamtaEjVerifieradeOrdinationerInteraction_2.0_rivtabp20.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HamtaEjVerifieradeOrdinationerInteraction"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:spdr="urn:riv:se.apotekensservice:nod:HamtaEjVerifieradeOrdinationerResponder:2"
                  xmlns="urn:riv:se.apotekensservice:nod:HamtaEjVerifieradeOrdinationer:2:rivtabp20"
                  targetNamespace="urn:riv:se.apotekensservice:nod:HamtaEjVerifieradeOrdinationer:2:rivtabp20">

    <xs:annotation>
        <xs:documentation>
            Beskrivning: Tjänstekontraktet som avser att konkretisera tillämpningen av RIV.
            Revisioner: 2012-09-25 Version 2.0
            Tjänstedomän: se.apotekensservice:nod.
            Tjänsteinteraktionens namn: HamtaEjVerifieradeOrdinationer.
            Tjänsteinteraktionstyp: Fråga-Svar.
            RIV Tekniska Anvisning: Basic Profile 2.0
        </xs:documentation>
    </xs:annotation>

    <!-- Egendefinierade typer -->
    <wsdl:types>
        <xs:schema>
            <xs:import namespace="urn:riv:se.apotekensservice:nod:HamtaEjVerifieradeOrdinationerResponder:2" schemaLocation="HamtaEjVerifieradeOrdinationerResponder_2.0.xsd"/>
        </xs:schema>
    </wsdl:types>

    <!-- Meddelanden -->
    <wsdl:message name="HamtaEjVerifieradeOrdinationerRequest">
        <wsdl:part name="parameters" element="spdr:HamtaEjVerifieradeOrdinationer"/>
    </wsdl:message>
    <wsdl:message name="HamtaEjVerifieradeOrdinationerResponse">
        <wsdl:part name="parameters" element="spdr:HamtaEjVerifieradeOrdinationerResponse"/>
    </wsdl:message>
    <wsdl:message name="ApplicationException">
        <wsdl:part name="parameters" element="spdr:ApplicationException"/>
    </wsdl:message>
    <wsdl:message name="SystemException">
        <wsdl:part name="parameters" element="spdr:SystemException"/>
    </wsdl:message>

    <!-- Port typer -->
    <wsdl:portType name="HamtaEjVerifieradeOrdinationerResponderInterface">
        <wsdl:operation name="HamtaEjVerifieradeOrdinationer">
            <wsdl:input message="HamtaEjVerifieradeOrdinationerRequest"/>
            <wsdl:output message="HamtaEjVerifieradeOrdinationerResponse"/>
            <wsdl:fault name="ApplicationException" message="ApplicationException"/>
            <wsdl:fault name="SystemException" message="SystemException"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- Bindningar -->
    <wsdl:binding name="HamtaEjVerifieradeOrdinationerResponderBinding" type="HamtaEjVerifieradeOrdinationerResponderInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="HamtaEjVerifieradeOrdinationer">
            <soap:operation soapAction="urn:riv:se.apotekensservice:nod:HamtaEjVerifieradeOrdinationerResponder:2:HamtaEjVerifieradeOrdinationer"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApplicationException">
                <soap:fault use="literal" name="ApplicationException"/>
            </wsdl:fault>
            <wsdl:fault name="SystemException">
                <soap:fault use="literal" name="SystemException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Servicar -->
    <wsdl:service name="HamtaEjVerifieradeOrdinationerResponderService">
        <wsdl:port name="HamtaEjVerifieradeOrdinationerResponderPort" binding="HamtaEjVerifieradeOrdinationerResponderBinding">
            <soap:address location="http://temp.uri/"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
