ServiceInteractions/riv/clinicalprocess/healthcond/actoutcome/trunk/schemas/interactions/GetReferralOutcomeInteraction/GetReferralOutcomeResponder_2.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->		
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
     xmlns:tns="urn:riv:clinicalprocess:healthcond:actoutcome:GetReferralOutcomeResponder:2"
    xmlns:core="urn:riv:clinicalprocess:healthcond:actoutcome:2"
    xmlns:codes="urn:riv:clinicalprocess:healthcond:actoutcome:enums:2"
    targetNamespace="urn:riv:clinicalprocess:healthcond:actoutcome:GetReferralOutcomeResponder:2"
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified" 
    version="2.0">

    <xs:import schemaLocation="../../core_components/clinicalprocess_healthcond_actoutcome_2.0.xsd" namespace="urn:riv:clinicalprocess:healthcond:actoutcome:2"/>
    <xs:import schemaLocation="../../core_components/clinicalprocess_healthcond_actoutcome_enum_2.0.xsd" namespace="urn:riv:clinicalprocess:healthcond:actoutcome:enums:2"/>
    
    <xs:element name="GetReferralOutcome" type="tns:GetReferralOutcomeType"/>
    <xs:element name="GetReferralOutcomeResponse" type="tns:GetReferralOutcomeResponseType"/>
    
    <xs:complexType name="GetReferralOutcomeType">
        <xs:annotation>
            <xs:documentation>
                careUnitHSAid: 
                    HSA-Id för e-tjänsteproducent.
                patientId: 
                    Patientens identitet, nationellt unikt person-id.
                timePeriod:
                    Begränsning av sökningen i tid, baserat på kliniskt
                    relevanta datum. Händelser anses ligga inom intervallet, 
                    om de till någon del ligger inom intervallet. 
                    (Start- och slutpunkt inkluderas i intervallet.) 
                    Formatet för start- respektive slutdatum är ÅÅÅÅMMDD.
            </xs:documentation>
        </xs:annotation>	
        <xs:sequence>
            <xs:element name="careUnitHSAid" type="core:HSAIdType"/>
            <xs:element name="patientId" type="core:PatientIdType"/>
            <xs:element name="timePeriod" type="core:DatePeriodType" minOccurs="0"/>
            <xs:any namespace='##other' processContents='lax' minOccurs='0' maxOccurs='unbounded' />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="GetReferralOutcomeResponseType">
        <xs:annotation>
            <xs:documentation>
                referralOutcome:
                    Returnerar en patients konsultationsremisssvar
                result:
                    Status på resultat för frågan
            </xs:documentation>
        </xs:annotation>	
        <xs:sequence>
            <xs:element name="referralOutcome" type="tns:ReferralOutcomeType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="result" type="tns:ResultType"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ReferralOutcomeType">
        <xs:sequence>
            <xs:element name="referralOutcomeHeader" type="core:PatientSummaryHeaderType"/>
            <xs:element name="referralOutcomeBody" type="tns:ReferralOutcomeBodyType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ResultType">
        <xs:sequence>
            <xs:element name="resultCode" type="tns:ResultCodeEnum"/>
            <xs:element name="resultText" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="ResultCodeEnum">
        <xs:annotation>
            <xs:documentation> 
                Vid ett logiskt fel i de uppdaterande tjänsterna levereras resultCode, resultText. 
                
                resultCode kan vara: 
                OK      Transaktionen har utförts enligt uppdraget i frågemeddelandet. 
                INFO    Transaktionen har utförts enligt begäran, men detfinns ett 
                        meddelande som konsumenten måste visa upp för användaren (om tillämpbart).
                        Exempel på detta kan vara ”kom fastande”. 
                ERROR   Transaktionen har INTE kunnat utföras enligt p.g.a. logiskt fel. 
                        Det finns ett meddelande som konsumenten måste visa upp. Exempel på 
                        detta kan vara ”tiden har bokats av annan patient
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK"/>
            <xs:enumeration value="ERROR"/>
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ReferralOutcomeBodyType">
        <xs:annotation>
            <xs:documentation>
                referralOutcomeTypeCode:
                    Anger typ av svar. 
                    Giltiga koder: 
                        SR, svar på remissfråga
                        SS, slutsvar på remissfråga 
                referralOutcomeTitle: 
                    Dokument/anteckning
                referralOutcomeText:
                    Multimedia som finns i dokumentet, motsvaras 
                    av platshållare i careDocumentNoteText
                clinicalInformation:
                    Klinisk information för remissvaret. Fast
                    text som anger typ av svar.
                act:
                    Utförd åtgärd
                referral:
                    Information om den vårdbegäran som ligger
                    till grund för svaret.
            </xs:documentation>
        </xs:annotation>	
        <xs:sequence>
            <xs:element name="referralOutcomeTypeCode" type="codes:ReferralOutcomeTypeCodeEnum"/>
            <xs:element name="referralOutcomeTitle" type="xs:string"/>
            <xs:element name="referralOutcomeText" type="xs:string"/>
            <xs:element name="clinicalInformation" type="tns:ClinicalInformationType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="act" type="tns:ActType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="referral" type="tns:ReferralType"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ClinicalInformationType">
        <xs:annotation>
            <xs:documentation>
                clinicalInformationCode: 
                    Kod för åtgärd. Kod kan komma från 
                    kodverket ICD-10 (1.2.752.116.1.1.1.1.3)
                clinicalInformationText:
                    Beskrivning av klinisk information.
            </xs:documentation>
        </xs:annotation>	
        <xs:sequence>
            <xs:element name="clinicalInformationCode" type="tns:ClinicalInformationCodeType"/>
            <xs:element name="clinicalInformationText" type="xs:string"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ClinicalInformationCodeType">
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="codeSystem" type="tns:ClinicalInformationCodeCodeSystemType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="ClinicalInformationCodeCodeSystemType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1.2.752.116.1.1.1.1.3"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="ActType">
        <xs:annotation>
            <xs:documentation>
                actId:
                    Unik identitet på åtgärd.
                    (1.2.752.129.2.1.2.1)
                actCode:
                    Åtgärdskod. Nullvärde är tillåtet om kod ej är tillgänglig.
                    Åtgärdskod ska då skrivas i actText. Kod från kodverk 
                    KVÅ (1.2.752.116.1.3.2.1.4)
                actText:
                    Text som anger namnet på den kod som anges i actCode alt.
                    beskrivning av åtgärd om ingen kod har angets i actCode.
                actResult:
                    Resultat av åtgärd. Data i form av bifogade bilder eller liknande.
            </xs:documentation>
        </xs:annotation>	
        <xs:sequence>
            <xs:element name="actId" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="actCode" type="tns:ActCodeType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="actText" type="xs:string"/>
            <xs:element name="actTime" type="core:TimeStampType" minOccurs="0"/>
            <xs:element name="actResult" type="core:MultimediaType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ActCodeType">
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="codeSystem" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ReferralType">
        <xs:annotation>
            <xs:documentation>
                referralId:
                    Remissens identitet som är unik inom det lokala avsändande systemet
                referralText:
                    Texten från vårdbegäran.
                referralTime:
                    Tid då vårdbegäran framställdes. Nullvärde tillåtet.
                referralAuthorId:
                    HSA-id för persom som framställt vårbegäran.
                referralAuthorName:
                    Namn på författare.
                referralOrganizationId:
                    HSA-id för organisationen där person som har
                    fastställt vårbegäran är uppdragstagare hos.
                referralOrganizationName:
                    Namn på organisatorisk enhet.
                referralOrganizationTelecom:
                    Telefonnummer till organisatorisk enhet.
                referralOrganizationAddress:
                    Adress till organisatorisk enhet.
                careContactId:
                    Identitet för den vård- och omsorgskontakt som föranlett den 
                    information som omfattas av dokumentet. Identiteten är unik 
                    inom källsystemet.                
            </xs:documentation>
        </xs:annotation>	
        <xs:sequence>
            <xs:element name="referralId" type="xs:string"/>
            <xs:element name="referralText" type="xs:string"/>
            <xs:element name="referralTime" type="core:TimeStampType"/>
            <xs:element name="referralAuthorId" type="core:HSAIdType"/>
            <xs:element name="referralAuthorName" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="referralOrganizationHSAid" type="core:HSAIdType"/>
            <xs:element name="referralOrganizationName" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="referralOrganizationTelecom" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="referralOrganizationAddress" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="careContactId" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
