ServiceInteractions/riv/clinicalprocess/activityprescription/trunk/schemas/interactions/OrdineraInsattningInteraction/OrdineraInsattningResponder_1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Apotekens Service AB licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:tns='urn:riv:clinicalprocess:activityprescription:OrdineraInsattningResponder:1' xmlns:core='urn:riv:clinicalprocess:activityprescription:1' targetNamespace='urn:riv:clinicalprocess:activityprescription:OrdineraInsattningResponder:1' elementFormDefault='qualified' attributeFormDefault='unqualified' version='1.0'>

    <xs:import schemaLocation='../../core_components/clinicalprocess_activityprescription_1.0.xsd' namespace='urn:riv:clinicalprocess:activityprescription:1' />

    <xs:element name='OrdineraInsattning' type='tns:OrdineraInsattningType' />

    <xs:element name='OrdineraInsattningResponse' type='tns:OrdineraInsattningResponseType' />

    <xs:complexType name='OrdineraInsattningType'>
        <xs:sequence>
            <xs:element name="aktuellUnderlagstidpunkt" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tidpunkt för senast uppläst underlag för patient.
                        Anges för patienter med befintligt underlag.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="expeditionsunderlag" type="tns:Forskrivningsinsattning" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Underlag för förskrivningsinsättning.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="insattning" type="tns:Insattning" nillable="false">
                <xs:annotation>
                    <xs:documentation>Insättningsinformation.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ordination" type="tns:Lakemedelsordination" nillable="false">
                <xs:annotation>
                    <xs:documentation>Ordinationsinformation skall journalföras.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="patient" type="tns:Patient" nillable="false">
                <xs:annotation>
                    <xs:documentation>Patientens identifikationsobjekt.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:any namespace='##other' processContents='lax' minOccurs='0' maxOccurs='unbounded' />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name='OrdineraInsattningResponseType'>
        <xs:sequence>
            <xs:element name="ordinationsId" type="xs:string" nillable="false" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Referens till ordination som satts in.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="uppdateradUnderlagstidpunkt" type="xs:dateTime" nillable="false" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tidpunkt för uppdaterat underlag för patient.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="vokresultat" type="tns:VOKResultatResponse" nillable="false" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Resultat från VOK-INS.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name='ResultCode' type='tns:ResultCodeEnum' />
            <xs:element name='comment' type='xs:string' minOccurs='0' />
            <xs:any namespace='##other' processContents='lax' minOccurs='0' maxOccurs='unbounded' />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name='ResultCodeEnum'>
        <xs:restriction base='xs:string'>
            <xs:enumeration value='OK' />
            <xs:enumeration value='ERROR' />
            <xs:enumeration value='INFO' />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Intagstillfalle">
        <xs:sequence>
            <xs:element name="dagIPeriod" type="xs:int" nillable="false">
                <xs:annotation>
                    <xs:documentation>Dag i perioden när intag skall göras.

                        Exempel: Intag ska ske varje måndag och onsdag och startdatum är på en måndag. Måndag Insättningsdatum = 2010-01-01, Periodlängd=7, Dag i period= 1. Onsdag Insättningsdatum = 2010-01-01, Periodlängd=7, Dag i period=3.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="intagsmangd" type="xs:double" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Intagsmängd per tillfälle. Null hanteras som enligt ordination.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="klockslag" type="xs:int" nillable="false">
                <xs:annotation>
                    <xs:documentation>Klockslag när patienten ska inta medicinering.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Insattning">
        <xs:sequence>
            <xs:element name="beslutstidpunkt" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tidpunkt för uprättande av beslut.
                        Kan vara insättning/utsättning/makulering beroende på typ av förändring.
                        Om ej angiven antas momentan tidpunkt.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forandringstidpunkt" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tidpunkt för ordinationsförändring.
                        Kan vara insättningstidpunkt/utsättningstidpunkt/makuleringstidpunkt beroende på typ av förändring.
                        Om ej angiven antas momentan tidpunkt.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="insattningsorsak" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Orsak till insättning.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ordinerandeVardpersonal" type="tns:Vardpersonal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Ordinerande vardpersonal.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="registrerandeVardpersonal" type="tns:Vardpersonal" nillable="false">
                <xs:annotation>
                    <xs:documentation>Registrerande vårdpersonal</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="vardpersonalskommentar" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Kommentar för vårdpersonalsidentifiering.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Fodelsedatuminformation">
        <xs:sequence>
            <xs:element name="fodelsedatum" type="xs:dateTime" nillable="false">
                <xs:annotation>
                    <xs:documentation>Patientens födelsedatum.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="kon" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Patientens kön. Obligatorisk om födelsedatuminformation anges och e-recept ska skapas.

                        Giltiga värden är:
                        <itemizedlist>
                            <listitem>1 = Man</listitem>
                            <listitem>2 = Kvinna</listitem>
                            <listitem>3 = Ej specificerat</listitem>
                        </itemizedlist></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VOKFelResponse">
        <xs:sequence>
            <xs:element name="allvarlighetsgrad" type="xs:int" nillable="false">
                <xs:annotation>
                    <xs:documentation>Kod för att beskriva hur allvarligt ett VOKfel är.
                        2 = Avvisad.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="felkod" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Felkod enligt Vårdens ordinationskontroller (VOK).</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="felmeddelande" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Felmeddelande för VOKfel.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Tillfallesdosering">
        <xs:sequence>
            <xs:element name="doseringstillfallen" type="tns:Doseringstillfalle" nillable="false" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Doseringstillfällen.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Vardpersonal">
        <xs:sequence>
            <xs:element name="efternamn" type="xs:string" nillable="false" />

            <xs:element name="fornamn" type="xs:string" nillable="false" />

            <xs:element name="personHsaId" type="xs:string" nillable="false" />

            <xs:element name="vardenhetHsaId" type="xs:string" nillable="false" />

            <xs:element name="vardgivareHsaId" type="xs:string" nillable="false" />

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Dosering">
        <xs:sequence>
            <xs:element name="fritextdosering" type="tns:Fritextdosering" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Eventuell fritextdosering</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="tillfallesdosering" type="tns:Tillfallesdosering" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Eventuell tillfällesdosering</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Doseringssteg">
        <xs:sequence>
            <xs:element name="behandlingstid" type="tns:Tidsperiod" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Eventuell behandlingstid för doseringssteg.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="doseringsenhet" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Doseringsenhet</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="fastdosering" type="tns:Dosering" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Fastdosering.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="kortNotation" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Kortnotation.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="maxdosering" type="tns:Dosering" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Maxdosering.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="maxtid" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indikerar om behandlingstid avser den maximala tid som läkemedlet får användas.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="villkorsdosering" type="tns:Dosering" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Villkorsdosering.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="villkorstext" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Villkorstext för villkorsdosering.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Handelse">
        <xs:sequence>
            <xs:element name="beskrivning" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Beskrivning av händelsen.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Tidsperiod">
        <xs:sequence>
            <xs:element name="tidsenhet" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Tidsperiodens tidsenhet, anges som
                        AR
                        MANADER
                        VECKOR
                        DYGN
                        TIMMAR
                        MINUTER</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="tidsintervall" type="tns:Intervall" nillable="false">
                <xs:annotation>
                    <xs:documentation>Tidsperiodens intervall</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OrdineradDosering">
        <xs:sequence>
            <xs:element name="doseringssteg" type="tns:Doseringssteg" nillable="false" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Doseringssteg.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Doseringsschema">
        <xs:sequence>
            <xs:element name="intagstillfalle" type="tns:Intagstillfalle" nillable="false" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Beskriver tid och mängd för intag av läkemedel.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="periodlangd" type="xs:int" nillable="false">
                <xs:annotation>
                    <xs:documentation>Antal dagar som dosering skall gälla.
                        Vid regelbunden dosering anges periodlängd = 1
                        Vid oregelbunden dosering anges antal dagar som intervallet omfattar.
                        Exempelvis 2 om intag ska ske varannan dag.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Fritextdosering">
        <xs:sequence>
            <xs:element name="fritextdosering" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Doseringstext</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Klockslag">
        <xs:sequence>
            <xs:element name="minut" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Minut inom timme</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="timme" type="xs:int" nillable="false">
                <xs:annotation>
                    <xs:documentation>Timme inom dygnet.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Forskrivningsdosering">
        <xs:sequence>
            <xs:element name="doseringsschema" type="tns:Doseringsschema" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Eventuellt doseringsschema</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="doseringstext" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Doseringstext.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="sprakkod" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Främmande språk för doseringstext enligt ISO-639-1</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OrdineratLakemedel">
        <xs:sequence>
            <xs:element name="lakemedelsbeskrivning" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Beskrivning av ordinerat läkemedel.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="nplId" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Artikelns NPL-ID</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="nplPackId" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Artikelns NPLPack-ID</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ordineradAnvandning" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Användning. Den totala längden av doseringstext på den ordinerade doseringen och den ordinerade användningen får ej överstiga 256 tecken.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ordineradArtikelbenamning" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Artikelbenämning. Obligatorisk om nplPackId eller varunummer anges.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ordineratProduktnamn" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Namn på produkten vid det tillfälle ordinationen upprättades. Obligatorisk om  nplId eller varunummer anges.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="varunummer" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Artikelns varunummer</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Lakemedelsordination">
        <xs:sequence>
            <xs:element name="behandlingsandamal" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Behandlingsändamål</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="dosering" type="tns:OrdineradDosering" nillable="false" />

            <xs:element name="foregaendeOrdinationsId" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Referens till föregående ordination i ordinationskedja</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="lakemedel" type="tns:OrdineratLakemedel" nillable="false" />

            <xs:element name="notat" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Ordinationsnotat</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="utvarderingstidpunkt" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Eventuel utvärderingstidpunkt. Om inget värde anges används ett år från nuvarande tidpunkt.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Intervall">
        <xs:sequence>
            <xs:element name="max" type="xs:double" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Intervallets maxvärde</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="min" type="xs:double" nillable="false">
                <xs:annotation>
                    <xs:documentation>Intervallets minvärde</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Personnummer">
        <xs:sequence>
            <xs:element name="identifikationsnummer" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Giltigt personnummer.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Patientinformation">
        <xs:sequence>
            <xs:element name="efternamn" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Patientens efternamn.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="fodelsedatuminformation" type="tns:Fodelsedatuminformation" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Eventuell födelsedatuminformation om patienten inte har personnummer.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="fornamn" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Patientens förnamn.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="patientensKontaktuppgifter" type="tns:Kontaktuppgift" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Kontaktuppgifter för patienten.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TidInomDygnet">
        <xs:sequence>
            <xs:element name="handelse" type="tns:Handelse" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Eventuell händelse</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="klockslag" type="tns:Klockslag" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Eventuellt klockslag</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ForskrivareInformation">
        <xs:sequence>
            <xs:element name="arbetsplatskod" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Unik kod för identifiering av förskrivarens
                        arbetsplats vid ordinationstillfället.

                        Saknar förskrivare ordinarie arbetsplats anges
                        en grupparbetsplatskod. Arbetsplatskoden anges för att
                        styra ekonomiska transaktioner vid ordinationer inom förmånen.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="befattningskod" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Användarens befattningskod enligt HSA.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="efternamn" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Användarens efternamn.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="fornamn" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Användarens förnamn.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forskrivarkod" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Förskrivarens individuella 7-ställiga legitimationskod eller förskrivarens gruppförskrivarkod då individuell kod saknas.
                        Gruppförskrivarkod används då förskrivaren saknar individuell förskrivarkod men har via sin roll erhållit förskrivningsrätt. Kan exempelvis vara en AT-läkare eller förskrivare med förordnande.
                        Förskrivarkoden definieras av Socialstyrelsen och gruppförskrivarkoden definieras av Apotekens Service.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="legitimationskod" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Förskrivares 7-ställiga förskrivarkod alternativt legitimerad användares 6-ställiga
                        legitimationskod enligt Socialstyrelsen. Obligatorisk för gruppförskrivare (ej läkare) och för farmaceuter.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="yrkeskod" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Användarens yrkeskod som definierar vilken typ
                        av legitimation som användaren innehar. Obligatorisk för förskrivare.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Doseringstillfalle">
        <xs:sequence>
            <xs:element name="dos" type="tns:Intervall" nillable="false">
                <xs:annotation>
                    <xs:documentation>Dosering</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="tid" type="tns:TidInomDygnet" nillable="false">
                <xs:annotation>
                    <xs:documentation>Tid inom dygnet</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Forskrivningsinsattning">
        <xs:sequence>
            <xs:element name="dispenseringsunderlag" type="tns:Dispenseringsunderlag" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Eventuellt dispenseringsunderlag</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="doseringAttForskriva" type="tns:Forskrivningsdosering" nillable="false">
                <xs:annotation>
                    <xs:documentation>Eventuell förskriven dosering.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ejTillatenSubstitution" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Substitution tillåten</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forman" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Om receptet ska ingå i förmån.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forskrivare" type="tns:ForskrivareInformation" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Förskrivare.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forskrivarensKontaktuppgift" type="tns:Kontaktuppgift" nillable="false">
                <xs:annotation>
                    <xs:documentation>Förskrivarens kontaktuppgifter.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forskrivningsunderlagsversion" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Förskrivningens underlagsversion från receptdepån.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="helforpackningsunderlag" type="tns:Helforpackningsunderlag" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Eventuellt helförpackningsunderlag.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="mottagandeApotek" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mottagande apotek</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ordinatorensKommentar" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Ordinatörens kommentar.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="patientinformation" type="tns:Patientinformation" nillable="false">
                <xs:annotation>
                    <xs:documentation>Patientinformation</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="sistaGiltighetsdag" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Sista giltighetsdag för receptet.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="skallEReceptRegistreras" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation>Skall insättningen av förskrivningen resultera i ett E-Recept?</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="testindikator" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Markering om förskrivningen är äkta,
                        för test eller för utbildning.

                        1 = Äkta
                        2 = Test
                        3 = Utbildning</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Patient">
        <xs:sequence>
            <xs:element name="personnummer" type="tns:Personnummer" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Patientens eventuella personnummer. Antingen personnummer eller samordningsnummer måste anges.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="samordningsnummer" type="tns:Samordningsnummer" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Patientens eventuella samordningsnummer. Antingen personnummer eller samordningsnummer måste anges.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Samordningsnummer">
        <xs:sequence>
            <xs:element name="identifikationsnummer" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Giltigt samordningsnummer.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VOKResultatResponse">
        <xs:sequence>
            <xs:element name="kontrolltidpunkt" type="xs:dateTime" nillable="false">
                <xs:annotation>
                    <xs:documentation>Datum och tidpunkt för utförd VOK-kontroll.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="kontrolltyp" type="xs:int" nillable="false">
                <xs:annotation>
                    <xs:documentation>Typ av VOKkontroll som har genomförts.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="vokFelLista" type="tns:VOKFelResponse" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Lista med VOKfel</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="vokStatus" type="xs:int" nillable="false">
                <xs:annotation>
                    <xs:documentation>Status för ordinationen. Allvarligaste VOKfelet styr status för hela ordinationen.
                        0: OK
                        1: Accepterad med varning
                        2: Avvisad</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Kontaktuppgift">
        <xs:sequence>
            <xs:element name="adress1" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Förskrivarens lokalitet eller patientens adress 1.
                        Obligatorisk för förskrivare.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="adress2" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Patientens adress 2 eller förskrivarens
                        alternativt vårdcentralens gatuadress.
                        Obligatorisk för förskrivare.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="postnummer" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Patientens eller förskrivarens postnummer.
                        Obligatorisk för förskrivare.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="postort" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Patientens eller förskrivarens postort.
                        Obligatorisk för förskrivare.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="telefonnummer1" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Patientens eller förskrivarens telefonnummer 1.
                        Obligatorisk för förskrivare.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="telefonnummer2" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Patientens eller förskrivarens telefonnummer 2.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Helforpackningsunderlag">
        <xs:sequence>
            <xs:element name="antalForpackningar" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Förskrivet antal förpackningar.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="antalUttag" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Förskrivet antal uttag.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forstaUttagFore" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Första uttag före.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="intervallenhet" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Intervallenhet. Obligatorisk om utlamningsintervall anges. Giltiga värden är Mn, V eller Dg (kort för Månader, Veckor, Dagar).</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="leveransmeddelande" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Leveransmeddelande</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="maxDygnsdos" type="xs:double" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Max dygnsdos</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="maxVeckodos" type="xs:double" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Max veckodos</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="staende" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>True för stående helförpackning, false annars.
                        Defaultvärde: false</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="startforpackning" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Startförpackning.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="utlamningsintervall" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Utlämningsintervall</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Dispenseringsunderlag">
        <xs:sequence>
            <xs:element name="akut" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Akutflagga</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="bytesEj" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Anger om patient eller förskrivare angivit att förskrivningen ej får bytas.
                        Giltiga värden är "L" för förskrivare eller "P" för patient.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
