ServiceInteractions/riv/se_apotekensservice/nod/trunk/schemas/interactions/OrdineraInsattningInteraction/OrdineraInsattningInteraction_2.0_rivtabp20.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OrdineraInsattningInteraction"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:spdr="urn:riv:se.apotekensservice:nod:OrdineraInsattningResponder:2"
                  xmlns="urn:riv:se.apotekensservice:nod:OrdineraInsattning:2:rivtabp20"
                  targetNamespace="urn:riv:se.apotekensservice:nod:OrdineraInsattning:2:rivtabp20">

    <xs:annotation>
        <xs:documentation>
            Beskrivning: Tjänstekontraktet som avser att konkretisera tillämpningen av RIV.
            Revisioner: 2012-09-25 Version 2.0
            Tjänstedomän: se.apotekensservice:nod.
            Tjänsteinteraktionens namn: OrdineraInsattning.
            Tjänsteinteraktionstyp: Fråga-Svar.
            RIV Tekniska Anvisning: Basic Profile 2.0
        </xs:documentation>
    </xs:annotation>

    <!-- Egendefinierade typer -->
    <wsdl:types>
        <xs:schema>
            <xs:import namespace="urn:riv:se.apotekensservice:nod:OrdineraInsattningResponder:2" schemaLocation="OrdineraInsattningResponder_2.0.xsd"/>
        </xs:schema>
    </wsdl:types>

    <!-- Meddelanden -->
    <wsdl:message name="OrdineraInsattningRequest">
        <wsdl:part name="parameters" element="spdr:OrdineraInsattning"/>
    </wsdl:message>
    <wsdl:message name="OrdineraInsattningResponse">
        <wsdl:part name="parameters" element="spdr:OrdineraInsattningResponse"/>
    </wsdl:message>
    <wsdl:message name="ApplicationException">
        <wsdl:part name="parameters" element="spdr:ApplicationException"/>
    </wsdl:message>
    <wsdl:message name="SystemException">
        <wsdl:part name="parameters" element="spdr:SystemException"/>
    </wsdl:message>

    <!-- Port typer -->
    <wsdl:portType name="OrdineraInsattningResponderInterface">
        <wsdl:operation name="OrdineraInsattning">
            <wsdl:input message="OrdineraInsattningRequest"/>
            <wsdl:output message="OrdineraInsattningResponse"/>
            <wsdl:fault name="ApplicationException" message="ApplicationException"/>
            <wsdl:fault name="SystemException" message="SystemException"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- Bindningar -->
    <wsdl:binding name="OrdineraInsattningResponderBinding" type="OrdineraInsattningResponderInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="OrdineraInsattning">
            <soap:operation soapAction="urn:riv:se.apotekensservice:nod:OrdineraInsattningResponder:2:OrdineraInsattning"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApplicationException">
                <soap:fault use="literal" name="ApplicationException"/>
            </wsdl:fault>
            <wsdl:fault name="SystemException">
                <soap:fault use="literal" name="SystemException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Servicar -->
    <wsdl:service name="OrdineraInsattningResponderService">
        <wsdl:port name="OrdineraInsattningResponderPort" binding="OrdineraInsattningResponderBinding">
            <soap:address location="http://temp.uri/"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
