src/bp20/refapp/trunk/java/cxf/rivta-bp20-refapp-schemas/src/main/resources/schemas/business/JournalinfoApoteketRIV/EhrExtractionInteraction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<wsdl:definitions 
	name="EhrExtractionInteraction"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:wsa="http://www.w3.org/2005/08/addressing" 
	xmlns:tjs="urn:riv:ehr:ehrexchange:EhrExtractionResponder:1" 
	xmlns="urn:riv:ehr:ehrexchange:EhrExtraction:1:rivtabp20" 
	targetNamespace="urn:riv:ehr:ehrexchange:EhrExtraction:1:rivtabp20">

	<xs:annotation>
		<xs:documentation>
			Tjänsteinteraktionens namn: EhrExtraction
			Beskrivning: Exempel på tjänsteinteraktion för utbyte av EHR-Extract enligt urn:riv13606:v1
			Revisioner: 2009-08-21 Version 1.1
			Tjänstedomän: ehr:ehrexchange
			Tjänsteinteraktionstyp: Fråga-svar
			RIV Teknisk Anvisning: Basic Profile 2.0
			Förvaltas av: RIV-TA-förvaltningen inom Arkitekturledningen, SKL
		</xs:documentation>
	</xs:annotation>

	<wsdl:types>
		<xs:schema>
			<xs:import schemaLocation="EhrExtractionResponder_1.0.xsd" namespace="urn:riv:ehr:ehrexchange:EhrExtractionResponder:1"/>
		</xs:schema>
		<xs:schema>
			<xs:import schemaLocation="../../technical/wsaddressing/ws-addressing-1.0.xsd" namespace="http://www.w3.org/2005/08/addressing"/>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="GetEhrExtractRequest">
		<xs:annotation>
			<xs:documentation>
				LogicalAddress ska vara HSA-id för den journalförande verksamhet från vilken 
				begärt extrakt önskas. Det kan t.ex. vara ett HSA-id för en vårdenhet.
			</xs:documentation>
		</xs:annotation>
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="parameters" element="tjs:GetEhrExtract" />
	</wsdl:message>
	<wsdl:message name="GetEhrExtractResponse">
		<wsdl:part name="parameters" element="tjs:GetEhrExtractResponse"/>
	</wsdl:message>

	<wsdl:message name="GetEhrExtractContinuationResponse">
		<wsdl:part name="parameters" element="tjs:GetEhrExtractContinuationResponse"/>
	</wsdl:message>
	<wsdl:message name="GetEhrExtractContinuationRequest">
		<xs:annotation>
			<xs:documentation>
				LogicalAddress ska vara samma som för GetEhrExtractRequest
			</xs:documentation>
		</xs:annotation>	
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="parameters" element="tjs:GetEhrExtractContinuation"/>
	</wsdl:message>
	
	<wsdl:message name="PingRequest">
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="parameters" element="tjs:Ping"/>
	</wsdl:message>
	<wsdl:message name="PingResponse">
		<wsdl:part name="parameters" element="tjs:PingResponse"/>
	</wsdl:message>

	<wsdl:portType name="EhrExtractionResponderInterface">
	
		<wsdl:operation name="GetEhrExtract">
			<wsdl:input message="GetEhrExtractRequest"/>
			<wsdl:output message="GetEhrExtractResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="GetEhrExtractContinuation">
			<wsdl:input message="GetEhrExtractContinuationRequest"/>
			<wsdl:output message="GetEhrExtractContinuationResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="Ping">
			<wsdl:input message="PingRequest"/>
			<wsdl:output message="PingResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="EhrExtractionResponderBinding" type="EhrExtractionResponderInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="GetEhrExtract">
			<soap:operation soapAction="urn:riv:ehr:ehrexchange:EhrExtractionResponder:1:GetEhrExtract"/>
			<wsdl:input>
				<soap:header use="literal" message="GetEhrExtractRequest" part="LogicalAddress"/>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetEhrExtractContinuation">
			<soap:operation soapAction="urn:riv:ehr:ehrexchange:EhrExtractionResponder:1:GetEhrExtractContinuation"/>
			<wsdl:input>
				<soap:header use="literal" message="GetEhrExtractContinuationRequest" part="LogicalAddress"/>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="Ping">
			<soap:operation soapAction="urn:riv:ehr:ehrexchange:EhrExtractionResponder:1:Ping"/>
			<wsdl:input>
				<soap:header use="literal" message="PingRequest" part="LogicalAddress"/>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="EhrExtractionResponderService">
		<wsdl:port name="EhrExtractionResponderPort" binding="EhrExtractionResponderBinding">
			<soap:address location="http://localhost:11000/rivtabp20/refapp/riv13606RequestEHRExtract"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
