ServiceInteractions/riv/crm/carelisting/trunk/src/main/resources/META-INF/wsdl/GetAvailableFacilities_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="urn:riv:crm:carelisting:GetAvailableFacilitiesResponder:1"
	targetNamespace="urn:riv:crm:carelisting:GetAvailableFacilitiesResponder:1"
	elementFormDefault="qualified" xml:lang="en" xmlns:core="urn:riv:crm:carelisting:1"
	version="1.0">
	<xs:import namespace="urn:riv:crm:carelisting:1"
		schemaLocation="crm_carelisting.xsd" />
	<xs:annotation>
		<xs:documentation>
			Beskrivning: Meddelandetyper som används av Nationella Listingsstjänsten 'GetAvailableFacilitiesResponder'.
			Revisioner: 2009-06-15: Version 1.0, skapade schemat.
			            2009-11-24: Version 1.0.1, gjorde om att inte använda EN 13606.
			            2009-12-21 version 1.0.2: Re-design i sammarbete med Modul1, Arkitekturledningen och Mawell.
		</xs:documentation>
	</xs:annotation>

	<!-- Globala element: Method parametrar -->
	<xs:element name="getAvailableFacilities"
		type="tns:getAvailableFacilitiesRequestType" />
	<xs:element name="getAvailableFacilitiesResponse"
		type="tns:getAvailableFacilitiesResponseType" />
	<xs:element name="TechnicalException" type="core:TechnicalException" />

	<!-- data typer -->
	<xs:complexType name="getAvailableFacilitiesRequestType">
		<xs:sequence>
			<!-- countyCode = Länskod -->
			<xs:element name="countyCode" type="xs:string"/>
			
			<!-- Lista med Vårdenheter som man önskar information om eller tom sträng "" -->
			<!-- om information om alla tillgängliga vårdenehter ska	hämtas. -->
			<xs:element name="healthcare_facilities" type="core:HsaIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"
				namespace="##other" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAvailableFacilitiesResponseType">
		<xs:sequence>
			<xs:element name="healthcare_facilities" type="core:Facility" maxOccurs="unbounded" />
			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"
				namespace="##other" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
