ServiceInteractions/riv/eservicesupply/forminteractions/trunk/schemas/core_components/eservicesupply_forminteractions_1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. IPR holder licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->		
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:tns='urn:riv:eservicesupply:forminteractions:1' targetNamespace='urn:riv:eservicesupply:forminteractions:1' elementFormDefault='qualified' attributeFormDefault='unqualified' version='1.0'>



    <xs:annotation>
    	<xs:documentation>Beskrivning: 	Grundläggande informationsobjekt för domänen eservicesupply.forminteractions.
Revisionshistorik:  -

Datum:		2012-06-12
Beskrivning:	Initial version
Författare:		Marco de Luca, marco.deluca@callistaenterprise.se</xs:documentation></xs:annotation>
    <xs:simpleType name="HsaIdType">
        <xs:annotation>
        	<xs:documentation>Hsa-id enligt HSA standard.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"></xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SubjectOfCareIdType">
        <xs:annotation>
        	<xs:documentation>Personnummer, reservnummer enligt format yyyymmddnnnn. Ex: 191212121212</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"></xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TemplateIdType">
        <xs:annotation>
        	<xs:documentation>Typ av formulär. Kodverk för standardiserade id för formulärtyper. KV Malltyp (Kodverk saknas).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"></xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="clinicalProcessInterestIdType">
        <xs:annotation>
        	<xs:documentation>HSA-id för framställarens enhet/process + unik identifierare.Globalt/nationellt hälsoärende ID. Hälsoärende är ett begrepp för det som håller samman information i en kärnprocess för en vård- och omsorgstagare, tvärs över organisatoriska enhetsgränser.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"></xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FormIDType">
        <xs:annotation>
        	<xs:documentation>Formulärets unika ID (källsystemets unika id/GUID).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"></xs:restriction>
  </xs:simpleType>









    <xs:element name="subjectOfCare" type="tns:SubjectOfCareIdType">
    	<xs:annotation>
    		<xs:documentation>Patienten formuläret avser. Personnummer  format yyyymmddnnnn.T.ex. 191212121212 </xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="templateId" type="tns:TemplateIdType">
    	<xs:annotation>
    		<xs:documentation>Typ av formulär. Kodverk för standardiserade id för formulärtyper.T.ex. Mödrahälsovårdsjournal 1 - MHV1.KV Malltyp (Saknas). </xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="healthcare_CareGiver" type="tns:HsaIdType">
    	<xs:annotation>
    		<xs:documentation>Ansvarig vårdgivare (huvudman). Hsa-id.T.ex. Landsting</xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="healthcare_MedUnit" type="tns:HsaIdType">
    	<xs:annotation>
    		<xs:documentation>Medicinsk ansvarig klinik/vårdcentral eller motsvarande. Hsa-id.T.ex. Medicinklinik</xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="healthcare_facility_CareUnit" type="tns:HsaIdType">
    	<xs:annotation>
    		<xs:documentation>Vårdenheten som erbjuder/tillhandahåller formuläret. Fysisk mottagning. Hsa-id.T.ex. Den avdelning som formuläret: se2321000016-1hz3.</xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="healthcare_facility_CareUnitName" type="xs:string">
    	<xs:annotation>
    		<xs:documentation>Vårdenhetens namn.T.ex. Testvårdcentral A, Medicinmottagningen USÖ.</xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="healthcare_systemID" type="tns:HsaIdType">
    	<xs:annotation>
    		<xs:documentation>Hsa-Id för att identifiera mottagande system.</xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="clinicalProcessInterestId" type="tns:clinicalProcessInterestIdType">
    	<xs:annotation>
    		<xs:documentation>Hsa-id för framställarens enhet/process + unik identifierare.Globalt/nationellt hälsoärende ID. Hälsoärende är ett begrepp för det som håller samman information i en kärnprocess för en vård- och omsorgstagare, tvärs över organisatoriska enhetsgränser.</xs:documentation>
    	</xs:annotation></xs:element>



    <xs:element name="formId" type="tns:FormIDType"></xs:element>


    <xs:complexType name="FormType">
    	<xs:sequence>
    		<xs:element ref="tns:createdDateTime" maxOccurs="1"></xs:element>
    		<xs:element ref="tns:clinicalProcessInterestId"
    			minOccurs="0">
    			<xs:annotation>
    				<xs:documentation>
    					Hsa-id för framställarens enhet/process + unik
    					identifierare. Globalt/nationellt hälsoärende
    					ID. Hälsoärende är ett begrepp för det som
    					håller samman information i en kärnprocess för
    					en vård- och omsorgstagare, tvärs över
    					organisatoriska enhetsgränser.
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:element ref="tns:expireDate" minOccurs="0"></xs:element>
            <xs:element ref="tns:formId" minOccurs="1">
    			<xs:annotation>
    				<xs:documentation>
    					Formulärets unika ID (källsystemets unika
    					id/GUID). T.ex. MHV1 har FormID =
    					3B2DF0C0-BC22-11DE-823D-00155D316606

    					Måste genereras slumpmässigt för att vara unikt.
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
            <xs:element ref="tns:formStatus" maxOccurs="1"></xs:element>
            <xs:element name="formTemplate" type="tns:FormTemplateType" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:element ref="tns:healthcare_CareGiver" minOccurs="0">
    			<xs:annotation>
    				<xs:documentation>
    					Ansvarig vårdgivare (huvudman). T.ex. Landsting
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:element ref="tns:healthcare_MedUnit" minOccurs="0">
    			<xs:annotation>
    				<xs:documentation>
    					Medicinsk ansvarig klinik/vårdcentral eller
    					motsvarande. T.ex. Medicinklinik
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:element ref="tns:healthcare_facility_CareUnit"
    			maxOccurs="1">
    			<xs:annotation>
    				<xs:documentation>
    					Vårdenheten som erbjuder/tillhandahåller
    					formuläret. Fysisk mottagning. T.ex. Den
    					avdelning som formuläret: se2321000016-1hz3
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:element ref="tns:healthcare_facility_CareUnitName"
    			maxOccurs="1">
    			<xs:annotation>
    				<xs:documentation>
    					Vårdenhetens namn. T.ex. Testvårdcentral A,
    					Medicinmottagningen USÖ
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:element ref="tns:healthcare_systemID" minOccurs="0">
    			<xs:annotation>
    				<xs:documentation>
    					Hsa-id för att identifiera mottagande system.
    					T.ex. Ett hsa-id uttaget för en instans av ett
    					journalsystem
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:element ref="tns:keepUntil" maxOccurs="1"></xs:element>
    		<xs:element name="currentPage" type="tns:PageType"
    			maxOccurs="1" minOccurs="0">
    		</xs:element>
    		<xs:element name="answeredPage" type="tns:PageType"
    			maxOccurs="unbounded" minOccurs="0">
    		</xs:element>
    		<xs:element ref="tns:lastSavedDate" minOccurs="0"></xs:element>
    		<xs:element ref="tns:subjectOfCare" maxOccurs="1">
    			<xs:annotation>
    				<xs:documentation>
    					Patienten formuläret avser. Personnummer format
    					yyyymmddnnnn. T.ex. 191212121212.
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:any namespace='##other' processContents='lax'
    			minOccurs='0' maxOccurs='unbounded' />
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="FormTemplateType">
    	<xs:sequence>
    		<xs:element maxOccurs="1" ref="tns:category">
    			<xs:annotation>
    				<xs:documentation>
    					Formulärets kategori T.ex. Anmälan,
    					registrering, hälsodeklaration
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:element minOccurs="0" ref="tns:description">
    			<xs:annotation>
    				<xs:documentation>
    					Formulärets beskrivning och instruktioner. T.ex.
    					Formuläret skall besvaras innan du besöker
    					mottageningen.
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:element maxOccurs="1" ref="tns:formName">
    			<xs:annotation>
    				<xs:documentation>
    					Formulärets namn. T.ex. Hälsodeklaration
    					Mödravård
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:element minOccurs="0" ref="tns:informationURL">
    			<xs:annotation>
    				<xs:documentation>
    					URL till ytterligare/relevant information. Länk
    					till publik information utan krav på
    					autentisering.
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:element maxOccurs="1" ref="tns:language">
    			<xs:annotation>
    				<xs:documentation>
    					Kodverk för språk Innehåller språkkoder som
    					utgår från SS-ISO 639-1:2005.
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:element minOccurs="1" ref="tns:maxNumberOfQuestion"
    			maxOccurs="1">
    			<xs:annotation>
    				<xs:documentation>
    					Beskriver hur många frågor formuläret maximalt
    					kan innehåller. T.ex. 10
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:element minOccurs="1" ref="tns:minNumberOfQuestion"
    			maxOccurs="1">
    		</xs:element>
            <xs:element ref="tns:minNumberOfPages" maxOccurs="1"></xs:element>
            <xs:element ref="tns:maxNumberOfPages" maxOccurs="1"></xs:element>
            <xs:element maxOccurs="1" ref="tns:mandatory">
    			<xs:annotation>
    				<xs:documentation>
    					Indikerar om formuläret är obligatoriskt att
    					fylla i av användaren. T.ex. Ett obligatoriskt
    					formulär kan indikerar att formuläret är en del
    					av en vårdprocess. True = obligatoriskt False =
    					Frivilligt
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:element ref="tns:templateId" maxOccurs="1">
    			<xs:annotation>
    				<xs:documentation>
    					Typ av formulär. Kodverk för standardiserade id
    					för formulärtyper. T.ex. Mödrahälsovårdsjournal
    					1 - MHV1. Kodverk!
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:element minOccurs="1" maxOccurs="1" ref="tns:term">
    			<xs:annotation>
    				<xs:documentation>
    					Villkor kopplade till formuläret. T.ex.
    					Villkorstext som användaren/patienten måste
    					godkänna innan formuläret kan besvaras.
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:any namespace='##other' processContents='lax'
    			minOccurs='0' maxOccurs='unbounded' />
    	</xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="CategoryType">
        <xs:annotation>
        	<xs:documentation>Formulärets kategori enligt kodverk X.T.ex. Anmälan, registrering, hälsodeklaration.
KV Formulärkategori.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"></xs:restriction>
    </xs:simpleType>

    <xs:complexType name="QuestionBlockType">
        <xs:annotation>
        	<xs:documentation>Objektet innehåller ett block fråga och dess svarsalternativ.  Ett block representerar en grupp av frågor. Grupperingen kan styras av vägskäl i fråge hierarkin alternativt lämplig gruppering på grund av mängden frågor. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
        	<xs:element name="blockNumber" type="xs:int"
        		maxOccurs="1">
        		<xs:annotation>
        			<xs:documentation>
        				Grupperingsbegrepp av frågor. Frågans nummer i
        				nummerserie. Används för att indikera hur långt
        				användaren har kommit i formuläret. T.ex Fråga
        				nummer 1 (av 10).
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
        	<xs:element name="description" type="xs:string"
        		minOccurs="0">
        		<xs:annotation>
        			<xs:documentation>
        				Beskrivande text. Stöder kodverk ”DocBook” Se
        				tidbokningskontraktet!! T.ex här skall du lämna
        				information kring din medicinering.
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
            <xs:element ref="tns:informationURL" minOccurs="0"></xs:element>
            <xs:element name="numberOfQuestions" type="xs:int"
        		maxOccurs="1">
        		<xs:annotation>
        			<xs:documentation>
        				Antal frågor tillhörande blocket. T.ex. 10
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
        	<xs:element name="question" type="tns:QuestionType"
        		maxOccurs="unbounded">
        	</xs:element>
        	<xs:element name="subject" type="xs:string" minOccurs="0">
        		<xs:annotation>
        			<xs:documentation>
        				Blockets rubrik. T.ex Medicin.
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
        	<xs:any namespace='##other' processContents='lax'
        		minOccurs='0' maxOccurs='unbounded' />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="QuestionType">
        <xs:annotation>
        	<xs:documentation>Objektet innehåller en fråga samt metadata .  Exempel:”Vilken är din favoritfärg?”</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="answer" type="tns:AnswerType"
        		minOccurs="0" maxOccurs="unbounded">
        	</xs:element>
        	<xs:element name="answerAlternative"
        		type="tns:AnswerAlternativeType" minOccurs="0"
        		maxOccurs="unbounded">
        	</xs:element>
            <xs:element name="answerMax" type="xs:int" minOccurs="0">
        		<xs:annotation>
        			<xs:documentation>
        				Specificerar maxvärde för inmatning. (Gäller
        				typ: number, date) T.ex: Ett värde får inte
        				överskrida 10. Blodtryck, rimlighetsparameter.
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
            <xs:element name="answerMin" type="xs:int" minOccurs="0">
        		<xs:annotation>
        			<xs:documentation>
        				Specificerar minvärde för inmatning. (Gäller
        				typ: number, date)
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
            <xs:element name="answerMaxLength" type="xs:int" minOccurs="0">
        		<xs:annotation>
        			<xs:documentation>
        				Specificerar maxvärdelängd för inmatning.
        				(Gäller typ: number) T.ex: En inmatning (text)
        				får inte vara större än 100 tecken.
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
            <xs:element name="answerPattern" type="xs:string" minOccurs="0">
        		<xs:annotation>
        			<xs:documentation>
        				Inmatningsvalidering (Regular expresson). T.ex:
        				pattern="[A-z]{3}" tillåter endast 3 teckan A-z.
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
            <xs:element name="answerStep" type="xs:int" minOccurs="0">
        		<xs:annotation>
        			<xs:documentation>
        				Specificerar giltiga intervall för inmatning.
        				(Gäller typ: number, range, date, datetime,
        				datetime-local, month, time och week) T.ex:
        				Skalningsfaktor för en ”slide” kontroll. Ange
        				värde för temperatur 35-40.
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0">
        		<xs:annotation>
        			<xs:documentation>
        				Frågans beskrivande text eller instruktion till
        				användaren/patient.
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
            <xs:element name="input" type="tns:inputType" minOccurs="1">
        		<xs:annotation>
        			<xs:documentation>
        				Beskriver frågans inmatningstyp. Kodverk
        				inmatningstyp T.ex. radio(enkelvärde),
        				checkbox(multivärde) eller fritext.
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
            <xs:element name="inputUnit" type="xs:string" minOccurs="0">
        		<xs:annotation>
        			<xs:documentation>
        				Typ av enhet. Grundenheter samt härledda
        				SI-enheter beskrivs med dess beteckning. T.ex.
        				km, m, cm, kg, mm Hg etc

        				Måttenheter enligt SI-systemet. SWEDAC (STAFS
        				2009:26)
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
            <xs:element ref="tns:informationURL" minOccurs="0">
        		<xs:annotation>
        			<xs:documentation>
        				URL till information.
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
        	<xs:element name="mandatory" type="xs:boolean"
        		minOccurs="1">
        		<xs:annotation>
        			<xs:documentation>
        				Indikerar om frågan är obligatorisk. True =
        				obligatorisk fråga False = Frivillig fråga
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
        	<xs:element name="maxNumberOfChoises" type="xs:int"
        		minOccurs="0">
        		<xs:annotation>
        			<xs:documentation>
        				Indikerar max antal värden som användaren får
        				välja vid checkbox/multivärde.
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
        	<xs:element name="minNumberOfChoises" type="xs:int"
        		minOccurs="0">
        		<xs:annotation>
        			<xs:documentation>
        				Indikerar min. antal värden som användaren får
        				välja vid checkbox/multivärde.
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
        	<xs:element name="questionNumber" type="xs:int"
        		minOccurs="1">
        		<xs:annotation>
        			<xs:documentation>
        				Frågans nummer i nummer serie. Används för att
        				indikera hur långt användaren har kommit i
        				formuläret. T.ex Fråga nummer 1 (av 10).
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
        	<xs:element name="subject" type="xs:string" minOccurs="1">
        		<xs:annotation>
        			<xs:documentation>
        				Frågans rubrik. T.ex Ange din blodgrupp.
        			</xs:documentation>
        		</xs:annotation>
        	</xs:element>
            <xs:element name="questionSuperior" type="tns:QuestionSuperiorType" minOccurs="0">
        	</xs:element>
            <xs:element name="validationEvent" type="tns:ValidationEventType" minOccurs="0" maxOccurs="unbounded"></xs:element>
            <xs:any namespace='##other' processContents='lax'
        		minOccurs='0' maxOccurs='unbounded' />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="inputType">
        <xs:annotation>
        	<xs:documentation>Beskriver frågans inmatningstyp. Kodverk inmatningstyp. T.ex. radio(enkelvärde), checkbox(multivärde) eller fritext. 
KV Inmatnings typ.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"></xs:restriction>
    </xs:simpleType>

    <xs:complexType name="AnswerAlternativeType">
    	<xs:annotation>
    		<xs:documentation>
    			Objektet innehåller svarsalternativ för en fråga (QuestionType).  </xs:documentation>
    	</xs:annotation>
    	<xs:sequence>
            <xs:element name="alternativeValue" type="xs:string" maxOccurs="1" minOccurs="1">
    			<xs:annotation>
    				<xs:documentation>
    					Valbart svarsalternativ.
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
            <xs:element maxOccurs="1" ref="tns:answerAlternativeNumber">
    			<xs:annotation>
    				<xs:documentation>
    					Svarsalternativets id.
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
            <xs:element name="answerHelp" type="xs:string" minOccurs="0">
    			<xs:annotation>
    				<xs:documentation>
    					Hjälptext till svarsalternativet. (placeholder)
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:any namespace='##other' processContents='lax'
    			minOccurs='0' maxOccurs='unbounded' />
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="AnswerType">
    	<xs:annotation>
    		<xs:documentation>Objektet innehåller patientens/användarens svar på en fråga.
-answerAlternativNumber skall användas om ett fördefinierat svarsalternativ används.
-value skall innehålla invånarens svar vid fritext (text).
    		</xs:documentation>
    	</xs:annotation>
    	<xs:sequence>
            <xs:element ref="tns:answerAlternativeNumber" minOccurs="0"></xs:element>
            <xs:element name="answerStatus" type="tns:AnswerStatusType" minOccurs="0">
    		</xs:element>
            <xs:element name="value" type="xs:string"
    			maxOccurs="1" minOccurs="0">
    			<xs:annotation>
    				<xs:documentation>
    					Patientens/användarens svar.
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:any namespace='##other' processContents='lax'
    			minOccurs='0' maxOccurs='unbounded' />
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="FormsType">
    	<xs:sequence>
    		<xs:element ref="tns:createdDateTime" minOccurs="1"></xs:element>
    		<xs:element ref="tns:expireDate" minOccurs="0"></xs:element>
    		<xs:element ref="tns:formId" maxOccurs="1"></xs:element>
    		<xs:element ref="tns:formStatus" maxOccurs="1"></xs:element>
    		<xs:element ref="tns:healthcare_CareGiver" minOccurs="0"></xs:element>
    		<xs:element ref="tns:healthcare_MedUnit" minOccurs="0"></xs:element>
    		<xs:element ref="tns:healthcare_facility_CareUnit"
    			minOccurs="1">
    		</xs:element>
    		<xs:element ref="tns:healthcare_facility_CareUnitName"
    			minOccurs="1">
    		</xs:element>
    		<xs:element ref="tns:healthcare_systemID" minOccurs="0"></xs:element>
    		<xs:element ref="tns:clinicalProcessInterestId" minOccurs="0"></xs:element>
    		<xs:element ref="tns:keepUntil" minOccurs="1"></xs:element>
    		<xs:element ref="tns:lastSavedDate" minOccurs="0"></xs:element>
    		<xs:element ref="tns:subjectOfCare" minOccurs="1"></xs:element>
    		<xs:element name="formTemplate" type="tns:FormTemplateType" maxOccurs="1"></xs:element>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:element name="expireDate" type="xs:string">
    	<xs:annotation>
    		<xs:documentation>
    					Formulärets giltighetstid. Indikerar att
    					formuläret kan fyllas i fram till om med angivet
    					datum. T.ex. 20121101 Format: ÅÅÅÅMMDD
    					(yyyyMMdd)</xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="createdDateTime" type="xs:string">
    	<xs:annotation>
    		<xs:documentation>
    					Datum när användaren/patienten skapade
    					formuläret. T.ex. 2012-11-01 kl 13:05:00
    					20121101130500 Format: ÅÅÅÅMMDDttmmss
    					(yyyyMMddhhmmss)</xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="lastSavedDate" type="xs:string">
    	<xs:annotation>
    		<xs:documentation>
    					Datum för senaste temporärsparning
    					(användare/patientens). T.ex. 2012-11-01 kl
    					13:05:00 20121101130500. Format: ÅÅÅÅMMDDttmmss
    					(yyyyMMddhhmmss)</xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="keepUntil" type="xs:string">
    	<xs:annotation>
    		<xs:documentation>
    					Datum för hur länge källsystemet kommer lagra
    					formuläret. Format: ÅÅÅÅMMDD</xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="formStatus" type="tns:FormStatusType"></xs:element>
    <xs:element name="blockNumber" type="xs:int">

    	<xs:annotation></xs:annotation>
    </xs:element>

    <xs:complexType name="QuestionBlockAnswersType">
    	<xs:sequence>
    		<xs:element ref="tns:blockNumber" minOccurs="1"></xs:element>
            <xs:element name="questionAnswer"
    			type="tns:QuestionAnswerType" maxOccurs="unbounded">
    		</xs:element>
    		<xs:any namespace='##other' processContents='lax'
    			minOccurs='0' maxOccurs='unbounded' />
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="QuestionAnswerType">
        <xs:annotation>
        	<xs:documentation>Objektet innehåller en svaret på en fråga.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="answer" type="tns:AnswerType" minOccurs="1" maxOccurs="unbounded"></xs:element>
            <xs:element ref="tns:questionNumber" minOccurs="1"></xs:element>
    		<xs:any namespace='##other' processContents='lax' minOccurs='0'
    		maxOccurs='unbounded' />
    	</xs:sequence>
    </xs:complexType>
    <xs:element name="questionNumber" type="xs:int">
    	<xs:annotation>
    		<xs:documentation>Frågans löpnummer.</xs:documentation>
    	</xs:annotation>
    </xs:element>
    <xs:element name="answerAlternativeNumber" type="xs:int">
    	<xs:annotation></xs:annotation>
    </xs:element>

    <xs:complexType name="AnswerStatusType">
        <xs:annotation>
        	<xs:documentation>Objekt innehåller statuskod och meddelande.  </xs:documentation>
        </xs:annotation>
        <xs:sequence>
    		<xs:element name="resultCodeEnum" type="tns:ResultCodeEnumType" minOccurs="1">
    			<xs:annotation>
    				<xs:documentation>Signalerar om frågan är ifylld på ett felaktigt sätt. Felkod.
OK - Transaktion utfördINFO - Transaktion utförd med kommentar.ERROR - Transaktion ej genomförd 				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:element name="resultCodeText" type="xs:string" maxOccurs="1">
    			<xs:annotation>
    				<xs:documentation>Felmeddelande, förklarande text. Vid INFO eller ERROR.T.ex. INFO – Medtag legitimation.</xs:documentation>
    			</xs:annotation></xs:element>
    			            <xs:any namespace='##other' processContents='lax'
    			minOccurs='0' maxOccurs='unbounded' />
    	</xs:sequence>
    </xs:complexType>


    <xs:simpleType name="ResultCodeEnumType">
        <xs:annotation>
        	<xs:documentation>OK - transaktionen har utförts enligt uppdraget i frågemeddelandet.INFO - transaktionen har utförts enligt uppdraget i frågemeddelandet, men det finns ett meddelande som tjänstekonsumenten måste visa upp för invånaren. Exempel på detta kan vara ”medtag legitiomation vid besöket”.ERROR - transaktionen har INTE kunnat utföras enligt uppdrag i frågemeddelandet p.g.a. logiskt fel. Det finns ett meddelande som konsumenten måste visa upp. Exempel på detta kan vara ”ditt svar gick inte att hantera pga XXX”. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
    		<xs:enumeration value="OK"></xs:enumeration>
    		<xs:enumeration value="ERROR"></xs:enumeration>
    		<xs:enumeration value="INFO"></xs:enumeration>
    	</xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormStatusType">
    	<xs:annotation>
    		<xs:documentation>COMPLETED = Avslutad ONGOING = Pågående, frågor har
temporärsparats PENDING_COMPLETION = Pågående, frågor
har temporärsparats. Alla frågor är besvarade.
KV Form Status
    		</xs:documentation>
    	</xs:annotation>
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="COMPLETED"></xs:enumeration>
    		<xs:enumeration value="PENDING_COMPLETION"></xs:enumeration>
    		<xs:enumeration value="ONGOING"></xs:enumeration>
    	</xs:restriction>
    </xs:simpleType>

    <xs:complexType name="FormRequestType">
    	<xs:sequence>
    		<xs:element ref="tns:healthcare_CareGiver" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element ref="tns:healthcare_facility_CareUnit" minOccurs="1"></xs:element>
    		<xs:element ref="tns:healthcare_MedUnit" minOccurs="0"></xs:element>
    		<xs:element ref="tns:healthcare_systemID" minOccurs="0"></xs:element>
            <xs:element ref="tns:clinicalProcessInterestId" minOccurs="0"></xs:element>
            <xs:element ref="tns:subjectOfCare" minOccurs="1"></xs:element>
    		<xs:element ref="tns:templateId" minOccurs="1"></xs:element>
    		
    		            <xs:any namespace='##other' processContents='lax' minOccurs='0'
    		maxOccurs='unbounded' />
    	</xs:sequence>
    </xs:complexType>
    
    <xs:element name="category" type="tns:CategoryType">
    	<xs:annotation></xs:annotation>
    </xs:element>
    <xs:element name="mandatory" type="xs:boolean">
    	<xs:annotation>
    		<xs:documentation>Indikerar om formuläret är obligatoriskt att fylla i av användaren. T.ex. Ett obligatoriskt formulär kan indikerar att formuläret är en del av en vårdprocess.</xs:documentation>
    	</xs:annotation>
    </xs:element>
    <xs:element name="language" type="xs:string">
    	<xs:annotation>
    		<xs:documentation>Beskriver vilket språk som används i formuläret. T.ex. sv eller en.

Kodverk för språk Innehåller språkkoder som utgår från SS-ISO 639-1:2005.</xs:documentation>
    	</xs:annotation>
    </xs:element>
    <xs:element name="formName" type="xs:string">
    	<xs:annotation></xs:annotation>
    </xs:element>
    <xs:element name="description" type="xs:string">
    	<xs:annotation>
    		<xs:documentation>Beskrivning</xs:documentation>
    	</xs:annotation>
    </xs:element>
    <xs:element name="informationURL" type="xs:string">
    	<xs:annotation>
    		<xs:documentation>URL till ytterligare/relevant information.</xs:documentation>
    	</xs:annotation>
    </xs:element>
    <xs:element name="term" type="xs:string">
    	<xs:annotation>
    		<xs:documentation>Villkor kopplade till formuläret.T.ex. Villkorstext som användaren/patienten måste godkänna innan formuläret kan besvaras.</xs:documentation>
    	</xs:annotation>
    </xs:element>
    <xs:element name="maxNumberOfQuestion" type="xs:int">
    	<xs:annotation>
    		<xs:documentation>Beskriver hur många frågor formuläret maximalt kan innehåller.T.ex. 10.</xs:documentation>
    	</xs:annotation>
    </xs:element>
    <xs:element name="minNumberOfQuestion" type="xs:int">
    	<xs:annotation>
    		<xs:documentation>Beskriver hur många frågor formuläret som minst kan innehåller.</xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="maxNumberOfBlocks" type="xs:int">
    	<xs:annotation>
    		<xs:documentation>Beskriver hur många ”block” formuläret maximalt kan innehåller.</xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="minNumberOfBlocks" type="xs:int">
    	<xs:annotation>
    		<xs:documentation>Beskriver hur många ”block” formuläret minst kan innehåll.</xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="superiorQuestionNumber" type="xs:int">
    	<xs:annotation>
    		<xs:documentation>Indikerar att frågan är beroende av överordnad fråga. Fältet innehåller ”QuestionID”. Detta innebär att fältet endast skall valideras om överordnad fråga är besvarad. </xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="superiorAnswerAlternativeNumber" type="xs:int">
    	<xs:annotation>
    		<xs:documentation>Indikerar att frågan är beroende av ett specifikt svarsalternativ.T.ex. Frågan skall endast visas om ett specifikt svarsalternativ är markerat/valt.</xs:documentation>
    	</xs:annotation></xs:element>

    <xs:complexType name="QuestionSuperiorType">
    	<xs:annotation>
    		<xs:documentation>
    			Objekt för att indikera beroenden till överordnade
    			frågor finns.
    		</xs:documentation>
    	</xs:annotation>
    	<xs:sequence>
    		<xs:element ref="tns:superiorAnswerAlternativeNumber" minOccurs="0" maxOccurs="unbounded"></xs:element>
    		<xs:element ref="tns:superiorQuestionNumber" maxOccurs="1" minOccurs="1"></xs:element>
    		<xs:any namespace='##other' processContents='lax'
    			minOccurs='0' maxOccurs='unbounded' />
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="PageType">
    	<xs:annotation>
    		<xs:documentation>
    			En PageType representerar en formulärsida. En page
    			innehåller en gruppering av QuestionBlock som skall
    			kunna visas tillsammans. - Sidan kan innehålla en till
    			många QuestionBlock.
    		</xs:documentation>
    	</xs:annotation>
    	<xs:sequence>
    		<xs:element name="questionBlocks"
    			type="tns:QuestionBlockType" minOccurs="1"
    			maxOccurs="unbounded">
    		</xs:element>
    		<xs:element ref="tns:description" maxOccurs="1"
    			minOccurs="0">
    			<xs:annotation>
    				<xs:documentation>
    					Beskrivande text. Stöder kodverk ”DocBook” Se
    					tidbokningskontraktet för formatering (Todo).
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
            <xs:element ref="tns:informationURL" minOccurs="0"></xs:element>
            <xs:element name="lastPage" type="xs:boolean" minOccurs="1"
    			maxOccurs="1">
    			<xs:annotation>
    				<xs:documentation>
    					Indikerar om ytterligare frågeblock/page finns.
    					Detta ger indikation för konsumerande system att
    					presentera en knapp för att ”Avsluta och skicka”
    					formuläret. True = Indikerar att detta är det
    					sistea frågeblocket/page. False = Indikerar att
    					ytterligare frågeblock/page .
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:element name="subject" type="xs:string" minOccurs="0">
    			<xs:annotation>
    				<xs:documentation>
    					Sidans rubrik. Information till
    					invånaren/användaren.
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		<xs:element name="pageNumber" type="xs:int" maxOccurs="1"
    			minOccurs="1">
    			<xs:annotation>
    				<xs:documentation>
    					Grupperingsbegrepp av sida (page). Sidans nummer
    					i nummerserie. Används för att indikera hur
    					långt användaren har kommit i formuläret. T.ex
    					Sida nummer 1 (av 10).
    				</xs:documentation>
    			</xs:annotation>
    		</xs:element>
    		            <xs:any namespace='##other' processContents='lax' minOccurs='0'
    		maxOccurs='unbounded' />
    	</xs:sequence>
    </xs:complexType>
    
    <xs:element name="currentPage" type="xs:boolean">
    	<xs:annotation>
    		<xs:documentation>Indikerar aktuell sida (page).</xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="page" type="xs:string">
    	<xs:annotation>
    		<xs:documentation>Identifierar den sidan som en till många block skall ingå i.</xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="pageNumber" type="xs:int"></xs:element>

    <xs:element name="subject" type="xs:string">
    	<xs:annotation>
    		<xs:documentation>Rubrik</xs:documentation>
    	</xs:annotation></xs:element>

    <xs:element name="maxNumberOfPages" type="xs:int"></xs:element>

    <xs:element name="minNumberOfPages" type="xs:int"></xs:element>

    <xs:complexType name="PageAnswerType">
    	<xs:sequence>
    		<xs:element ref="tns:pageNumber" maxOccurs="1" minOccurs="1"></xs:element>
    		<xs:element name="questionAnswerBlock"
    			type="tns:QuestionBlockAnswersType" maxOccurs="unbounded">
    		</xs:element>
            <xs:element ref="tns:subjectOfCare" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:any namespace='##other' processContents='lax'
    			minOccurs='0' maxOccurs='unbounded' />
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="FormRequestResponseType">
        <xs:annotation>
        	<xs:documentation>Objektet returneras till anropande system vid "createFormRequest" (Formulärbegäran). Anriopande system får ett unika ID per formulärbegäran.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="tns:clinicalProcessInterestId" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="tns:formId" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element ref="tns:healthcare_facility_CareUnit" minOccurs="1" maxOccurs="1"></xs:element>
    		<xs:element ref="tns:subjectOfCare" minOccurs="1" maxOccurs="1"></xs:element>
    		            <xs:any namespace='##other' processContents='lax' minOccurs='0'
    		maxOccurs='unbounded' />
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="ValidationEventType">
    	<xs:annotation>
    		<xs:documentation>Objektet innehåller felmeddelanen kopplade till en fråga.
Följande Events är giltiga:
mandatoryanswerMaxanswerMinanswerMaxLengthanswerPatternmaxNumberOfChoisesminNumberOfChoisesanswerSuperior
    		</xs:documentation>
    	</xs:annotation>
    	<xs:sequence>
    		<xs:element name="validationEvent" type="xs:string" minOccurs="1">
    			<xs:annotation>
    				<xs:documentation>Följande events är giltiga:
mandatoryanswerMaxanswerMin
answerMaxLengthanswerPatternmaxNumberOfChoisesminNumberOfChoisesanswerSuperior</xs:documentation>
    			</xs:annotation></xs:element>
    		<xs:element name="validationText" type="xs:string" minOccurs="1" maxOccurs="1">
    			<xs:annotation>
    				<xs:documentation>Valideringstext/meddelande. Informationen skall presenteras för användaren vid valideringsfel.</xs:documentation>
    			</xs:annotation></xs:element>
    	</xs:sequence>
    </xs:complexType>
</xs:schema>