ServiceInteractions/riv/se_apotekensservice/fota/trunk/schemas/interactions/UppdateraForsaljningSlutenvardInteraction/UppdateraForsaljningSlutenvardInteraction_1.0_rivtabp20.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:argos="urn:riv:inera.se.apotekensservice:argos:1" xmlns:spdr="urn:riv:se.apotekensservice:fota:UppdateraForsaljningSlutenvardResponder:1" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="urn:riv:inera:se.apotekensservice:fota:UppdateraForsaljningSlutenvard:1:rivtabp20" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:riv:inera:se.apotekensservice:fota:UppdateraForsaljningSlutenvard:1:rivtabp20" name="UppdateraForsaljningSlutenvardInteraction">
  <xs:annotation>
    <xs:documentation>
            Beskrivning: Tjänstekontraktet som avser att konkretisera tillämpningen av RIV.
            Revisioner: 2011-04-05 Version 1.0
            Tjänstedomän: se.apotekensservice:fota.
            Tjänsteinteraktionens namn: UppdateraForsaljningSlutenvard.
            Tjänsteinteraktionstyp: Fråga-Svar.
            RIV Tekniska Anvisning: Basic Profile 2.0
        </xs:documentation>
  </xs:annotation>
  <wsdl:types>
    <xs:schema targetNamespace="urn:riv:inera:se.apotekensservice:fota:UppdateraForsaljningSlutenvard:1:rivtabp20">
      <xs:import schemaLocation="UppdateraForsaljningSlutenvardResponder_1.0.xsd" namespace="urn:riv:se.apotekensservice:fota:UppdateraForsaljningSlutenvardResponder:1"/>
      <xs:import schemaLocation="../../core_components/ws-addressing-1.0.xsd" namespace="http://www.w3.org/2005/08/addressing"/>
      <xs:import schemaLocation="../../core_components/ArgosHeader_1.0.xsd" namespace="urn:riv:inera.se.apotekensservice:argos:1"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="UppdateraForsaljningSlutenvardRequest">
    <wsdl:part element="spdr:UppdateraForsaljningSlutenvard" name="parameters"/>
    <wsdl:part name="LogicalAddress" element="wsa:To">
      <xs:annotation>
        <xs:documentation>Orgnr of Apotekens Service AB</xs:documentation>
      </xs:annotation>
    </wsdl:part>
    <wsdl:part name="ArgosHeader" element="argos:ArgosHeader">
      <xs:annotation>
        <xs:documentation>Argos header of Apotekens Service AB. Check documentation regarding mandatory for this specific service interaction</xs:documentation>
      </xs:annotation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UppdateraForsaljningSlutenvardResponse">
    <wsdl:part element="spdr:UppdateraForsaljningSlutenvardResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApplicationException">
    <wsdl:part element="spdr:ApplicationException" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SystemException">
    <wsdl:part element="spdr:SystemException" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="UppdateraForsaljningSlutenvardResponderInterface">
    <wsdl:operation name="UppdateraForsaljningSlutenvard">
      <wsdl:input message="UppdateraForsaljningSlutenvardRequest"/>
      <wsdl:output message="UppdateraForsaljningSlutenvardResponse"/>
      <wsdl:fault message="ApplicationException" name="ApplicationException"/>
      <wsdl:fault message="SystemException" name="SystemException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UppdateraForsaljningSlutenvardResponderBinding" type="UppdateraForsaljningSlutenvardResponderInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="UppdateraForsaljningSlutenvard">
      <soap:operation soapAction="urn:riv:se.apotekensservice:fota:UppdateraForsaljningSlutenvardResponder:1:UppdateraForsaljningSlutenvard"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header use="literal" message="UppdateraForsaljningSlutenvardRequest" part="LogicalAddress"/>
        <soap:header use="literal" message="UppdateraForsaljningSlutenvardRequest" part="ArgosHeader"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApplicationException">
        <soap:fault name="ApplicationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SystemException">
        <soap:fault name="SystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UppdateraForsaljningSlutenvardResponderService">
    <wsdl:port name="UppdateraForsaljningSlutenvardResponderPort" binding="UppdateraForsaljningSlutenvardResponderBinding">
      <soap:address location="http://temp.uri/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
