ServiceInteractions/riv/crm/carelisting/trunk/GetListningInteraction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GetListingInteraction"
	xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tjs="urn:riv:crm:carelisting:GetListingResponder:1"
	targetNamespace="urn:riv:crm:carelisting:GetListing:1:rivtabp20" xmlns="urn:riv:crm:carelisting:GetListing:1:rivtabp20">

	<xsd:annotation>
		<xsd:documentation>
			Beskrivning: Tjänstekontraktet som ingår i Nationella Listingsstjänsten. 
							 Hämtar listningsinformation för en person. 
			Revisioner: 2009-06-10 Version 1.0: Uppdelat i flera meddelanden (en per operation) efter 
							kommentarer ifrån Arkitekturledningen. 
			Tjänstedomän: crm:carelisting. crm=Customer Relationship Management.
			Tjänsteinteraktionens namn: GetListing.
			Tjänsteinteraktionstyp: Fråga-Svar.	
			RIV Tekniska Anvisning: Basic Profile 2.0
		</xsd:documentation>
	</xsd:annotation>

	<!-- Egendefinierade typer -->
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified">
			<xsd:import schemaLocation="GetListing_1_0.xsd"
				namespace="urn:riv:crm:carelisting:GetListingResponder:1" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import schemaLocation="ws-addressing-1.0.xsd"
				namespace="http://www.w3.org/2005/08/addressing" />
		</xsd:schema>
	</wsdl:types>

	<!-- Meddelanden -->
	<!-- Hämta en listning för en person.  -->
	<wsdl:message name="getListingRequest">
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="parameters" element="tjs:getListing" />
	</wsdl:message>
	<wsdl:message name="getListingResponse">
		<wsdl:part name="parameters" element="tjs:getListingResponse" />
	</wsdl:message>
	<wsdl:message name="PersonNotFound">
		<wsdl:part name="parameters" element="tjs:PersonNotFound" />
	</wsdl:message>
	<wsdl:message name="TechnicalException">
		<wsdl:part name="parameters" element="tjs:TechnicalException" />
	</wsdl:message>
	
	<!-- Port typer -->
	<wsdl:portType name="GetListingResponderInterface">
		<wsdl:operation name="getListing">
			<wsdl:documentation>Hämtar en listning för angivet	personnummer. Hämtar endast personens
				aktuella val, ej historisk	data. Logisk adress är till vårdgivare som ska kunna svara på frågan.
			</wsdl:documentation>
			<wsdl:input message="getListingRequest" />
			<wsdl:output message="getListingResponse" />
			<wsdl:fault name="PersonNotFound" message="PersonNotFound"></wsdl:fault>
			<wsdl:fault name="TechnicalException" message="TechnicalException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	
	<!-- Bindningar -->
	<wsdl:binding name="GetListingResponderBinding" type="GetListingResponderInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="getListing">
			<soap:operation soapAction="urn:riv:crm:carelisting:GetListingResponder:1:getListing" />
			<wsdl:input>
				<soap:header use="literal" message="getListingRequest"
					part="LogicalAddress" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="PersonNotFound">
				<soap:fault use="literal" name="PersonNotFound" />
			</wsdl:fault>
			<wsdl:fault name="TechnicalException">
				<soap:fault use="literal" name="TechnicalException" />
			</wsdl:fault>	
		</wsdl:operation>
	</wsdl:binding>

	<!-- Servicar -->
	<wsdl:service name="GetListingResponderService">
		<wsdl:port name="GetListingResponderPort" binding="GetListingResponderBinding">
			<soap:address location="http://temp.uri/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
