ServiceInteractions/riv/ehr/patientsummary/branches/TD_PATIENTSUMMARY_2/schemas/interactions/GetReferralOutcomeInteraction/GetReferralOutcomeResponder_2.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->		
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:riv:ehr:patientsummary:GetReferralOutcomeResponder:2"
    xmlns:core="urn:riv:ehr:patientsummary:2"
    xmlns:codes="urn:riv:ehr:patientsummary:enums:2"
    targetNamespace="urn:riv:ehr:patientsummary:GetReferralOutcomeResponder:2"
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified" 
    version="2.0">

    <xs:import schemaLocation="../../core_components/ehr_patientsummary_2.0.xsd" namespace="urn:riv:ehr:patientsummary:2"/>
    <xs:import schemaLocation="../../core_components/ehr_patientsummary_enum_2.0.xsd" namespace="urn:riv:ehr:patientsummary:enums:2"/>
    
    <xs:element name="GetReferralOutcome" type="tns:GetReferralOutcomeType"/>
    <xs:element name="GetReferralOutcomeResponse" type="tns:GetReferralOutcomeResponseType"/>
    
    <xs:complexType name="GetReferralOutcomeType">
        <xs:annotation>
            <xs:documentation>
                careUnitHSAid: 
                    HSA-Id för e-tjänsteproducent.
                patientId: 
                    Patientens identitet, nationellt unikt person-id.
                timePeriod:
                    Begränsning av sökningen i tid, baserat på kliniskt
                    relevanta datum. Händelser anses ligga inom intervallet, 
                    om de till någon del ligger inom intervallet. 
                    (Start- och slutpunkt inkluderas i intervallet.) 
                    Formatet för start- respektive slutdatum är ÅÅÅÅMMDD.
            </xs:documentation>
        </xs:annotation>	
        <xs:sequence>
            <xs:element name="careUnitHSAid" type="core:HsaIdType"/>
            <xs:element name="patientId" type="core:PersonIdType"/>
            <xs:element name="timePeriod" type="core:DateTimePeriodType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="GetReferralOutcomeResponseType">
        <xs:annotation>
            <xs:documentation>
                referralOutcome: 
                result:
            </xs:documentation>
        </xs:annotation>	
        <xs:sequence>
            <xs:element name="referralOutcome" type="tns:ReferralOutcomeType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="result" type="tns:ResultType"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ReferralOutcomeType">
        <xs:sequence>
            <xs:element name="referralOutcomeHeader" type="tns:ReferralOutcomeHeaderType"/>
            <xs:element name="referralOutcomeBody" type="tns:ReferralOutcomeBodyType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ResultType">
        <xs:sequence>
            <xs:element name="resultCode" type="tns:ResultCodeType"/>
            <xs:element name="resultText" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="ResultCodeType">
        <xs:annotation>
            <xs:documentation> 
                Vid ett logiskt fel i de uppdaterande tjänsterna levereras resultCode, resultText. 
                
                resultCode kan vara: 
                OK    Transaktionen har utförts enligt uppdraget i frågemeddelandet. 
                INFO  Transaktionen har utförts enligt begäran, men detfinns ett 
                meddelande som konsumenten måste visa upp för användaren (om tillämpbart).
                Exempel på detta kan vara ”kom fastande”. 
                ERROR Transaktionen har INTE kunnat utföras enligt p.g.a. logiskt fel. 
                Det finns ett meddelande som konsumenten måste visa upp. Exempel på 
                detta kan vara ”tiden har bokats av annan patient
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK"/>
            <xs:enumeration value="ERROR"/>
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ReferralOutcomeHeaderType">
        <xs:complexContent>
            <xs:extension base="core:PatientSummaryHeaderType"/>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ReferralOutcomeBodyType">
        <xs:annotation>
            <xs:documentation>
                referralOutcomeTitle: 
                    Dokument/anteckning
                referralOutcomeText:
                    Multimedia som finns i dokumentet, motsvaras 
                    av platshållare i careDocumentNoteText
                clinicalInformation:
                    Klinisk information för remissvaret. Fast
                    text som anger typ av svar.
                act:
                    Utförd åtgärd
                careRequest:
                    Information om den vårdbegäran som ligger
                    till grund för svaret.
            </xs:documentation>
        </xs:annotation>	
        <xs:sequence>
            <xs:element name="referralOutcomeTitle" type="xs:string"/>
            <xs:element name="referralOutcomeText" type="xs:string"/>
            <xs:element name="clinicalInformation" type="tns:ClinicalInformationType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="act" type="tns:ActType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="careRequest" type="tns:CareRequestType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ClinicalInformationType">
        <xs:annotation>
            <xs:documentation>
                clinicalInformationCode: 
                    Kod för åtgärd. Kod kan komma från 
                    kodverket ICD-10 (1.2.752.116.1.1.1.1.3)
                clinicalInformationText:
                    Beskrivning av klinisk information.
            </xs:documentation>
        </xs:annotation>	
        <xs:sequence>
            <xs:element name="clinicalInformationCode" type="xs:string"/>
            <xs:element name="clinicalInformationText" type="xs:string"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ActType">
        <xs:annotation>
            <xs:documentation>
                actId:
                    Unik identitet på åtgärd.
                    (1.2.752.129.2.1.2.1)
                actCode:
                    Åtgärdskod. Nullvärde är tillåtet om kod ej är tillgänglig.
                    Åtgärdskod ska då skrivas i actText. Kod från kodverk 
                    KVÅ (1.2.752.116.1.3.2.1.4)
                actText:
                    Text som anger namnet på den kod som anges i actCode alt.
                    beskrivning av åtgärd om ingen kod har angets i actCode.
                actResult:
                    Resultat av åtgärd. Data i form av bifogade bilder eller liknande.
            </xs:documentation>
        </xs:annotation>	
        <xs:sequence>
            <xs:element name="actId" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="actCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="actText" type="xs:string"/>
            <xs:element name="actResult" type="tns:ActResultType"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ActResultType">
        <xs:sequence>
            <xs:element name="value" type="core:MediaEntryType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CareRequestType">
        <xs:annotation>
            <xs:documentation>
                careRequestId:
                    Unik identifierare för vårdbegäran. Föreslagen 
                    OID för icke-nationell identifierare Org+lokalt
                    unikt id (1.2.752.129.2.1.2.1)
                careRequestText:
                    Texten från vårdbegäran.
                careRequestTime:
                    Tid då vårdbegäran framställdes. Nullvärde tillåtet.
                careRequestAuthorId:
                    HSA-id för persom som framställt vårbegäran.
                careRequestAuthorName:
                    Namn på författare.
                careRequestOrganizationId:
                    HSA-id för organisationen där person som har
                    fastställt vårbegäran är uppdragstagare hos.
                careRequestOrganizationName:
                    Namn på organisatorisk enhet.
                careRequestOrganizationTelecom:
                    Telefonnummer till organisatorisk enhet.
                careRequestOrganizationAddress:
                    Adress till organisatorisk enhet.
                careEncounter:
                    Bakomliggande vård- och omsorgskontakt.                
            </xs:documentation>
        </xs:annotation>	
        <xs:sequence>
            <xs:element name="careRequestId" type="xs:string"/>
            <xs:element name="careRequestText" type="xs:string"/>
            <xs:element name="careRequestTime" type="core:TimeStampType"/>
            <xs:element name="careRequestAuthorId" type="core:HsaIdType"/>
            <xs:element name="careRequestAuthorName" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="careRequestOrganizationId" type="core:HsaIdType"/>
            <xs:element name="careRequestOrganizationName" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="careRequestOrganizationTelecom" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="careRequestOrganizationAddress" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="careEncounter" type="tns:CareEncounterType" minOccurs="0" maxOccurs="1"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CareEncounterType">
        <xs:annotation>
            <xs:documentation>
                careEncounterId: 
                    Id på vård- och omsorgskontakt. Föreslagen OID för
                    icke-nationell identifierare Org+lokalt unikt id
                    (1.2.752.129.2.1.2.1)
                careEncounterTime:
                    Tid för vård- och omsorgskontaktens start och slut.
            </xs:documentation>
        </xs:annotation>	
        <xs:sequence>
            <xs:element name="careEncounterId" type="xs:string"/>
            <xs:element name="careEncounterTime" type="tns:CareEncounterTimeType"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CareEncounterTimeType">
        <xs:annotation>
            <xs:documentation>
                start: 
                    Tid för vård- och omsorgskontaktens start    
                end: 
                    Tid för vård- och omsorgskontaktens slut    
            </xs:documentation>
        </xs:annotation>	
        <xs:sequence>
            <xs:element name="start" type="core:TimeStampType"/>
            <xs:element name="end" type="core:TimeStampType" minOccurs="0" maxOccurs="1"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Values for DocumentCodeType/value -->
    <xs:simpleType name="DocumentCodeType">
        <xs:annotation>
            <xs:documentation>
                Indicates the type of referral outcome.
                Allowed values ​​from code system Anteckningstyp (1.2.752.97.3.2.8.6)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SR">
                <xs:annotation>
                    <xs:documentation>Svar på remissfråga</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SS">
                <xs:annotation>
                    <xs:documentation>Slutsvar på remissfråga</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
