ServiceInteractions/riv/clinicalprocess/requestworkflow/trunk/schemas/core_components/remiss.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:riv:clinicalprocess:requestworkflow:request" xmlns="urn:riv:clinicalprocess:requestworkflow:request" xmlns:gcda="AlschulerAssociates::GreenCDA" attributeFormDefault="unqualified">
    <xs:import schemaLocation='green_ccd.xsd' namespace='AlschulerAssociates::GreenCDA' />

    <xs:element name="request" type="RequestType"/>

    <xs:complexType name="RequestType">
        <xs:sequence>
            <xs:element name="requestId" type="gcda:ii"/>
            <xs:element name="typeOfRequest" type="gcda:cd" minOccurs="0" />
            <xs:element name="versionTimeStamp" type="gcda:ts" minOccurs="0" />
            <xs:element name="versionNumber" type="xs:int"/>
            <xs:element name="reasonForVersion" type="ReasonForVersionType" minOccurs="0" />
            
            <xs:element name="patient" type="PatientType"/>

            <xs:element name="author" type="AuthorType"/>
            <xs:element name="custodian" type="CustodianType"/>
            <xs:element name="informationRecipient" type="InformationRecipientType"/>
            <xs:element name="legalAuthenticator" type="LegalAuthenticatorType"/>
            <xs:element name="participant" type="ParticipantType" minOccurs="0"/>

            <xs:element name="additionalInformation" type="AdditionalInformationType" />
            <xs:element name="awarenessInformation" type="AwarenessInformationType" />
            <xs:element name="questionFormulation" type="QuestionFormulationType" />             
        </xs:sequence>        
    </xs:complexType>
    
    <xs:complexType name="TelecomNumberType" >        
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="code" />
                <xs:attribute name="displayName" />
                <xs:attribute name="codeSystem" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="ReasonForVersionType" >        
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="code" />
                <xs:attribute name="displayName" />
                <xs:attribute name="codeSystem" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="RequestedTimeForPerformanceType">
        <xs:attribute name="low" />
        <xs:attribute name="high" />
    </xs:complexType>
    
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="typeOfAddress" type="gcda:cd"/>            
            <xs:element name="careOf" type="xs:string" minOccurs="0"/>
            <xs:element name="streetName1" type="xs:string"/>
            <xs:element name="streetName2" type="xs:string" minOccurs="0"/>
            <xs:element name="streetName3" type="xs:string" minOccurs="0"/>
            <xs:element name="postalCode" type="xs:string"/>
            <xs:element name="county" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AuthorType">
        <xs:sequence>
            <xs:element name="dateOfRequest" type="gcda:ts"/>
            <xs:element name="staffId" type="gcda:ii" minOccurs="0" />
            <xs:element name="typeOfStaff" type="gcda:cd" minOccurs="0" />
            <xs:element name="staffName" type="xs:string" minOccurs="0" />
            <xs:element name="unitId" type="gcda:ii" minOccurs="1" />
            <xs:element name="unitName" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CustodianType">
        <xs:sequence>
            <xs:element name="unitId" type="gcda:ii" minOccurs="1" />
            <xs:element name="unitName" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="InformationRecipientType">
        <xs:sequence>
            <xs:element name="staffId" type="gcda:ii" minOccurs="0" />
            <xs:element name="staffName" type="xs:string" minOccurs="0" />
            <xs:element name="unitId" type="gcda:ii" minOccurs="1" />
            <xs:element name="unitName" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LegalAuthenticatorType">
        <xs:sequence>
            <xs:element name="timeOfSigning" type="gcda:ts" minOccurs="0" />
            <xs:element name="signed" type="xs:boolean" minOccurs="1" />
            <xs:element name="signature" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ParticipantType">
        <xs:sequence>
            <xs:element name="id" type="gcda:ii"/>
            <xs:element name="referralRole" type="gcda:cd"/>
            <xs:element name="staffId" type="gcda:ii" minOccurs="0" />
            <xs:element name="staffName" type="xs:string" minOccurs="0" />
            <xs:element name="unitId" type="gcda:ii" minOccurs="1" />
            <xs:element name="unitName" type="xs:string" minOccurs="0" />
            <xs:element name="typeOfStaff" type="gcda:cd" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="InterpreterRequirementType">
        <xs:attribute name="comment" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="AwarenessInformationType">
        <xs:sequence>
            <xs:element name="text" type="xs:string" minOccurs="0" />
            <xs:element name="clinicalInformation" type="ClinicalInformationType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>    
        
    <xs:complexType name="ActionType">
        <xs:sequence>
            <xs:element name="id" type="gcda:ii"/>
            <xs:element name="type" type="gcda:cd" minOccurs="0" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="QuestionFormulationType">
        <xs:sequence>
            <xs:element name="text" type="xs:string" minOccurs="0" />
            <xs:element name="desiredAction" type="ActionType" minOccurs="0" />
            <xs:element name="clinicalInformation" type="ClinicalInformationType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ClinicalInformationType">
        <xs:sequence>
            <xs:element name="code" type="gcda:ii"/>
            <xs:element name="condition" type="gcda:cd" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="action" type="ActionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="PatientType">
        <xs:sequence>
            <xs:element name="personId" type="gcda:ii"/>
            <xs:element name="address" type="AddressType" minOccurs="0"/> 
            <xs:element name="telecom" type="TelecomNumberType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="name" type="xs:string" minOccurs="0" />
            <xs:element name="gender" type="gcda:cd" minOccurs="0" />
            <xs:element name="dateOfBirth" type="gcda:ts" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="QuestionCauseType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="code" />
                <xs:attribute name="displayName" />
                <xs:attribute name="codeSystem" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AdditionalInformationType">
        <xs:sequence>
            <xs:element name="desiredDateForPerformance" type="RequestedTimeForPerformanceType"/>
            <xs:element name="desiredRequestRecipient" type="xs:string" />
            <xs:element name="interpreterRequirement" type="xs:string" />
            <xs:element name="administrativeInformation" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>