ServiceInteractions/riv/clinicalprocess/requestworkflow/trunk/schemas/core_components/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           elementFormDefault="qualified" 
           targetNamespace="urn:riv:clinicalprocess:requestworkflow:request" 
           xmlns="urn:riv:clinicalprocess:requestworkflow:request" 
           xmlns:codes="urn:riv:clinicalprocess:requestworkflow:codes"
           attributeFormDefault="unqualified">
    <xs:import schemaLocation='codes.xsd' namespace='urn:riv:clinicalprocess:requestworkflow:codes' />
    
    <xs:element name="request" type="RequestType"/> <!-- Remiss -->
    <xs:element name="requestOutcome" type="RequestOutcomeType"/> <!-- Remissvar -->
    
    <xs:complexType name="RequestType">
        <xs:sequence>
            <xs:element name="requestId" type="RequestIdType"/>
            <xs:element name="typeOfRequest" type="codes:codeForRequestType"/>
            <xs:element name="versionTimeStamp" type="TimeStampType"/>
            <xs:element name="versionNumber" type="VersionNumberType"/>
            <xs:element name="reasonForVersion" type="ReasonForVersionType" />
            
            <xs:element name="patient" type="PatientType"/>
            
            <xs:element name="author" type="AuthorType"/>
            <xs:element name="recipient" type="RecipientType"/>
            <xs:element name="outcomeRecipient" type="RecipientType" minOccurs="0"/>
            <xs:element name="intermediaryParticipant" type="IntermediaryType" minOccurs="0"/>
            
            <xs:element name="additionalInformation" type="AdditionalInformationType" />
            <xs:element name="awarenessInformation" type="AwarenessInformationType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="questionFormulation" type="QuestionFormulationType" />             
        </xs:sequence>        
    </xs:complexType>

    <xs:complexType name="RequestOutcomeType">
        <xs:sequence>
            <xs:element name="requestId" type="RequestIdType"/> <!-- inFulfillmentOf -->
            <xs:element name="requestOutcomeId" type="RequestIdType"/>
            <xs:element name="typeOfRequestOutcome" type="codes:codeRequestOutcomeType"/>
            <xs:element name="versionTimeStamp" type="TimeStampType"/>
            <xs:element name="versionNumber" type="VersionNumberType"/>
            <xs:element name="patient" type="PatientTypeOutcome"/>           
            <xs:element name="author" type="AuthorType"/>
            <xs:element name="recipient" type="RecipientType"/>
            <xs:element name="outcome" type="OutcomeType" />
        </xs:sequence>        
    </xs:complexType>
    
    <!-- Type for requestId and requestOutcomId --> 
    <xs:complexType name="RequestIdType">
        <xs:attribute name="extension" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string" >
                    <xs:maxLength value="256" />
                    <xs:pattern value="(.*)#(.*)" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="root" use="required" fixed="1.2.752.129.2.1.2.1">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="TimeStampType">
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])\d{4,6}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
        
    <xs:complexType name="TelecomType">
        <xs:sequence>
            <xs:element name="typeOfTelecom" type="codes:codeForTelecomType" />
            <xs:element name="number" type="TelecomNumberType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ReasonForVersionType">
        <xs:sequence>
            <xs:element name="typeOfReason" type="codes:codeVersionReason" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- Patient type -->
    <xs:complexType name="PatientType">
        <xs:sequence>
            <xs:element name="personId" type="PersonIdType"/>
            <xs:element name="address" type="AddressType" minOccurs="0"/> 
            <xs:element name="telecom" type="TelecomType" minOccurs="0" maxOccurs="2"/>
            <xs:element name="name" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="216"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="gender" type="codes:codeForGenderType" minOccurs="0" />
            <xs:element name="dateOfBirth" type="DateType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- -->
    <xs:complexType name="PatientTypeOutcome">
        <xs:sequence>
            <xs:element name="personId" type="PersonIdType"/>
            <xs:element name="name" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string" >
                        <xs:maxLength value="216"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Version number only allows a number of 1 and higher. with leading 0
Examples: 1
    01
    0001
    2
    and so on
    -->
    <xs:simpleType name="VersionNumberType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0*[1-9]+|[1-9])\d*"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Telecom number format +123-12345678 -->
    <xs:simpleType name="TelecomNumberType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+\d+-\d+"/>
        </xs:restriction>
    </xs:simpleType>
     
    <!-- Date format SSYYMMDD -->
    <xs:complexType name="DateType">
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <!-- Type for swedish social security number -->
    <xs:complexType name="PersonIdType">
        <xs:attribute name="extension" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{8}[0-9pPtTfF][0-9]{3}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="root" use="required" fixed="1.2.752.129.2.1.3.1" />
    </xs:complexType>
    
    <!-- Type for carrying an address, modeled after navnet -->
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="careOf" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="35"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="streetName1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="35"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="streetName2" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string" >
                        <xs:maxLength value="35"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="streetName3" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="35"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="postalCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{3,3}\s[0-9]{2,2}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="postalCity">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="27"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AuthorType">
        <xs:sequence>
            <xs:element name="dateOfRequest" type="DateType"/>
            <xs:element name="staff" type="StaffType" />            
            <xs:element name="typeOfStaff" type="codes:codeForProfession" minOccurs="0" />
            <xs:element name="staffOrganisation" type="OrganisationType" /> <!-- custodian -->            
            <xs:element name="staffOriginOrganisation" type="OrganisationType" minOccurs="0" /> <!-- representedOrganisation -->
            <xs:element name="legalAuthenticator" type="LegalAuthenticatorType" minOccurs="0"/> <!-- legalAuthenticator -->
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="IntermediaryType">
        <xs:sequence>
            <xs:element name="staff" type="StaffType" />            
            <xs:element name="typeOfStaff" type="codes:codeForProfession" minOccurs="0" />
            <xs:element name="staffOrganisation" type="OrganisationType" /> <!-- custodian -->            
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RecipientType">
        <xs:sequence>
            <xs:element name="staff" type="StaffType" minOccurs="0" />
            <xs:element name="typeOfStaff" type="codes:codeForProfession" minOccurs="0" />
            <xs:element name="organisation" type="OrganisationType" />            
        </xs:sequence>
    </xs:complexType>
        
    <xs:complexType name="LegalAuthenticatorType">
        <xs:sequence>
            <xs:element name="timeOfSigning" type="TimeStampType" />
            <xs:element name="signature" type="StaffType" minOccurs="0"/> <!-- Tolkning att denna är frivillig... -->
        </xs:sequence>
    </xs:complexType>

    <!-- staff id and staff name restrictions mirrors HSA -->
    <xs:complexType name="StaffType">
        <xs:sequence>
            <xs:element name="id" type="HsaIdType" minOccurs="0"/>
            <xs:element name="name">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="64"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="HsaIdType">
        <xs:attribute name="extension" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="root" use="required" fixed="1.2.752.129.2.1.4.1">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="OrganisationType">
        <xs:sequence>
            <xs:element name="careUnitId" type="HsaIdType"/>
            <xs:element name="careUnitName" minOccurs="0" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="64"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AdditionalInformationType">
        <xs:sequence>
            <xs:element name="text" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8192"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="desiredDateForPerformance" type="DesiredDateForPerformanceType" minOccurs="0"/>
            <xs:element name="desiredRequestRecipient" minOccurs="0" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8192"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="administrativeInformation" minOccurs="0" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8192"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="interpreterRequirement" minOccurs="0" maxOccurs="unbounded" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8192"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AwarenessInformationType">
        <xs:sequence>
            <xs:element name="text" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8192"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!--            <xs:element name="clinicalInformation" type="ClinicalInformationType" minOccurs="0" /> -->
        </xs:sequence>
    </xs:complexType>    
    
    <!-- Question Formulation -->
    <xs:complexType name="QuestionFormulationType">
        <xs:sequence>
            <xs:element name="id" type="QuestionFormulationIdType" minOccurs="1" maxOccurs="1" />
            <xs:element name="text" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8192"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!-- Anamnes 1..1 -->
            <xs:element name="clinicalInformation" type="ClinicalInformationType" minOccurs="1" maxOccurs="1"/>
            <!-- Condition 0..1 -->
            <xs:element name="condition" type="ConditionType" minOccurs="0" maxOccurs="unbounded"/>
            <!-- Desired actions 0..1 -->
            <xs:element name="desiredAction" type="ActionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- SE-ABC123#testcase_04#questionFormulation0 -->
    <xs:complexType name="QuestionFormulationIdType">
        <xs:attribute name="extension" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string" >
                    <xs:pattern value="(.*)#(.*)#questionFormulation0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="root" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string" >
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="ClinicalInformationType">
        <xs:sequence>
            <xs:element name="id" type="ClinicalInformationIdType" />
            <xs:element name="text" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8192"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ClinicalInformationOutcomeType">
        <xs:sequence>
            <xs:element name="id" type="ClinicalInformationIdType" />
            <xs:element name="text" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- (requestId)#(anotherClass)#clinicalInformation0 -->
    <xs:complexType name="ClinicalInformationIdType">
        <xs:attribute name="extension" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string" >
                    <xs:pattern value="(.*#)clinicalInformation0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="root" use="required" fixed="1.2.752.129.2.1.2.1"/>
    </xs:complexType>
   
    <!-- Condition Types -->
    <!-- SE-ABC123#testcase_04#questionFormulation0#clinicalInformation0#condition0 -->
    <xs:complexType name="ConditionType">
        <xs:sequence>
            <xs:element name="id" type="ConditionIdType"/>
            <xs:element name="text" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8192"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="code" type="ConditionCodeType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ConditionIdType">
        <xs:attribute name="extension" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string" >
                    <xs:pattern value="(.*)"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="root" use="required" fixed="1.2.752.129.2.1.2.1"/>
    </xs:complexType>
    
    <xs:complexType name="ConditionCodeType">
        <xs:attribute name="extension" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string" >
                    <xs:pattern value="(.*)"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="root" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string" >
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <!-- Action types -->
    <xs:complexType name="ActionType">
        <xs:sequence>
            <xs:element name="id" type="ActionIdType" />
            <xs:element name="text" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8192"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="code" type="ActionCodeType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ActionIdType">
        <xs:attribute name="extension" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string" >
                    <xs:pattern value="(.*)"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="root" use="required" fixed="1.2.752.129.2.1.2.1"/>
    </xs:complexType>
    
    <!-- -->
    <xs:complexType name="ActionCodeType">
        <xs:attribute name="extension" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string" >
                    <xs:pattern value="(.*)"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="root" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="1.2.752.116.1.3.2.1.4"/>
                    <xs:enumeration value="1.2.752.97.3.1.11"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <!-- Answer section of a request response -->
    <xs:complexType name="OutcomeType">
        <xs:sequence>
            <xs:element name="clinicalInformation" type="ClinicalInformationOutcomeType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="accomplishedAction" type="ActionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!--
    <xs:complexType name="DescriptionType">
        <xs:sequence>
            <xs:element name="id" type="DescriptionIdType" />
            <xs:element name="condition" type="ConditionIdType" minOccurs="0"/>
            <xs:element name="description" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8192" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DescriptionIdType">
        <xs:attribute name="extension" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="(.*)"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="root" use="required" fixed="1.2.752.129.2.1.2.1"/>
    </xs:complexType>
    -->

    <!-- Date type -->    
    <xs:complexType name="DesiredDateForPerformanceType">
        <xs:attribute name="start">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="end">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType> 

</xs:schema>
