ServiceInteractions/riv/se_apotekensservice/axs/trunk/schemas/interactions/UppdateraSamtyckeInteraction/UppdateraSamtyckeInteraction_1.0_rivtabp20.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UppdateraSamtyckeInteraction"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:spdr="urn:riv:se.apotekensservice:axs:UppdateraSamtyckeResponder:1"
                  xmlns="urn:riv:se.apotekensservice:axs:UppdateraSamtycke:1:rivtabp20"
                  targetNamespace="urn:riv:se.apotekensservice:axs:UppdateraSamtycke:1:rivtabp20">

    <xs:annotation>
        <xs:documentation>
            Beskrivning: Tjänstekontraktet som avser att konkretisera tillämpningen av RIV.
            Revisioner: 2011-04-05 Version 1.0
            Tjänstedomän: se.apotekensservice:axs.
            Tjänsteinteraktionens namn: UppdateraSamtycke.
            Tjänsteinteraktionstyp: Fråga-Svar.
            RIV Tekniska Anvisning: Basic Profile 2.0
        </xs:documentation>
    </xs:annotation>

    <!-- Egendefinierade typer -->
    <wsdl:types>
        <xs:schema>
            <xs:import namespace="urn:riv:se.apotekensservice:axs:UppdateraSamtyckeResponder:1" schemaLocation="UppdateraSamtyckeResponder_1.0.xsd"/>
        </xs:schema>
    </wsdl:types>

    <!-- Meddelanden -->
    <wsdl:message name="UppdateraSamtyckeRequest">
        <wsdl:part name="parameters" element="spdr:UppdateraSamtycke"/>
    </wsdl:message>
    <wsdl:message name="UppdateraSamtyckeResponse">
        <wsdl:part name="parameters" element="spdr:UppdateraSamtyckeResponse"/>
    </wsdl:message>
    <wsdl:message name="ApplicationException">
        <wsdl:part name="parameters" element="spdr:ApplicationException"/>
    </wsdl:message>
    <wsdl:message name="SystemException">
        <wsdl:part name="parameters" element="spdr:SystemException"/>
    </wsdl:message>

    <!-- Port typer -->
    <wsdl:portType name="UppdateraSamtyckeResponderInterface">
        <wsdl:operation name="UppdateraSamtycke">
            <wsdl:input message="UppdateraSamtyckeRequest"/>
            <wsdl:output message="UppdateraSamtyckeResponse"/>
            <wsdl:fault name="ApplicationException" message="ApplicationException"/>
            <wsdl:fault name="SystemException" message="SystemException"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- Bindningar -->
    <wsdl:binding name="UppdateraSamtyckeResponderBinding" type="UppdateraSamtyckeResponderInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UppdateraSamtycke">
            <soap:operation soapAction="urn:riv:se.apotekensservice:axs:UppdateraSamtyckeResponder:1:UppdateraSamtycke"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApplicationException">
                <soap:fault use="literal" name="ApplicationException"/>
            </wsdl:fault>
            <wsdl:fault name="SystemException">
                <soap:fault use="literal" name="SystemException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Servicar -->
    <wsdl:service name="UppdateraSamtyckeResponderService">
        <wsdl:port name="UppdateraSamtyckeResponderPort" binding="UppdateraSamtyckeResponderBinding">
            <soap:address location="http://temp.uri/"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
