ServiceInteractions/riv/clinicalprocess/healthcond/actoutcome/trunk/test-suite/GetMaternityMedicalHistory/constraints.xml

<?xml version="1.0" encoding="utf-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements. See the NOTICE file
distributed with this work for additional information
regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
to you under the Apache License, Version 2.0 (the
        "License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
-->
<iso:schema
        xmlns="http://purl.oclc.org/dsdl/schematron"
        xmlns:iso="http://purl.oclc.org/dsdl/schematron"
        queryBinding='xslt2'
        schemaVersion='ISO19757-3'>

    <iso:title>Validation for GetCareContacts</iso:title>
    <iso:ns prefix='urn' uri='urn:riv:clinicalprocess:activityprescription:actoutcome:GetVaccinationHistoryResponder:1' />
    <iso:ns prefix='urn1' uri='urn:riv:clinicalprocess:activityprescription:actoutcome:1' />

    <!-- Rules for Request -->

    <!-- Rules for Response -->
    <iso:pattern name="Verify author">
        <iso:rule context="urn1:author">
            <iso:assert test="count(urn1:authorRoleCode) + count(urn1:authorOtherRole) = 1">
                Either one of authorRoleCode or authorOtherRole must be given for <iso:name />.</iso:assert>
        </iso:rule>
    </iso:pattern>

    <iso:rule abstract="true" id="rule.actor">
        <iso:assert test="count(urn1:hsaid) +  count(urn1:name) = 1">
            Either one of hsaid or name must be given for <iso:name />.</iso:assert>
    </iso:rule>


    <iso:pattern name="Verify prescriberPerson">
        <iso:rule context="urn1:prescriberPerson" >
            <iso:extends rule="rule.actor" />
        </iso:rule>
    </iso:pattern>

    <iso:pattern name="Verify performer">
        <iso:rule context="urn1:performer" >
            <iso:extends rule="rule.actor" />
        </iso:rule>
    </iso:pattern>



</iso:schema>
