ServiceInteractions/riv/se_apotekensservice/nod/trunk/schemas/interactions/HamtaIckeAktuellaOrdinationerInteraction/HamtaIckeAktuellaOrdinationerResponder_2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:riv:se.apotekensservice:nod:HamtaIckeAktuellaOrdinationerResponder:2"
           targetNamespace="urn:riv:se.apotekensservice:nod:HamtaIckeAktuellaOrdinationerResponder:2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2.0">

    <!-- Globala element: Metod parametrar -->
    <xs:element name="HamtaIckeAktuellaOrdinationer" type="HamtaIckeAktuellaOrdinationerRequestType"/>
    <xs:element name="HamtaIckeAktuellaOrdinationerResponse" type="HamtaIckeAktuellaOrdinationerResponseType"/>

    <!-- Fel -->
    <xs:element name="ApplicationException" type="ApplicationException"/>
    <xs:element name="SystemException" type="SystemException"/>

            <xs:complexType name="HamtaIckeAktuellaOrdinationerRequestType">
            <xs:sequence>
                <xs:element name="franDatum" type="xs:dateTime" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Hämta icke aktuella ordinationer med senast förändringsdatum efter fr.o.m datum.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            
                <xs:element name="patient" type="PatientRequest" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Patient att hämta icke aktuella ordinationer för.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            
                <xs:element name="tillDatum" type="xs:dateTime" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Hämta icke aktuella ordinationer med senast förändringsdatum efter t.o.m datum.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    
            <xs:complexType name="HamtaIckeAktuellaOrdinationerResponseType">
            <xs:sequence>
                <xs:element name="lakemedelsordination" type="LakemedelsordinationResponse" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Icke aktuella ordinationer för angiven patient.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>


<xs:complexType name="HelforpackningsforskrivningResponse">
            <xs:sequence>                
                <xs:element name="antalForpackningar" type="xs:int" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Förskrivet antal förpackningar.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="antalUttag" type="xs:int" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Förskrivet antal uttag.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="finnsEReceptRegistrerat" type="xs:boolean" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Finns tillhörande E-Recept registrerat</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forskrivetLakemedel" type="ForskrivetLakemedelResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Förskrivet läkemedel</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forskrivningsforandring" type="ForskrivningsforandringResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Eventuell förskrivningsförändring från vården.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forstaUttagFore" type="xs:dateTime" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Första uttag före</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="ingenDygnsdos" type="xs:boolean" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Ingen dygnsdos</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="intervallenhet" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Intervallenhet</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="maxDygnsdos" type="xs:int" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Max dygnsdos</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="maxVeckodos" type="xs:int" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Max veckodos</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="mottagandeApotek" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Apoteksid vid direktadressering</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="ordinatorensKommentar" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Ordinatörens kommentar till farmaceut.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="ordinatorinformation" type="OrdinatorinformationResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Ordinatörsinformation</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="patientinformation" type="PatientinformationResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Patientinformation</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="startforpackning" type="xs:boolean" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Startförpackning</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="utlamningsintervall" type="xs:int" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Utlämningsintervall</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="PersonnummerResponse">
            <xs:sequence>                
                <xs:element name="identifikationsnummer" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Giltigt personnummer.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="InsattningResponse">
            <xs:sequence>                
                <xs:element name="beslutstidpunkt" type="xs:dateTime" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Tidpunkt för uprättande av beslut. 
Kan vara insättning/utsättning/makulering beroende på typ av förändring.
Om ej angiven antas momentan tidpunkt.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forandringstidpunkt" type="xs:dateTime" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Tidpunkt för ordinationsförändring. 
Kan vara insättningstidpunkt/utsättningstidpunkt/makuleringstidpunkt beroende på typ av förändring.
Om ej angiven antas momentan tidpunkt.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="insattningsorsak" type="xs:string" minOccurs="0" />
                            
                <xs:element name="ordinerandeVardpersonal" type="VardpersonalResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Ordinerande vardpersonal.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="registrerandeVardpersonal" type="VardpersonalResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Registrerande vårdpersonal</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="DispenseringsforskrivningResponse">
            <xs:sequence>                
                <xs:element name="akut" type="xs:boolean" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Akutflagga</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="bytesEj" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Anger om patient eller förskrivare angivit att förskrivningen ej får bytas.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="finnsEReceptRegistrerat" type="xs:boolean" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Finns tillhörande E-Recept registrerat</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forskrivetLakemedel" type="ForskrivetLakemedelResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Förskrivet läkemedel</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forskrivningsforandring" type="ForskrivningsforandringResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Eventuell förskrivningsförändring från vården.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="mottagandeApotek" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Apoteksid vid direktadressering</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="ordinatorensKommentar" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Ordinatörens kommentar till farmaceut.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="ordinatorinformation" type="OrdinatorinformationResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Ordinatörsinformation</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="patientinformation" type="PatientinformationResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Patientinformation</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="ArtikelinformationResponse">
            <xs:sequence>                
                <xs:element name="antalKlartext" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns innehållsantal i klartext</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="artikelbenamning" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns artikelbenämning</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="atcKlartext" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns ATC-kod i klartext</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="atcKod" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns ATC-kod</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forpackningsenhet" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns förpackningsenhet</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forpackningsinnehall" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns förpackningsinnehåll</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forpackningsmangd" type="xs:double" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns förpackningsmängd</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forpackningstyp" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns förpackningstyp</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="intressentnamn" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns intressentnamn</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="intressentroll" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns intressentroll</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="isLakemedel" type="xs:boolean" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Representerar om artikeln är läkemedelsklassad.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="narkotikaklass" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns narkotikaklasskod</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="narkotikaklassKlartext" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns narkotikaklass i klartext</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="produktnamn" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns produktnamn</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="produkttyp" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns produkttypkod</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="produkttypKlartext" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns produkttyp i klartext</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="substansnamnUtbytesgrupp" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns utbytesgrupp</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="PatientinformationResponse">
            <xs:sequence>                
                <xs:element name="efternamn" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Patientens efternamn.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="fodelsedatuminformation" type="FodelsedatuminformationResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Eventuell födelsedatuminformation om patienten inte har personnummer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="fornamn" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Patientens förnamn.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="patientensKontaktuppgifter" type="KontaktuppgiftResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Kontaktuppgifter för patienten.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="personnummer" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Patientens personnummer.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="ForskrivningsforandringResponse">
            <xs:sequence>                
                <xs:element name="forskrivare" type="ForskrivareInformationResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Förändrande förskrivare.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="FritextdoseringResponse">
            <xs:sequence>                
                <xs:element name="fritextdosering" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Doseringstext</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="OrdineratLakemedelResponse">
            <xs:sequence>                
                <xs:element name="kompletterandeArtikelinformation" type="ArtikelinformationResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Eventuell kompletterande artikelinformation</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="kompletterandeHandelsvaruinformation" type="ArtikelinformationResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Eventuell kompletterande handelsvaruinformation</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="kompletterandeProduktinformation" type="ProduktinformationResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Eventuell kompletterande produktinformation</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="lakemedelsbeskrivning" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Beskrivning av ordinerat läkemedel.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="nplId" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns NPL-ID</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="nplPackId" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns NPLPack-ID</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="ordineradAnvandning" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Användning. Den totala längden av doseringstext på den ordinerade doseringen och den ordinerade användningen får ej överstiga 256 tecken.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="ordineradArtikelbenamning" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelbenämning</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="ordineratProduktnamn" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Namn på produkten vid det tillfälle ordinationen upprättades</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="varunummer" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns varunummer</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="ForskrivetLakemedelResponse">
            <xs:sequence>                
                <xs:element name="arUtbytt" type="xs:boolean" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Har läkemedlet bytts ut.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forskrivenArtikelbenamning" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Benämning på artikeln vid förskrivningstillfälle</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forskrivetProduktnamn" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Namn på produkten vid förskrivningstillfälle</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="nplId" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns NPL-ID</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="nplPackId" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns NPLPack-ID</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="varunummer" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Artikelns varunummer</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="TidInomDygnetResponse">
            <xs:sequence>                
                <xs:element name="handelse" type="HandelseResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Eventuell händelse</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="klockslag" type="KlockslagResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Eventuellt klockslag</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="VardpersonalResponse">
            <xs:sequence>                
                <xs:element name="efternamn" type="xs:string" nillable="false" />
                            
                <xs:element name="fornamn" type="xs:string" nillable="false" />
                            
                <xs:element name="personHsaId" type="xs:string" nillable="false" />
                            
                <xs:element name="vardenhetHsaId" type="xs:string" nillable="false" />
                            
                <xs:element name="vardgivareHsaId" type="xs:string" nillable="false" />

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="ForskrivareInformationResponse">
            <xs:sequence>                
                <xs:element name="arbetsplatskod" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Unik kod för identifiering av förskrivarens
arbetsplats vid ordinationstillfället.

Saknar förskrivare ordinarie arbetsplats anges
en grupparbetsplatskod. Arbetsplatskoden anges för att
styra ekonomiska transaktioner vid ordinationer inom förmånen.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="befattningskod" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Användarens befattningskod enligt HSA.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="efternamn" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Användarens efternamn.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="fornamn" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Användarens förnamn.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forskrivarkod" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Förskrivarens individuella 7-ställiga legitimationskod eller förskrivarens gruppförskrivarkod då individuell kod saknas.
Gruppförskrivarkod används då förskrivaren saknar individuell förskrivarkod men har via sin roll erhållit förskrivningsrätt. Kan exempelvis vara en AT-läkare eller förskrivare med förordnande.
Förskrivarkoden definieras av Socialstyrelsen och gruppförskrivarkoden definieras av Apotekens Service.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="legitimationskod" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Förskrivares 7-ställiga förskrivarkod alternativt legitimerad användares 6-ställiga 
legitimationskod enligt Socialstyrelsen. Obligatorisk för gruppförskrivare (ej läkare) och för farmaceuter.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="yrkeskod" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Användarens yrkeskod som definierar vilken typ
av legitimation som användaren innehar. Obligatorisk för förskrivare.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="OrdineradDoseringResponse">
            <xs:sequence>                
                <xs:element name="doseringssteg" type="DoseringsstegResponse" nillable="false" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Doseringssteg.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="FodelsedatuminformationResponse">
            <xs:sequence>                
                <xs:element name="fodelsedatum" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Patientens födelsedatum.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="kon" type="xs:int" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Patientens kön.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="KontaktuppgiftResponse">
            <xs:sequence>                
                <xs:element name="adress1" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Förskrivarens lokalitet eller patientens adress 1. 
Obligatorisk för förskrivare.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="adress2" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Patientens adress 2 eller förskrivarens
alternativt vårdcentralens gatuadress. 
Obligatorisk för förskrivare.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="postnummer" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Patientens eller förskrivarens postnummer. 
Obligatorisk för förskrivare.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="postort" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Patientens eller förskrivarens postort. 
Obligatorisk för förskrivare.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="telefonnummer1" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Patientens eller förskrivarens telefonnummer 1. 
Obligatorisk för förskrivare.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="telefonnummer2" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Patientens eller förskrivarens telefonnummer 2.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="SamordningsnummerResponse">
            <xs:sequence>                
                <xs:element name="identifikationsnummer" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Giltigt samordningsnummer.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="ApplicationException">
        <xs:annotation>
            <xs:documentation>Applikationsfel</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
    </xs:complexType>

<xs:complexType name="SystemException">
        <xs:annotation>
            <xs:documentation>Systemfel</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
    </xs:complexType>

<xs:complexType name="ProduktinformationResponse">
            <xs:sequence>                
                <xs:element name="atcKlartext" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Produktens ATC-kod i klartext</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="atcKod" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Produktens ATC-kod</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="intressentnamn" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Produktens intressentnamn</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="lakemedelsformKlartext" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Produktens lakemedelsform i klartext</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="lakemedelsformkod" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Produktens lakemedelsformkod</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="produktnamn" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Produktens namn</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="produkttyp" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Produktens typkod</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="produkttypKlartext" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Produktens typ i klartext</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="styrka" type="xs:double" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Produktens styrka</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="styrkaEnhet" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Produktens enhet för styrka</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="styrkaKlartext" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Produktens styrka i klartext</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="HandelseResponse">
            <xs:sequence>                
                <xs:element name="beskrivning" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Dosering</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="OrdinatorinformationResponse">
            <xs:sequence>                
                <xs:element name="arbetsplatskod" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Unik kod för identifiering av förskrivarens
arbetsplats vid ordinationstillfället.

Saknar förskrivare ordinarie arbetsplats anges
en grupparbetsplatskod. Arbetsplatskoden anges för att
styra ekonomiska transaktioner vid ordinationer inom förmånen.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="befattningskod" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Användarens befattningskod enligt HSA.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="efternamn" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Användarens efternamn.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="fornamn" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Användarens förnamn.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forskrivarkod" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Förskrivarens individuella 7-ställiga legitimationskod eller förskrivarens gruppförskrivarkod då individuell kod saknas.
Gruppförskrivarkod används då förskrivaren saknar individuell förskrivarkod men har via sin roll erhållit förskrivningsrätt. Kan exempelvis vara en AT-läkare eller förskrivare med förordnande.
Förskrivarkoden definieras av Socialstyrelsen och gruppförskrivarkoden definieras av Apotekens Service.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="legitimationskod" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Förskrivares 7-ställiga förskrivarkod alternativt legitimerad användares 6-ställiga 
legitimationskod enligt Socialstyrelsen. Obligatorisk för gruppförskrivare (ej läkare) och för farmaceuter.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="ordinatorensKontaktuppgifter" type="KontaktuppgiftResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Kontaktuppgifter för ordinatören.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="utfardarkategori" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Utfärdarkategori enligt NEF LAK = Läkare ATL = AT-läkare LMF = Läkare med förordnande TAN = Tandläkare VET = Veterinär TAH = Tandhygienist BMO = Barnmorska SSK = Sjuksköterska HJM = Hjälpmedelsförskrivare</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="yrkeskod" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Användarens yrkeskod som definierar vilken typ
av legitimation som användaren innehar. Obligatorisk för förskrivare.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="PersonnummerRequest">
            <xs:sequence>                
                <xs:element name="identifikationsnummer" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Giltigt personnummer.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="DoseringstillfalleResponse">
            <xs:sequence>                
                <xs:element name="dos" type="IntervallResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Dosering</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="tid" type="TidInomDygnetResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Tid inom dygnet</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="LakemedelsordinationResponse">
            <xs:sequence>                
                <xs:element name="behandlingsandamal" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Behandlingsändamål</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="dispenseringsforskrivningar" type="DispenseringsforskrivningResponse" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Eventuella dispenseringsförskrivningar.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="dosering" type="OrdineradDoseringResponse" nillable="false" />
                            
                <xs:element name="efterfoljandeOrdinationsId" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Referens till efterföljande ordination i ordinationskedja</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="foregaendeOriginalOrdinationsId" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Referens till föregående ordination i ordinationskedja</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="helforpackningsforskrivningar" type="HelforpackningsforskrivningResponse" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Eventuella helförpackningsförskrivningar.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="insattning" type="InsattningResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Insättning.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="lakemedel" type="OrdineratLakemedelResponse" nillable="false" />
                            
                <xs:element name="makulering" type="MakuleringResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Eventuell Makulering.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="notat" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Ordinationsnotat</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="ordinationsId" type="xs:long" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Unikt ID för en ordination som genereras av apotekens service.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="ordinationskedjeId" type="xs:long" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Ordinationstionskedjeid</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="ordinationsorsak" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Ordinationsorsak</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="ordinationsstatus" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Aktuell ordinationsstatus</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="originalOrdinationsId" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Ordinationens originalID</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="patient" type="PatientResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Patient att journalföra ordination på.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="registreringstidpunkt" type="xs:dateTime" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Tidpunkt för ordinationen skapas.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="utsattning" type="UtsattningResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Eventuell utsättning.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="utvarderingstidpunkt" type="xs:dateTime" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Eventuel utvärderingstidpunkt. Om inget värde anges används ett år från nuvarande tidpunkt.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="UtsattningResponse">
            <xs:sequence>                
                <xs:element name="beslutstidpunkt" type="xs:dateTime" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Tidpunkt för uprättande av beslut. 
Kan vara insättning/utsättning/makulering beroende på typ av förändring.
Om ej angiven antas momentan tidpunkt.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forandringstidpunkt" type="xs:dateTime" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Tidpunkt för ordinationsförändring. 
Kan vara insättningstidpunkt/utsättningstidpunkt/makuleringstidpunkt beroende på typ av förändring.
Om ej angiven antas momentan tidpunkt.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="ordinerandeVardpersonal" type="VardpersonalResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Ordinerande vardpersonal.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="registrerandeVardpersonal" type="VardpersonalResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Registrerande vårdpersonal</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="utsattningskommentar" type="xs:string" minOccurs="0" />
                            
                <xs:element name="utsattningsorsak" type="xs:string" minOccurs="0" />

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="TillfallesdoseringResponse">
            <xs:sequence>                
                <xs:element name="doseringstillfallen" type="DoseringstillfalleResponse" nillable="false" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Doseringstillfällen.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="PatientResponse">
            <xs:sequence>                
                <xs:element name="personnummer" type="PersonnummerResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Patientens eventuella personnummer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="samordningsnummer" type="SamordningsnummerResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Patientens eventuella samordningsnummer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="underlagstidpunkt" type="xs:dateTime" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Tidpunkt för senast uppläst underlag för patient.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="PatientRequest">
            <xs:sequence>                
                <xs:element name="personnummer" type="PersonnummerRequest" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Patientens eventuella personnummer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="samordningsnummer" type="SamordningsnummerRequest" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Patientens eventuella samordningsnummer.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="SamordningsnummerRequest">
            <xs:sequence>                
                <xs:element name="identifikationsnummer" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Giltigt samordningsnummer.</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="IntervallResponse">
            <xs:sequence>                
                <xs:element name="max" type="xs:double" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Intervallets maxvärde</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="min" type="xs:double" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Intervallets minvärde</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="TidsperiodResponse">
            <xs:sequence>                
                <xs:element name="tidsenhet" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Tidsperiodens tidsenhet, anges som
VECKOR
DAGAR
TIMMAR
MINUTER</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="tidsintervall" type="IntervallResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Tidsperiodens intervall</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="DoseringResponse">
            <xs:sequence>                
                <xs:element name="fritextdosering" type="FritextdoseringResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Eventuell fritextdosering</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="tillfallesdosering" type="TillfallesdoseringResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Eventuell tillfällesdosering</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="DoseringsstegResponse">
            <xs:sequence>                
                <xs:element name="behandlingstid" type="TidsperiodResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Eventuell behandlingstid för doseringssteg.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="doseringsenhet" type="xs:string" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Doseringsenhet</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="fastdosering" type="DoseringResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Fastdosering.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="kortNotation" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Kortnotation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="maxdosering" type="DoseringResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Maxdosering.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="maxtid" type="xs:boolean" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Maxtid</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="villkorsdosering" type="DoseringResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Villkorsdosering.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="villkorstext" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Villkorstext</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="KlockslagResponse">
            <xs:sequence>                
                <xs:element name="minut" type="xs:int" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Minut inom timme</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="timme" type="xs:int" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Timme inom dygnet</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

<xs:complexType name="MakuleringResponse">
            <xs:sequence>                
                <xs:element name="beslutstidpunkt" type="xs:dateTime" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Tidpunkt för uprättande av beslut. 
Kan vara insättning/utsättning/makulering beroende på typ av förändring.
Om ej angiven antas momentan tidpunkt.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="forandringstidpunkt" type="xs:dateTime" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Tidpunkt för ordinationsförändring. 
Kan vara insättningstidpunkt/utsättningstidpunkt/makuleringstidpunkt beroende på typ av förändring.
Om ej angiven antas momentan tidpunkt.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="makuleringskommentar" type="xs:string" minOccurs="0" />
                            
                <xs:element name="makuleringsorsak" type="xs:int" minOccurs="0" />
                            
                <xs:element name="ordinerandeVardpersonal" type="VardpersonalResponse" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Ordinerande vardpersonal.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                            
                <xs:element name="registrerandeVardpersonal" type="VardpersonalResponse" nillable="false">
                    <xs:annotation>
                        <xs:documentation>Registrerande vårdpersonal</xs:documentation>
                    </xs:annotation>
                </xs:element>

			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        </xs:complexType>

	</xs:schema>