ServiceInteractions/riv/ehr/patientsummary/trunk/schemas/interactions/ReceiveEhrExtractInteraction/ReceiveEhrExtractInteraction_1.0_RIVTABP21.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->		
<wsdl:definitions name='ReceiveEhrExtractInteraction' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:tjsr='urn:riv:ehr:patientsummary:ReceiveEhrExtractResponder:1' xmlns:tjsi='urn:riv:ehr:patientsummary:ReceiveEhrExtractInitiator:1' xmlns:tns='urn:riv:ehr:patientsummary:ReceiveEhrExtract:1:rivtabp21' targetNamespace='urn:riv:ehr:patientsummary:ReceiveEhrExtract:1:rivtabp21' xmlns:itr='urn:riv:itintegration:registry:1'>
  <xs:annotation>
    <xs:documentation>
			 Tjänsteinteraktionens namn: ReceiveEhrExtractInteraction
			 Beskrivning: 
			   The initiator delivers health records on the RIV13606 format
			 Revisioner: 
			 Tjänstedomän: ehr:patientsummary
			 Tjänsteinteraktionstyp: Uppdrag-Resultat
			 WS-profil: RIVTABP21
			 Förvaltas av: Sveriges Kommuner och Landsting
			 </xs:documentation>
  </xs:annotation>
  <wsdl:types>
    <xs:schema targetNamespace='urn:riv:ehr:patientsummary:ReceiveEhrExtract:1:rivtabp21'>
      <xs:import schemaLocation='ReceiveEhrExtractResponder_1.0.xsd' namespace='urn:riv:ehr:patientsummary:ReceiveEhrExtractResponder:1' />
      <xs:import schemaLocation='ReceiveEhrExtractInitiator_1.0.xsd' namespace='urn:riv:ehr:patientsummary:ReceiveEhrExtractInitiator:1' />
      <xs:import schemaLocation='../../core_components/itintegration_registry_1.0.xsd' namespace='urn:riv:itintegration:registry:1' />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name='ReceiveEhrExtractRequest'>
    <wsdl:part name='LogicalAddress' element='itr:LogicalAddress'>
      <wsdl:documentation>the HSA-id of the service producer</wsdl:documentation>
    </wsdl:part>
    <wsdl:part name='parameters' element='tjsr:ReceiveEhrExtract' />
  </wsdl:message>
  <wsdl:message name='ReceiveEhrExtractResponse'>
    <wsdl:part name='parameters' element='tjsr:ReceiveEhrExtractResponse' />
  </wsdl:message>
  <wsdl:message name='ReceiveEhrExtractStatusRequest'>
    <wsdl:part name='LogicalAddress' element='itr:LogicalAddress'>
      <wsdl:documentation>the HSA-id of the service producer</wsdl:documentation>
    </wsdl:part>
    <wsdl:part name='parameters' element='tjsi:ReceiveEhrExtractStatus' />
  </wsdl:message>
  <wsdl:message name='ReceiveEhrExtractStatusResponse'>
    <wsdl:part name='parameters' element='tjsi:ReceiveEhrExtractStatusResponse' />
  </wsdl:message>
  <wsdl:portType name='ReceiveEhrExtractResponderInterface'>
    <wsdl:operation name='ReceiveEhrExtract'>
      <wsdl:input message='tns:ReceiveEhrExtractRequest' />
      <wsdl:output message='tns:ReceiveEhrExtractResponse' />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name='ReceiveEhrExtractInitiatorInterface'>
    <wsdl:operation name='ReceiveEhrExtractStatus'>
      <wsdl:input message='tns:ReceiveEhrExtractStatusRequest' />
      <wsdl:output message='tns:ReceiveEhrExtractStatusResponse' />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name='ReceiveEhrExtractResponderBinding' type='tns:ReceiveEhrExtractResponderInterface'>
    <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http' />
    <wsdl:operation name='ReceiveEhrExtract'>
      <soap:operation soapAction='urn:riv:ehr:patientsummary:ReceiveEhrExtractResponder:1:ReceiveEhrExtract' style='document' />
      <wsdl:input>
        <soap:header use='literal' message='tns:ReceiveEhrExtractRequest' part='LogicalAddress' />
        <soap:body use='literal' parts='parameters' />
      </wsdl:input>
      <wsdl:output>
        <soap:body use='literal' />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name='ReceiveEhrExtractInitiatorBinding' type='tns:ReceiveEhrExtractInitiatorInterface'>
    <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http' />
    <wsdl:operation name='ReceiveEhrExtractStatus'>
      <soap:operation soapAction='urn:riv:ehr:patientsummary:ReceiveEhrExtractStatusInitiator:1:ReceiveEhrExtractStatus' style='document' />
      <wsdl:input>
        <soap:header use='literal' message='tns:ReceiveEhrExtractStatusRequest' part='LogicalAddress' />
        <soap:body use='literal' parts='parameters' />
      </wsdl:input>
      <wsdl:output>
        <soap:body use='literal' />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name='ReceiveEhrExtractResponderService'>
    <wsdl:port name='ReceiveEhrExtractResponderPort' binding='tns:ReceiveEhrExtractResponderBinding'>
      <soap:address location='http://tempuri.org' />
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name='ReceiveEhrExtractInitiatorService'>
    <wsdl:port name='ReceiveEhrExtractInitiatorPort' binding='tns:ReceiveEhrExtractInitiatorBinding'>
      <soap:address location='http://tempuri.org' />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
