ServiceInteractions/local/service/catalogue/aggregated/trunk/schemas/core_components/service_catalogue_1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->		
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:riv:service:catalogue:1"
  targetNamespace="urn:riv:service:catalogue:1" elementFormDefault="qualified"
  attributeFormDefault="unqualified" version="1.0">

  <!-- -->
  <xs:complexType name="OffersTransactionType">
    <xs:annotation>
      <xs:documentation>When deleteFlag is set to true, the given careUnitId will be deleted from the catalogue.
        When set to false a create or update will be performed.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="deleteFlag" type="xs:boolean"/>
      <xs:element name="offer" type="tns:OfferType" maxOccurs="1"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="maxLength" type="tns:CapacityType"/>

  <!-- -->
  <xs:complexType name="OfferType">
    <xs:sequence>
      <xs:element name="hsaObject" type="tns:HsaObjectType"/>
      <xs:element name="validContractDatePeriod" type="tns:DatePeriodType">
        <xs:annotation>
          <xs:documentation>Valid date from when this care unit starts handling type of cares.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="supportedInteractions" type="tns:SupportedInteractionsType"/>
      <xs:element name="products" type="tns:ProductType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="comment" type="xs:string" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- -->
  <xs:complexType name="HsaObjectType">
    <xs:annotation>
      <xs:documentation>careUnitId == HSAid, careUnitName, careUnitAddress</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="hsaId" type="tns:HsaIdType"/>
      <xs:element name="relativeDistinguishedName" type="xs:string"/>
      <xs:element minOccurs="1" name="postlAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
      <xs:element minOccurs="0" name="streetAddress" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!--  -->
  <xs:simpleType name="CareUnitNameType">
    <xs:annotation>
      <xs:documentation>Care unit name, corresponds to ... in HSA</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1024"/>
    </xs:restriction>
  </xs:simpleType>

  <!--  -->
  <xs:complexType name="CapacityType">
    <xs:annotation>
      <xs:documentation>Product information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="displayName" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="codeSystem" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
      <xs:element name="validTo" type="tns:TS"/>
    </xs:sequence>
  </xs:complexType>

  <!--  -->
  <xs:complexType name="CareUnitAddressType">
    <xs:sequence>
      <xs:element name="streetName1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="streetName2" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="streetName3" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="postalCode">
        <xs:annotation>
          <xs:documentation>Postal code is always represented as 3 numbers and 2 numbers separated with a space 
          For example: 123 45
        </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}\s[0-9]{2,2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="postalCity">
        <xs:annotation>
          <xs:documentation>Postal city, maxlength 27 characters.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="27"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- -->
  <xs:complexType name="SupportedInteractionsType">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>Each service domain that can be used for the given care unit id.
            For example set interaction to urn:clinicalprocess:requestflow:ProcessRequest and urn:clinicalprocess:requestflow:ProcessRequestOutcome
            if the care unit can recieve requests and send request answers.
          </xs:documentation>
      </xs:annotation>
      <xs:element name="interaction" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- -->
  <xs:simpleType name="HsaIdType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TS">
    <xs:restriction base="xs:string">
      <xs:pattern
        value="[1-9]{1}[0-9]{3}(0[1-9]{1}|1[0-2]{1})([0-2]{1}[0-9]{1}|3[0-1]{1})([0-1]{1}[0-9]{1}|2[0-3]{1})[0-5]{1}[0-9]{1}[0-5]{1}[0-9]{1}"
      />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DT">
    <xs:restriction base="xs:string">
      <xs:pattern value="[1-9]{1}[0-9]{3}(0[1-9]{1}|1[0-2]{1})([0-2]{1}[0-9]{1}|3[0-1]{1})"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ResultCodeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK"/>
      <xs:enumeration value="ERROR"/>
      <xs:enumeration value="INFO"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- -->
  <xs:complexType name="ProductType">
    <xs:annotation>
      <xs:documentation>Product information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="typeOfProduct" type="tns:CVType" maxOccurs="unbounded"/>
      <xs:element name="price" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatePeriodType">
    <xs:annotation>
      <xs:documentation>
        Används för att specificera ett datumintervall
        med hjälp av start- och slutdatum.
        
        start: 
        Startdatum på formatet ÅÅÅÅMMDD
        end: 
        Slutdatum på formatet ÅÅÅÅMMDD
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="start" type="tns:DateType"/>
      <xs:element name="end" type="tns:DateType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Date format SSYYMMDD -->
  <xs:simpleType name="DateType">
    <xs:annotation>
      <xs:documentation>Date format SSYYMMDD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ProductCapacityType">
    <xs:annotation>
      <xs:documentation>Product information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="capacity" type="tns:CapacitType" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CapacitType">
    <xs:annotation>
      <xs:documentation>CodeSystem information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="validTo" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="codeSystem" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CodeType">
    <xs:annotation>
      <xs:documentation>CodeSystem information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="displayName" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="codeSystem" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CareUnitCapacityType">
    <xs:sequence>
      <xs:element name="careUnitId" type="xs:string"/>
      <xs:element name="careUnitName" type="xs:string"/>
      <xs:element name="product" type="tns:ProductCapacityType" maxOccurs="unbounded" minOccurs="0"
      />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TimePeriodType">
    <xs:annotation>
      <xs:documentation>
        Används för att specificera ett datumintervall
        med hjälp av start- och slutdatum.
        
        start: 
        Startdatum på formatet YYYYMMDDhhmmss
        end: 
        Slutdatum på formatet YYYYMMDDhhmmss
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="start" type="tns:TimeStampType"/>
      <xs:element name="end" type="tns:TimeStampType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TimeStampType">
    <xs:annotation>
      <xs:documentation>
        A quantity specifying a point on the axis of natural time.
        A point in time is most often represented as a calendar
        expression.
        
        The time has the format YYYYMMDDhhmmss
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern
        value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(0[0-9]|1[0-9]|2[0123])([0-5])([0-9])([0-5])([0-9])"
      />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CVType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"/>
      <xs:element name="codeSystem" type="xs:string" minOccurs="0"/>
      <xs:element name="codeSystemName" type="xs:string" minOccurs="0"/>
      <xs:element name="codeSystemVersion" type="xs:string" minOccurs="0"/>
      <xs:element name="displayName" type="xs:string" minOccurs="0"/>
      <xs:element name="originalText" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>


</xs:schema>
