ServiceInteractions/local/service/catalogue/aggregated/trunk/schemas/core_components/service_catalogue_2.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->		
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:riv:service:catalogue:2"
  xmlns:codes="urn:riv:service:catalogue:aggregated:enums:2"
  targetNamespace="urn:riv:service:catalogue:2" elementFormDefault="qualified"
  attributeFormDefault="unqualified" version="2.0">

  <xs:import namespace="urn:riv:service:catalogue:aggregated:enums:2"
    schemaLocation="service_catalogue_aggregated_enum_2.0.xsd"/>

  <!-- -->
  <xs:complexType name="OfferType">
    <xs:sequence>
      <xs:element name="organizationalUnit" type="tns:organizationalUnitType"/>
      <xs:element name="validContractDatePeriod" type="tns:DatePeriodType">
        <xs:annotation>
          <xs:documentation>Valid date from when this care unit starts handling type of cares.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="supportedInteraction" type="tns:SupportedInteractionsType"
        maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="product" type="tns:ProductType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UpdateOfferType">
    <xs:sequence>
      <xs:element name="sourceSystemHSAId" type="tns:IIType"/>
      <xs:element name="organisation" type="tns:OrganisationType" maxOccurs="1"/>
      <xs:element name="openingHours" type="xs:string"/>
      <xs:element maxOccurs="1" name="address" type="tns:AddressType"/>
      <xs:element name="contract" type="tns:ContractType" maxOccurs="unbounded"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="contactPreference"
        type="tns:ContactPreferenceType"/>
      <xs:element name="product" type="tns:ProductReferenceType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="property" type="tns:CVType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UpdateProductsType">
    <xs:sequence>
      <xs:element name="sourceSystemHSAId" type="tns:IIType"/>
      <xs:element name="county" type="tns:IIType" maxOccurs="1"/>
      <xs:element name="product" type="tns:ProductType_setter" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductReferenceType">
    <xs:sequence>
      <xs:element name="id" type="tns:IIType"/>
      <xs:element name="county" type="tns:CVType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AgreementType">
    <xs:sequence>
      <xs:element name="id" type="tns:IIType"/>
      <xs:element name="type" type="tns:CVType"/>
      <xs:element name="datePeriod" type="tns:DatePeriodType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ContractType">
    <xs:sequence>
      <xs:element name="id" type="tns:IIType"/>
      <xs:element name="type" type="tns:CVType"/>
      <xs:element name="datePeriod" type="tns:DatePeriodType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="invoiceAddress" type="tns:NAVNETType" minOccurs="0"/>
      <xs:element name="mailAddress" type="tns:EmailAddressType" minOccurs="0"/>
      <xs:element name="webAddress" type="xs:anyURI" minOccurs="0"/>
      <xs:element name="visitAddress" type="tns:GPSType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NAVNETType">
    <xs:sequence>
      <xs:element name="streetAdress1" type="xs:string" minOccurs="0"/>
      <xs:element name="streetAdress2" type="xs:string" minOccurs="0"/>
      <xs:element minOccurs="0" name="county"/>
      <xs:element name="postalCode" type="xs:string" minOccurs="0"/>
      <xs:element name="postalCity" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GPSType">
    <xs:sequence>
      <xs:element name="longitude" type="xs:double"/>
      <xs:element name="latitude" type="xs:double"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ContactPreferenceType">
    <xs:sequence>
      <xs:element name="type" type="codes:ContactPreferenceEnum"/>
      <xs:element name="iCalendar" type="xs:string"/>
      <xs:element name="value" minOccurs="1" type="xs:string"/>
      <xs:element name="datePeriod" type="tns:DatePeriodType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- -->
  <xs:complexType name="organizationalUnitType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="HSAId" type="tns:HSAIdType"/>
      <xs:element name="organizationName" type="xs:string"/>
      <xs:element minOccurs="1" name="postalAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="countyCode" type="xs:string"/>
      <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
      <xs:element minOccurs="0" name="streetAddress" type="xs:string"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- -->
  <xs:complexType name="SupportedInteractionsType">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>Each service domain that can be used for the given care unit id.
            For example set interaction to urn:clinicalprocess:requestflow:ProcessRequest and urn:clinicalprocess:requestflow:ProcessRequestOutcome
            if the care unit can recieve requests and send request answers.
          </xs:documentation>
      </xs:annotation>
      <xs:element name="interaction" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
      <xs:element name="logicalAddress" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="producerSystemHSAId" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- -->
  <xs:complexType name="ProductType_setter">
    <xs:annotation>
      <xs:documentation>Vårdutbud i form av produkter som definieras av fasta egenskaper samt i form av kod/kodverk.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="productId" type="tns:UUIDType"/>
      <xs:element name="parentProductId" type="tns:UUIDType" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element minOccurs="0" name="requestRequirement" type="xs:string"/>
      <xs:element minOccurs="0" name="requestComment" type="xs:string"/>
      <xs:element minOccurs="0" name="bookable" type="xs:boolean"/>
      <xs:element minOccurs="0" name="bookableFor" type="xs:string"/>
      <xs:element name="property" type="tns:CVType" maxOccurs="unbounded" minOccurs="1"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductType">
    <xs:annotation>
      <xs:documentation>Vårdutbud i form av produkter som definieras av fasta egenskaper samt i form av kod/kodverk.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="productId" type="xs:string"/>
      <xs:element name="sourceSystemHSAId" type="tns:IIType"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element minOccurs="0" name="requestComment" type="xs:string"/>
      <xs:element name="property" type="tns:CVType" maxOccurs="unbounded" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatePeriodType">
    <xs:annotation>
      <xs:documentation>
        Används för att specificera ett datumintervall
        med hjälp av start- och slutdatum.
        
        start: 
        Startdatum på formatet ÅÅÅÅMMDD
        end: 
        Slutdatum på formatet ÅÅÅÅMMDD
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="start" type="tns:DateType"/>
      <xs:element name="end" type="tns:DateType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CountyCatalogueType">
    <xs:annotation>
      <xs:documentation>Product information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="county" type="tns:CVType"/>
      <xs:element name="product" type="tns:ProductType" maxOccurs="unbounded" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="ProductCapacityType">
    <xs:annotation>
      <xs:documentation>Product information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="product" type="tns:CVType"/>
      <xs:element name="capacity" type="tns:CapacityType" maxOccurs="unbounded" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CapacityType">
    <xs:annotation>
      <xs:documentation>CodeSystem information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="validTo" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
      <xs:element name="code" type="tns:CVType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CareUnitCapacityType">
    <xs:sequence>
      <xs:element name="HSAId" type="tns:HSAIdType"/>
      <xs:element name="organizationName" type="xs:string"/>
      <xs:element name="productCapacity" type="tns:ProductCapacityType" maxOccurs="unbounded"
        minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TimePeriodType">
    <xs:annotation>
      <xs:documentation>
        Används för att specificera ett datumintervall
        med hjälp av start- och slutdatum.
        
        start: 
        Startdatum på formatet YYYYMMDDhhmmss
        end: 
        Slutdatum på formatet YYYYMMDDhhmmss
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="start" type="tns:TimeStampType"/>
      <xs:element name="end" type="tns:TimeStampType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CVType">
    <xs:annotation>
      <xs:documentation>Metadata för utbudspunkten i form av kod/kodverk.
Exempel: </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="1"/>
      <xs:element name="codeSystem" type="xs:string" minOccurs="1"/>
      <xs:element name="codeSystemName" type="xs:string" minOccurs="0"/>
      <xs:element name="codeSystemVersion" type="xs:string" minOccurs="0"/>
      <xs:element name="displayName" type="xs:string" minOccurs="0"/>
      <xs:element name="originalText" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultType">
    <xs:annotation>
      <xs:documentation>
        ResultType hanterar logiska fel.
        
        resultCode: 
        Kan endast vara OK, INFO eller ERROR.
        errorCode: 
        Sätts endast om resultCode är ERROR. Tillåtna värden sätts per tjänstedomän.
        subcode: 
        Tillåtna värden sätts per tjänstedomän.
        logId: 
        En UUID som kan användas vid felanmälan för att användas vid felsökning av producent.
        message: 
        En beskrivande text som kan visas för användaren.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="resultCode" type="codes:ResultCodeEnum"/>
      <xs:element name="errorCode" type="codes:ErrorCodeEnum" minOccurs="0" maxOccurs="1"/>
      <xs:element name="subcode" type="codes:SubCodeEnum" minOccurs="0" maxOccurs="1"/>
      <xs:element name="logId" type="xs:string"/>
      <xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!--  -->
  <xs:simpleType name="CareUnitNameType">
    <xs:annotation>
      <xs:documentation>Care unit name, corresponds to RDN in HSA</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1024"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TimeStampType">
    <xs:annotation>
      <xs:documentation>
        A quantity specifying a point on the axis of natural time.
        A point in time is most often represented as a calendar
        expression.
        
        The time has the format YYYYMMDDhhmmss
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern
        value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(0[0-9]|1[0-9]|2[0123])([0-5])([0-9])([0-5])([0-9])"
      />
    </xs:restriction>
  </xs:simpleType>

  <!-- Date format SSYYMMDD -->
  <xs:simpleType name="DateType">
    <xs:annotation>
      <xs:documentation>Date format SSYYMMDD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- -->
  <xs:simpleType name="HSAIdType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EmailAddressType">
    <xs:restriction base="xs:string"> </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="IIType">
    <xs:sequence>
      <xs:element name="root" type="xs:string"/>
      <xs:element name="extension" type="xs:string"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InformationOwnerType">
    <xs:sequence>
      <xs:element name="id" type="tns:IIType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationType">
    <xs:sequence>
      <xs:element name="id" type="tns:IIType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="name" type="tns:IIType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SourceSystemType">
    <xs:sequence>
      <xs:element name="id" type="tns:IIType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:length value="36" fixed="true"/>
      <xs:pattern
        value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}"
      />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
