ServiceInteractions/riv/supportprocess/personalresources/interpretation/trunk/schemas/core_components/supportservices_interpretationservice_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Kentor licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:supportprocess:personalresources:interpretation:1" targetNamespace="urn:supportprocess:personalresources:interpretation:1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
  <xs:import/>
  <xs:complexType name="Acknowledgement">
    <xs:sequence>
      <xs:element name="AcknowledgementNumber">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:maxInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="BookingNumber">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:maxInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="AcknowledgedStartTime" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="AcknowledgedEndTime" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="Feedback" type="tns:Feedback" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element name="Occasion" type="tns:BookingOccasion"/>
      <xs:element name="Data" type="tns:BookingData"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuthorizationLevelWithRequirement">
    <xs:sequence>
      <xs:element name="MinAuthorizationLevel" type="tns:AuthorizationLevel"/>
      <xs:element name="RequiredLevel" type="tns:RequirementLevel"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequiredGenderWithRequirement">
    <xs:sequence>
      <xs:element name="RequiredGender" type="tns:KV_KÖN" minOccurs="0"/>
      <xs:element name="RequiredLevel" type="tns:RequirementLevel"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequiredInterpreterNameWithRequirement">
    <xs:sequence>
      <xs:element name="RequiredInterpreterName" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="RequiredLevel" type="tns:RequirementLevel"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BookingData">
    <xs:sequence>
      <xs:element name="InterpretationLanguageId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Currently integers, but may be replace with ISO codes in the future</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Patient" type="tns:PatientInformation" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AuthorizationLevel" type="tns:AuthorizationLevelWithRequirement"/>
      <xs:element name="AdditionalRequirements" minOccurs="0" maxOccurs="unbounded">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="InterpretationType" type="tns:InterpretationType"/>
      <xs:element name="ContactInformation" type="tns:ContactInformation"/>
      <xs:element name="InterpreterGender" type="tns:RequiredGenderWithRequirement" minOccurs="0"/>
      <xs:element name="InterpreterName" type="tns:RequiredInterpreterNameWithRequirement" minOccurs="0"/>
      <xs:element name="AdditionalPatientRequest" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BookingOccasion">
    <xs:sequence>
      <xs:element name="InvoiceEventId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="BookingNumber">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:maxInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ReferenceNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="State" type="tns:BookingState"/>
      <xs:element name="StartTime" type="xs:dateTime"/>
      <xs:element name="EndTime">
        <xs:simpleType>
          <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="AuthorizationLevel" type="tns:AuthorizationLevel" minOccurs="0"/>
      <xs:element name="InterpreterName" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactInformation">
    <xs:sequence>
      <xs:element name="Address">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DoorCode" minOccurs="0" type="xs:string"/>
      <xs:element name="LocationDetails" minOccurs="0" type="xs:string"/>
      <xs:element name="LocationName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ContactPerson">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ContactPhone">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="HealthCareProfessionalName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OrderingPersonName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OrderingUnitName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OrderingUnitHsaId" type="tns:HSAIdType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Feedback">
    <xs:sequence>
      <xs:element name="InterpreterName" type="xs:string"/>
      <xs:element name="AuthorizationLevel" type="tns:AuthorizationLevel"/>
      <xs:element name="InterpretationType" type="tns:InterpretationType"/>
      <xs:element name="Answer" type="tns:FeedbackAnswerType" minOccurs="0" />
      <xs:element name="Comment" type="xs:string"/>
      <xs:element name="FeedbackWithFine" type="tns:FeedbackReasonType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="FeedbackWithoutFine" type="tns:FeedbackReasonType" minOccurs="0" maxOccurs="unbounded" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Inquiry">
    <xs:sequence>
      <xs:element name="InquiryId">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Occasions" type="tns:BookingOccasion" maxOccurs="unbounded"/>
      <xs:element name="Data" type="tns:BookingData"/>
      <xs:element name="InquiryState" type="tns:InquiryState"/>
      <xs:element name="LastResponseTime" type="xs:dateTime"/>
      <xs:element name="FirstInRank" type="xs:boolean"/>
      <xs:element name="InterpreterName" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ExplainingText" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InquiryResponse">
    <xs:sequence>
      <xs:element name="InquiryId">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ReferenceNumberMap" type="tns:ReferenceNumberMapping" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Answer" type="tns:InquiryResponseAnswer"/>
      <xs:element name="AuthorizationLevel" type="tns:AuthorizationLevel" minOccurs="0"/>
      <xs:element name="InterpreterName" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PhonenumberForInterpretation" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ExplainingText" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Language">
    <xs:sequence>
      <xs:element name="LanguageId" type="xs:string"/>
      <xs:element name="LanguageName" type="xs:string"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PatientInformation">
    <xs:sequence>
      <xs:element name="Age">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="200"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Gender" type="tns:KV_KÖN"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceNumberMapping">
    <xs:sequence>
      <xs:element name="BookingNumber">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:maxInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ReferenceNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BookingUpdate">
    <xs:sequence>
      <xs:element name="BookingNumber">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:maxInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ReferenceNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="AuthorizationLevel" type="tns:AuthorizationLevel"/>
      <xs:element name="InterpreterName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PhonenumberForInterpretation" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AuthorizationLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Other"/>
      <xs:enumeration value="Authorized"/>
      <xs:enumeration value="HealthcareAuthorized"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BookingState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New"/>
      <xs:enumeration value="AssociationBooked"/>
      <xs:enumeration value="Canceled"/>
      <xs:enumeration value="Acknowledged"/>
      <xs:enumeration value="AllDeclined"/>
      <xs:enumeration value="AcceptedByAtLeastOne"/>
      <xs:enumeration value="LateCanceled"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KV_KÖN">
    <xs:restriction base="xs:string">
      <xs:enumeration value="okänt"/>
      <xs:enumeration value="man"/>
      <xs:enumeration value="kvinna"/>
      <xs:enumeration value="ej tillämpligt"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InterpretationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Contact"/>
      <xs:enumeration value="Phone"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InquiryState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotAnswered"/>
      <xs:enumeration value="Booked"/>
      <xs:enumeration value="Rejected"/>
      <xs:enumeration value="Timeout"/>
      <xs:enumeration value="CanceledByInitiator"/>
      <xs:enumeration value="Accepted"/>
      <xs:enumeration value="LostBeforeAnswer"/>
      <xs:enumeration value="LostAccepted"/>
    </xs:restriction>
  </xs:simpleType>
  <!--From https://code.google.com/p/rivta/wiki/HSAIdType-->
  <xs:simpleType name="HSAIdType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="MessageSequenceNumber">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="ResultCodeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK"/>
      <xs:enumeration value="ERROR"/>
      <xs:enumeration value="INFO"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InquiryResponseAnswer">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Accept"/>
      <xs:enumeration value="AcceptWithException"/>
      <xs:enumeration value="Reject"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FeedbackReasonType">
    <xs:restriction base="xs:string">
      <!--with fine-->
      <xs:enumeration value="WrongCompetence"/>
      <xs:enumeration value="WrongGender"/>
      <xs:enumeration value="WrongNamedInterpreter"/>
      <xs:enumeration value="NoInterpreter"/>
      <xs:enumeration value="LateInterpreter15Min"/>
      <xs:enumeration value="LateInterpreter5Min"/>
      <xs:enumeration value="RejectedInterpreterWasAssigned"/>
      <!--without fine-->
      <xs:enumeration value="NoPhotoId"/>
      <xs:enumeration value="NotNeutral"/>
      <xs:enumeration value="NotNiceInterpreter"/>
      <xs:enumeration value="NotGoodLanguage"/>
      <xs:enumeration value="CanceledEarly"/>
      <xs:enumeration value="ConfirmationNotInTime"/>
      <xs:enumeration value="NoPatient"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FeedbackAnswerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Answered"/>
      <xs:enumeration value="Accepted"/>
      <xs:enumeration value="Rejected"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RequirementLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Desired"/>
      <xs:enumeration value="Only"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
