ServiceInteractions/riv/insuranceprocess/healthreporting/tags/TD_HEALTHREPORTING_1_0_R/trunk/schemas/interactions/RegisterMedicalCertificateInteraction/MU7263-RIV_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Licensed to the Apache Software Foundation (ASF) under one
	or more contributor license agreements. See the NOTICE file
	distributed with this work for additional information
	regarding copyright ownership. The ASF licenses this file
	to you under the Apache License, Version 2.0 (the
	"License"); you may not use this file except in compliance
	with the License. You may obtain a copy of the License at
	
	http://www.apache.org/licenses/LICENSE-2.0
	
	Unless required by applicable law or agreed to in writing,
	software distributed under the License is distributed on an
	"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
	KIND, either express or implied. See the License for the
	specific language governing permissions and limitations
	under the License.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="urn:riv:insuranceprocess:healthreporting:1" 
	targetNamespace="urn:riv:insuranceprocess:healthreporting:1" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified"
	version="1.0">
	<xs:include schemaLocation="ISO_dt.xsd"/>
	<xs:element name="lakarutlatande" type="lakarutlatandeType">
		<xs:annotation>
			<xs:documentation>Root-elementet för informationsinnehållet i MU7263. Klassen motsvarar i dagsläget själva blanketten</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="Referenstyp">
		<xs:annotation>
			<xs:documentation>Representerar de olika typer av referenser från vilken HoS-personalen fått information om patienten i det aktuella ärendet</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Journaluppgifter"/>
			<xs:enumeration value="Annat"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Vardkontakttyp">
		<xs:annotation>
			<xs:documentation>Representerar de olika typer av vårdkontakter som är giltiga</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Min_undersokning_av_patienten"/>
			<xs:enumeration value="Min_telefonkontakt_med_patienten"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Prognosangivelse">
		<xs:annotation>
			<xs:documentation>Representerar de angivelser för prognoser som är giltiga</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Aterstallas_helt"/>
			<xs:enumeration value="Aterstallas_delvis"/>
			<xs:enumeration value="Inte_aterstallas"/>
			<xs:enumeration value="Det_gar_inte_att_bedomma"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Nedsattningsgrad">
		<xs:annotation>
			<xs:documentation>Representerar de grader på nedsättning som är giltiga</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Helt_nedsatt"/>
			<xs:enumeration value="Nedsatt_med_3/4"/>
			<xs:enumeration value="Nedsatt_med_1/2"/>
			<xs:enumeration value="Nedsatt_med_1/4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Aktivitetskod">
		<xs:annotation>
			<xs:documentation>Representerar de olika typer av aktivitetskoder som förekommer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Given_ordination">
				<xs:annotation>
					<xs:documentation>Mappas mot kryss 1, fält 6</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Arbetslivsinriktad_rehabilitering_ar_aktuell">
				<xs:annotation>
					<xs:documentation>Mappas mot kryss 1, fält 7</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Arbetslivsinriktad_rehabilitering_ar_ej_aktuell">
				<xs:annotation>
					<xs:documentation>Mappas mot kryss 2, fält 7</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Gar_ej_att_bedomma_om_arbetslivsinriktad_rehabilitering_ar_aktuell">
				<xs:annotation>
					<xs:documentation>Mappas mot kryss 3, fält 7</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Fortsatt_poliklinisk_kontakt">
				<xs:annotation>
					<xs:documentation>Mappas mot kryss 2, fält 6</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Forandrat_ressatt_till_arbetsplatsen_ar_aktuellt">
				<xs:annotation>
					<xs:documentation>Mappas mot kryss 1, fält 11</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Forandrat_ressatt_till_arbetsplatsen_ar_ej_aktuellt">
				<xs:annotation>
					<xs:documentation>Mappas mot kryss 2, fält 11</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Vantar_pa_atgard_inom_sjukvarden">
				<xs:annotation>
					<xs:documentation>Mappas mot kryss 5, fält 6</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Vantar_pa_annan_atgard">
				<xs:annotation>
					<xs:documentation>Mappas mot kryss 6, fält 6</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Besoka_arbetsplatsen">
				<xs:annotation>
					<xs:documentation>Mappas mot kryss 4, fält 6</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Undvika_viss_belastning">
				<xs:annotation>
					<xs:documentation>Mappas mot kryss 3, fält 6</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Kontakt_med_Forsakringskassan_ar_aktuell">
				<xs:annotation>
					<xs:documentation>Mappas mot kryss 1, fält 12</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Kontakt_med_Forsakringskassan_ar_inte_aktuell">
				<xs:annotation>
					<xs:documentation>Mappas mot kryss 2, fält 12</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Patienten_behover_fa_kontakt_med_foretagshalsovarden">
				<xs:annotation>
					<xs:documentation>Mappas mot kryss 4, fält 7</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Avstangning_enligt_SmL_pga_smitta">
				<xs:annotation>
					<xs:documentation>Mappas mot kryss 1, fält 1</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Ovrigt">
				<xs:annotation>
					<xs:documentation>Mappas mot kryss 7, fält 6</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypAvSysselsattning">
		<xs:annotation>
			<xs:documentation>Representerar de typer av sysselsättning som är giltiga</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Forvarvsarbete"/>
			<xs:enumeration value="Arbetsloshet"/>
			<xs:enumeration value="Foraldraledighet"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypAvFunktionstillstand">
		<xs:annotation>
			<xs:documentation>Representerar de typer av funktionstillstånd som är giltiga</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Aktivitet"/>
			<xs:enumeration value="Kroppsfunktion"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="lakarutlatandeType">
		<xs:annotation>
			<xs:documentation>Klassen är utgångspunkt för schemat och representerar blanketten i helhet</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="lakarutlatande-id" type="II">
				<xs:annotation>
					<xs:documentation>Attributet efterfrågas inte i blanketten utan är något som genereras av källsystemet och hämtas därifrån</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typAvUtlatande" type="xs:string" fixed="Medicinskt underlag för bedömning av förmåga att arbeta vid sjukdom"/>
			<!--<xs:element name="vardensArendeId" type="II" minOccurs="0"/> -->
			<!-- Mappar mot Fält 13-->
			<xs:element name="kommentar" type="xs:string" minOccurs="0"/>
			<xs:element name="ersatterLakarutlatandeId" type="II" minOccurs="0"/>
			<xs:element name="patient" type="patientType"/>
			<xs:element name="skapadAvHosPersonal" type="hosPersonalType"/>
			<!--
			<xs:element name="signatur" type="signaturType"/>
			-->
			<xs:element name="vardkontakt" type="vardkontaktType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="referens" type="referensType" minOccurs="0" maxOccurs="2"/>
			<xs:element name="aktivitet" type="aktivitetType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Ändra Bedömt tillstånd till 0..1-->
			<xs:element name="bedomtTillstand" type="bedomtTillstandType" minOccurs="0"/>
			<!-- Ska egentligen vara 0..2 om man ska bibehålla nuvarande lösningen med attributkombinationer. Om man vill förenkla ännu mer kan man sätta att endast en instans av klassen förekommer och ta ett attribut i klassen per fält (kod för ICD-10, beskrivningen för bidiagnosen). Uppdatering: Ändrat till 0..1 så att koden används för att fånga ICD-koden och beskrivningen för att fånga tillhörande text -->
			<xs:element name="medicinsktTillstand" type="medicinsktTillstandType" minOccurs="0"/>
			<!-- Ska egentligen vara 0..2-->
			<xs:element name="funktionstillstand" type="funktionstillstandType" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="patientType">
		<xs:annotation>
			<xs:documentation>Klassen innehåller all information om patienten som blanketten hanterar</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="person-id" type="II">
				<xs:annotation>
					<xs:documentation>Mappas mot "Patientens personnummer".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--Multipliciteten i schemat refererar till antalet fält i blanketten och är ingen spegling av verkligheten.-->
			<xs:element name="fornamn" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Mappas mot "Patientens namn"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mellannamn" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Mappas mot "Patientens namn"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="efternamn" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Mappas mot "Patientens namn"</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="hosPersonalType">
		<xs:annotation>
			<xs:documentation>Klassen innehåller all information om hälso- och sjukvårdspersonal som blanketten hanterar</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="personal-id" type="II">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 17 på blanketten. Egentligen skulle man vilja ha HSA-id som ID-typ, men i dagsläget används förskrivarkod. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--
			<xs:element name="telefonnummer" type="TEL" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 15 på blanketten. Går telefonnumret till läkaren eller till enheten?</xs:documentation>
				</xs:annotation>
			</xs:element> -->
			<xs:element name="fullstandigtNamn" type="xs:string">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 15 på blanketten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="enhet" type="enhetType"/>
			<xs:element name="signatur" type="signaturType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="signaturType">
		<xs:annotation>
			<xs:documentation>Klassen innehåller all information om läkarens signatur som finns på blanketten. Behöver den ens föras över? Hur i såna fall? På vilken nivå? Diskutera detta med Spanne och Ekhammar.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="signatur" type="xs:string">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 16 på blanketten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="signeringstidpunkt" type="TS">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 14 på blanketten. Diskutera med Spanne om det verkligen bara ska vara ÅÅÅÅMMDD eller om systemen kan leverera hhmmss också.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="vardkontaktType">
		<xs:annotation>
			<xs:documentation>Klassen innehåller all information om den vårdkontakt vid vilken underlaget till blanketten inhämtades</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vardkontakttyp" type="Vardkontakttyp">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 4 del 2 på blanketten (de två översta kryssalternativen)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Göra om från IVL_TS till en vanlig TS för att göra det enklare. Eller TS.DATE? -->
			<xs:element name="vardkontaktstid" type="TS.DATE">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 4 del 2 på blanketten (de två översta alternativen under "Datum")</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="referensType">
		<xs:annotation>
			<xs:documentation>Klassen innehåller all information om de referenser som läkarutlåtandet baseras på</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="referenstyp" type="Referenstyp">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 4 del 2 på blanketten (de två nedersta kryssalternativen)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="datum" type="TS.DATE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 4 del 2 på blanketten (de två nedersta alternativen under "Datum")</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="aktivitetType">
		<xs:annotation>
			<xs:documentation>Klassen håller information om de aktiviteter/åtgärder som hanteras i blanketten. En instansiering av klassen akvititetType ska ske per kryss i de rutor som angetts i beskrivningen av Aktivitetskod ovan.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aktivitetskod" type="Aktivitetskod">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 6, 7, 11 och 12</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="beskrivning" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 6 i de fall aktivitetskod motsvarar någon av de kryss som har möjlighet att definieras tydligare (de med en linje efter sig).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bedomtTillstandType">
		<xs:annotation>
			<xs:documentation>Klassen innehåller information om patientens generella bedömda tillstånd</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="beskrivning" type="xs:string">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 3</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="medicinsktTillstandType">
		<xs:annotation>
			<xs:documentation>Klassen innehåller information om patientens medicinska tillstånd.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="beskrivning" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tillstandskod" type="CD" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 2 del 2 (ICD-10-koden)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="funktionstillstandType">
		<xs:annotation>
			<xs:documentation>Klassen innehåller information om patientens funktionstillstånd</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="beskrivning" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 4 och 5. Informationen som återhämtas i fält 4 läggs i beskrivning med typAvFunktionstillstand satt till kroppsfunktion. Informationen som återhämtas i fält 5 läggs i beskrivning i en ny instans av klassen med typAvFunktionstillstand satt till Aktivitet.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typAvFunktionstillstand" type="TypAvFunktionstillstand">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 4 när det är kroppsfunktion och 5 när det är aktivitet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="arbetsformaga" type="arbetsformagaType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="enhetType">
		<xs:annotation>
			<xs:documentation>Klassen innehåller information om den klinik eller mottagning på vilken läkaren som fyller i MUt är verksam vid det tillfälle blanketten fylls i. Hela klassen mappas mot de tre raderna högst upp till vänster på blanketten. Informationen bör automatpopuleras av journalsystemet om möjligt.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="enhets-id" type="II">
				<xs:annotation>
					<xs:documentation>I dagsläget används arbetsplatskoden som identifikator. Den lagras i samma fält (fält 17) som personal-id. Även vårdgivare-id ska finnas i fält 17.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="enhetsnamn" type="xs:string"/>
			<xs:element name="postadress" type="xs:string" minOccurs="0"/>
			<xs:element name="postnummer" type="xs:string" minOccurs="0"/>
			<xs:element name="postort" type="xs:string" minOccurs="0"/>
			<xs:element name="telefonnummer" type="TEL" minOccurs="0"/>
			<xs:element name="vardgivare" type="vardgivareType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="arbetsformagaType">
		<xs:annotation>
			<xs:documentation>Klassen innehåller information om patientens bedömda arbetsförmåga</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="motivering" type="xs:string" minOccurs="0"/>
			<xs:element name="prognosangivelse" type="Prognosangivelse"/>
			<xs:element name="arbetsuppgift" type="arbetsuppgiftType" minOccurs="0"/>
			<xs:element name="arbetsformagaNedsattning" type="arbetsformagaNedsattningType" maxOccurs="4"/>
			<xs:element name="sysselsattning" type="sysselsattningType" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="arbetsuppgiftType">
		<xs:annotation>
			<xs:documentation>Klassen innehåller information om patientens typer av arbetsuppgifter</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="typAvArbetsuppgift" type="xs:string">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 8, de två översta strecken till höger</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="arbetsformagaNedsattningType">
		<xs:annotation>
			<xs:documentation>Klassen innehåller information om nedsättningen av patientens arbetsförmåga</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="varaktighet" type="IVL_TS">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 8, de fyra nedersta strecken till höger</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nedsattningsgrad" type="Nedsattningsgrad">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 8, de fyra nedersta kryssrutorna</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sysselsattningType">
		<xs:annotation>
			<xs:documentation>Klassen innehåller information om patientens sysselsättning</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="typAvSysselsattning" type="TypAvSysselsattning">
				<xs:annotation>
					<xs:documentation>Mappas mot fält 8, de tre översta kryssrutorna</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="vardgivareType">
		<xs:annotation>
			<xs:documentation>Klassen innehåller information om vårdgivaren till vilken enheten där underlaget skrevs hör</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vardgivare-id" type="II"/>
			<xs:element name="vardgivarnamn" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
