ServiceInteractions/riv/ehr/patientsummary/branches/TD_PATIENTSUMMARY_2/schemas/core_components/ehr_patientsummary_2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn:riv:ehr:patientsummary:2" 
    xmlns:codes="urn:riv:ehr:patientsummary:codes:1" 
    targetNamespace="urn:riv:ehr:patientsummary:2" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified" 
    version="2.0">
	
    <xs:import schemaLocation="codes_m.xsd" namespace="urn:riv:ehr:patientsummary:codes:1"/>
    
	<xs:complexType name="AssignedEntityType">
		<xs:annotation>
			<xs:documentation>
				Information om person som signerat dokument
			
				assignedEntityId: 
					HSA-id för person
				representedOrganizationId: 
					HSA-id för den organisation som personen har uppdrag för
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AssignedEntityId" type="tns:HsaIdType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
		
	<xs:complexType name="AuthorizationType">
		<xs:annotation>
			<xs:documentation>
				Information om menprövning
			
				authorizationCode: 
					Kod som anger typ av tillgänglighet. Tillåtna värden
					är P0-00790 för Information till Patient (att information
					är tillgänglig till patient kan ha föregåtts av menprövning)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="authorizationCode" type="xs:string" fixed="P0-00790 för Information till Patient"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AuthorType">
		<xs:annotation>
			<xs:documentation>
				Information om författare till dokumentet
			
				authorTime: 
					Tidpunkt då dokumentet skapades
				authorId: 
					HSA-id för författare. 
					OID för HSA används (1.2.752.129.2.2.1.4)
				authorRoleCode: 
					Kod för författarens befattning, enligt kodverket Befattning (OID 1.2.752.129.2.2.1.4)
				authorName: 
					Namn på författaren
				authorOrganizationId: 
					HSA-id för den enhet som författaren är uppdragstagare hos
				authorOrganizationName: 
					Namn på den enhet som författaren är uppdragstagare hos
				authorOrganizationTelecom: 
					Telefonnummer till den enhet som författaren är uppdragstage hos
				authorOrganizationAddress: 
					Adress till den enhet som författaren är uppdragstagere hos
				careProviderId:
					HSA-id för vårdgivaren, som är vårdgivare för den enhet som författaren är uppdragstagare för
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="authorTime" type="tns:TimestampType"/>
			<xs:element name="authorId" type="tns:AuthorIdType"/>
			<xs:element name="authorRoleCode" type="tns:AuthorRoleCodeType" minOccurs="0"/>
			<xs:element name="authorName" type="xs:string" minOccurs="0"/>
			<xs:element name="authorOrganizationId" type="tns:HsaIdType"/>
			<xs:element name="authorOrganizationName" type="xs:string" minOccurs="0"/>
			<xs:element name="authorOrganizationTelecom" type="xs:string" minOccurs="0"/>
			<xs:element name="authorOrganizationAddress" type="xs:string" minOccurs="0"/>
			<xs:element name="careProviderId" type="tns:HsaIdType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="AuthorIdType">
        <xs:sequence>
            <xs:element name="code" type="codes:AuthorIdCodeValues"/>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AuthorRoleCodeType">
        <xs:sequence>
            <xs:element name="code" type="codes:AuthorRoleCodeValues"/>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
	<xs:complexType name="CustodianType">
		<xs:annotation>
			<xs:documentation>
				Information om PDL-enhet som har ansvar för informationen
			
				custodianId: 
					HSA-id för PDL-enhet
				legalAuthenticator:
					Information om signering				
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="custodianId" type="tns:HsaIdType"/>
			<xs:element name="legalAuthenticator" type="tns:LegalAuthenticatorType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="DocumentCodeType">
        <xs:annotation>
            <xs:documentation>
                code:
                    Kod för åtgärd. 
                    Fast värde: "Kliniskt dokument" (R-42BAC) 
                codeSystem:
                    Kodverk (2.16.840.1.11.3883.6.96)
                codeSystemName:
                    Namn på kodverk (SNOMED CT)
            </xs:documentation>
        </xs:annotation>	
        <xs:sequence>
            <xs:element name="code" type="codes:DocumentCodeValues"/>
            <xs:element name="codeSystem" type="codes:DocumentCodeSystemValues"/>
            <xs:element name="codeSystemName" type="codes:DocumentCodeSystemNameValues"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="HsaIdType">
        <xs:sequence>
            <xs:element name="code" type="codes:HsaIdCodeValues"/>
            <xs:element name="value">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="64"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
	<xs:complexType name="LegalAuthenticatorType">
		<xs:annotation>
			<xs:documentation>
				Information om signering
			
				signatureTime: 
					Tidpunkt för signering, format ÅÅÅÅMMDDttmmss. 
					RIV: Vård- och omsorgsdokument.signeringstidpunkt
				assignedEntity:
					Information om person som signerat dokumentet
				representedOrganizationId
					HSA-id för den organisation som personen har uppdrag för
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="signatureTime" type="tns:TimestampType"/>
			<xs:element name="assignedEntity" type="tns:AssignedEntityType" minOccurs="0"/>
			<xs:element name="representedOrganizationId" type="tns:HsaIdType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="PatientIdType">
        <xs:sequence>
            <xs:element name="code" type="codes:HsaIdCodeValues"/>
            <xs:element name="value">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="64"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
	<xs:complexType name="PatientSummaryHeaderType">
		<xs:annotation>
			<xs:documentation>
				documentId: 
					Vårddokumentets unika identifierare.
					OID kan sättas till 1.2.752.129.2.1.2.1 
					(Icke-nationell identifierare Org+lokalt unikt id)
				documentCode:
					Kod som anger typ av innehåll
				documentTitle: 
					Titel på dokumentet/anteckningen
				documentTime: 
					Relevant tid, definieras för varje meddelande
				patientId: 
					Patientens ID. Root sätts till typ av patientidentifierare
					Bland tillåtna typer för finns: 
						personnummer (1.2.752.129.2.1.3.1), 
						samordningsnummer (1.2.752.129.2.1.3.3), 
						reservnummer SLL (1.2.752.97.3.1.3)
				author
					Information om författare till dokumentet
				custodian
					Information om PDL-enhet som har ansvar för informationen
				authorization
					Information om tillgänglighet av information, exempelvis att information kan ges till patient
				encompassingEncounter
				    Information om  Vård- och omsorgskontakt som föranlett vårddokumentation
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="documentId" type="codes:DocumentIdCodeValues"/>
			<xs:element name="documentCode" type="tns:DocumentCodeType"/>
			<xs:element name="documentTitle" type="xs:string" minOccurs="0"/>
			<xs:element name="documentTime" type="tns:TimestampType"/>
		    <xs:element name="patientId" type="tns:PatientIdType"/>
			<xs:element name="author" type="tns:AuthorType"/>
			<xs:element name="custodian" type="tns:CustodianType"/>
			<xs:element name="authorization" type="tns:AuthorizationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="PatientSummaryRequestType">
        <xs:annotation>
            <xs:documentation>
                authorOrganizationId: 
                    HSA-Id för e-tjänsteproducent.
                patientId: 
                    Patientens identitet, nationellt unikt person-id.
                timePeriod:
                    Begränsning av sökningen i tid, baserat på kliniskt
                    relevanta datum. Händelser anses ligga inom intervallet, 
                    om de till någon del ligger inom intervallet. 
                    (Start- och slutpunkt inkluderas i intervallet.) 
                    Formatet för start- respektive slutdatum är ÅÅÅÅMMDD.
            </xs:documentation>
        </xs:annotation>	
        <xs:sequence>
            <xs:element name="authorOrganizationId" type="tns:HsaIdType"/>
            <xs:element name="patientId" type="tns:PatientIdType"/>
            <xs:element name="timePeriod" type="tns:TimePeriodType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="TimestampType">
        <xs:annotation>
            <xs:documentation>
                A quantity specifying a point on the axis of natural time.
                A point in time is most often represented as a calendar
                expression.
                
                The time has the format YYYYMMDDhhmmss
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])\d{6}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="TimePeriodType">
		<xs:annotation>
			<xs:documentation>
				Patient Summary Time Period type
				
				Den komplexa typen används för att sätta ett
				datumintervall med hjälp av start- och slutdatum

				start: 
					Startdatum på formatet ÅÅÅÅMMDD
				end: 
					Slutdatum på formatet ÅÅÅÅMMDD
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="start">
			    <xs:simpleType>
			        <xs:restriction base="xs:string">
			            <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
			        </xs:restriction>
			    </xs:simpleType>
			</xs:element>
		    <xs:element name="end">
		        <xs:simpleType>
		            <xs:restriction base="xs:string">
		                <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
		            </xs:restriction>
		        </xs:simpleType>
		    </xs:element>
		</xs:sequence>
	</xs:complexType>
    
</xs:schema>
