ServiceInteractions/riv/ehr/patientsummary/branches/TD_PATIENTSUMMARY_2/schemas/core_components/ehr_patientsummary_enum_2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at
 
 http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn:riv:ehr:patientsummary:enums:2" 
    targetNamespace="urn:riv:ehr:patientsummary:enums:2" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified" 
    version="2.0">

    <!-- Values for AuthorRoleCodeType/code -->
    <!--  
    <xs:simpleType name="AuthorRoleCodeCodeValues">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1.2.752.129.2.2.1.4">
                <xs:annotation>
                    <xs:documentation>OID for code system Befattning</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    -->
    
    <!-- Values for AuthorRoleCodeType/value -->
    <!-- kv_yrkeskoder, 1.2.752.97.3.2.8.8 -->
    <!--    
    <xs:simpleType name="AuthorRoleCodeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AP">
                <xs:annotation>
                    <xs:documentation>Apotekare</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AT">
                <xs:annotation>
                    <xs:documentation>Arbetsterapeut</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AU">
                <xs:annotation>
                    <xs:documentation>Audionom</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BM">
                <xs:annotation>
                    <xs:documentation>Barnmorska</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BA">
                <xs:annotation>
                    <xs:documentation>Biomedicinsk analytiker</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DT">
                <xs:annotation>
                    <xs:documentation>Dietist</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KP">
                <xs:annotation>
                    <xs:documentation>Kiropraktor</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LG">
                <xs:annotation>
                    <xs:documentation>Logoped</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LK">
                <xs:annotation>
                    <xs:documentation>Läkare</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NA">
                <xs:annotation>
                    <xs:documentation>Naprapat</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OP">
                <xs:annotation>
                    <xs:documentation>Optiker</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OT">
                <xs:annotation>
                    <xs:documentation>Ortopedingenjör</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PS">
                <xs:annotation>
                    <xs:documentation>Psykolog</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PT">
                <xs:annotation>
                    <xs:documentation>Psykoterapeut</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RC">
                <xs:annotation>
                    <xs:documentation>Receptarie</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RS">
                <xs:annotation>
                    <xs:documentation>Röntgensjuksköterska</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SG">
                <xs:annotation>
                    <xs:documentation>Sjukgymnast</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SF">
                <xs:annotation>
                    <xs:documentation>Sjukhusfysiker</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SJ">
                <xs:annotation>
                    <xs:documentation>Sjuksköterska</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TH">
                <xs:annotation>
                    <xs:documentation>Tandhygienist</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TL">
                <xs:annotation>
                    <xs:documentation>Tandläkare</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    -->

    <!--  
    <xs:simpleType name="codeForTelecomType_values">
        <xs:restriction base="xs:string">
            <xs:enumeration value="H">
                <xs:annotation>
                    <xs:documentation>hemtelefon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MC">
                <xs:annotation>
                    <xs:documentation>mobiltelefon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>      
    </xs:simpleType>
    -->
    <!--
    <xs:complexType name="codeForTelecomType">
        <xs:annotation>
            <xs:documentation>Anger olika typer av telekomadresser</xs:documentation>
        </xs:annotation>
        <xs:attribute name="code" type="codeForTelecomType_values" use="required"/>
        <xs:attribute name="codeSystem" fixed="1.2.752.129.2.2.1.30" use="required"/>			
    </xs:complexType>    
    -->

    <xs:simpleType name="ClinicalDocumentNoteCodeEnum">
        <xs:annotation>
            <xs:documentation>
                Kod för typ av anteckning.
                Tillåtna värden från kodverk Anteckningstyp (1.2.752.129.2.2.2.11):
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="utr">
                <xs:annotation>
                    <xs:documentation>Utredning</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="atb">
                <xs:annotation>
                    <xs:documentation>Åtgärd/Behandling</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sam">
                <xs:annotation>
                    <xs:documentation>Sammanfattning</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sao">
                <xs:annotation>
                    <xs:documentation>Samordning</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ins">
                <xs:annotation>
                    <xs:documentation>Inskrivning</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="slu">
                <xs:annotation>
                    <xs:documentation>Slutanteckning</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="auf">
                <xs:annotation>
                    <xs:documentation>Anteckning utan fysiskt möte</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sva">
                <xs:annotation>
                    <xs:documentation>Slutenvårdsanteckning</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="bes">
                <xs:annotation>
                    <xs:documentation>Besöksanteckning</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <!--
        <xs:simpleType name="ClinicalDocumentNoteCodeCodeValues">
            <xs:restriction base="xs:string">
                <xs:enumeration value="1.2.752.129.2.2.2.11">
                    <xs:annotation>
                        <xs:documentation>OID for code system Anteckningstyp</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    -->            
    
    <!-- Values for EncounterIdType/code -->
    <xs:simpleType name="EncounterIdCodeValues">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1.2.752.129.2.1.2.1">
                <xs:annotation>
                    <xs:documentation>OID for code system ??</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <!-- Values for HsaIdType/code -->
    <xs:simpleType name="HsaIdCodeValues">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1.2.752.129.2.1.4.1">
                <xs:annotation>
                    <xs:documentation>OID for HSA ID</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <!-- Values for PersonIdType/code -->
    <xs:simpleType name="PersonIdEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="P">
                <xs:annotation>
                    <xs:documentation>Abbrevation for code system Skatteverket Personnummer (1.2.752.129.2.1.3.1)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="S">
                <xs:annotation>
                    <xs:documentation>Abbrevation for code system Skatteverket Samordningsnummer (1.2.752.129.2.1.3.3)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SLL_R">
                <xs:annotation>
                    <xs:documentation>Abbrevation for code system SLL Reservnummer (1.2.752.97.3.1.3)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MediaTypeEnum">
        <xs:union memberTypes="tns:ApplicationMediaEnum tns:AudioMediaTypeEnum tns:ImageMediaTypeEnum tns:ModelMediaTypeEnum tns:MultipartMediaTypeEnum tns:TextMediaTypeEnum tns:VideoMediaTypeEnum"/>
    </xs:simpleType>
    
    <xs:simpleType name="ApplicationMediaEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="application/dicom"/>
            <xs:enumeration value="application/msword"/>
            <xs:enumeration value="application/pdf"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="AudioMediaTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="audio/basic"/>
            <xs:enumeration value="audio/k32adpcm"/>
            <xs:enumeration value="audio/mpeg"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ImageMediaTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="image/g3fax"/>
            <xs:enumeration value="image/gif"/>
            <xs:enumeration value="image/jpeg"/>
            <xs:enumeration value="image/png"/>
            <xs:enumeration value="image/tiff"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ModelMediaTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="model/vrml"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="MultipartMediaTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="multipart/x-hl7-cda-level1"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TextMediaTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="text/html"/>
            <xs:enumeration value="text/plain"/>
            <xs:enumeration value="text/rtf"/>
            <xs:enumeration value="text/sgml"/>
            <xs:enumeration value="text/x-hl7-ft"/>
            <xs:enumeration value="text/xml"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="VideoMediaTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="video/mpeg"/>
            <xs:enumeration value="video/x-avi"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ReferralOutcomeTypeCodeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SS"/>
            <xs:enumeration value="SR"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
