ServiceInteractions/riv/ehr/patientsummary/branches/TD_PATIENTSUMMARY_2/schemas/core_components/ehr_patientsummary_2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:riv:ehr:patientsummary:2" targetNamespace="urn:riv:ehr:patientsummary:2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xs:import schemaLocation="datatypes.xsd"/>
	<xs:complexType name="assignedEntityType">
		<xs:annotation>
			<xs:documentation>
				Information om person som signerat dokument
			
				assignedEntityID: 
					HSA-id för person
				representedOrganizationID: 
					HSA-id för den organisation som personen har uppdrag för
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="assignedEntityID" type="tns:HSAIdType"/>
			<xs:element name="representedOrganizationID" type="tns:HSAIdType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="authorizationType">
		<xs:annotation>
			<xs:documentation>
				Information om menprövning
			
				authorizationCode: 
					Kod för typ av menprövning. Värden från kodverket KV XX
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="authorizationCode" type="tns:PSII"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="authorType">
		<xs:annotation>
			<xs:documentation>
				Information om författare till dokumentet
			
				authorTime: 
					Tidpunkt då dokumentet skapades
				authorID: 
					HSA-id för författare. 
					OID för HSA används (1.2.752.129.2.2.1.4)
				authorRoleCode: 
					Kod för författarens befattning, enligt kodverket Befattning (OID 1.2.752.129.2.2.1.4)
				authorName: 
					Namn på författaren
				authorOrganizationID: 
					HSA-id för den enhet som författaren är uppdragstagare hos
				authorOrganizationName: 
					Namn på den enhet som författaren är uppdragstagare hos
				authorOrganizationTelecom: 
					Telefonnummer till den enhet som författaren är uppdragstage hos
				authorOrganizationAddress: 
					Adress till den enhet som författaren är uppdragstagere hos
				careProviderId:
					HSA-id för vårdgivaren, som är vårdgivare för den enhet som författaren är uppdragstagare för
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="authorTime" type="tns:PSTS"/>
			<xs:element name="authorID" type="tns:authorIdType"/>
			<xs:element name="authorRoleCode" type="tns:authorRoleCodeType"/>
			<xs:element name="authorName" type="tns:PSST" minOccurs="0"/>
			<xs:element name="authorOrganizationID" type="tns:HSAIdType"/>
			<xs:element name="authorOrganizationName" type="tns:PSST" minOccurs="0"/>
			<xs:element name="authorOrganizationTelecom" type="tns:PSST" minOccurs="0"/>
			<xs:element name="authorOrganizationAddress" type="tns:PSST" minOccurs="0"/>
			<xs:element name="careProviderID" type="tns:HSAIdType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="careDocumentationType">
		<xs:sequence>
			<xs:element name="clinicalDocumentNote" type="tns:clinicalDocumentNoteType"/>
			<xs:element name="multimediaEntry" type="tns:multimediaEntryType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="clinicalDocumentNoteType">
		<xs:annotation>
			<xs:documentation>
			Dokument/anteckning
			
			careDocumentNoteCode: 
				Typ av vård- och omsorgsdokument. 
				Kod tas från KV Anteckningstyp (1.2.752.129.2.2.2.11).
				Tillåtna värden från kodverk	Anteckningstyp: 
					utr = Utredning, 
					atb = åtgärd/Behandling, 
					sam = Sammanfattning, 
					sao = Samordning, 
					ins = Inskrivning, 
					slu = Slutanteckning, 
					auf = Anteckning utan fysiskt
			careDocumentNoteTitle: 
				Titel på dokument
			careDocumentNoteText: 
				Själva dokumentet. 
				Formatet i textfältet ska följa HL7 CDA "Narrative Block". 
				Om dokumentet innehåller multimedia läggs en platshållare i texten enligt formatet <renderMultiMedia referencedObject="MM1"/>. 
				Innehåller dokumentet fler multimedia läggs ytterligare platshållare i texten, där referencesObject får namn "MM2", "MM3" osv
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="careDocumentNoteCode" type="tns:careDocumentNoteCodeType"/>
			<xs:element name="careDocumentNoteTitle" type="tns:PSST" minOccurs="0"/>
			<xs:element name="careDocumentNoteText" type="tns:PSST"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="custodianType">
		<xs:annotation>
			<xs:documentation>
				Information om PDL-enhet som har ansvar för informationen
			
				custodianID: 
					HSA-id för PDL-enhet
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="custodianID" type="tns:HSAIdType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="encompassingEncounterType">
		<xs:annotation>
			<xs:documentation>
				Information om  Vård- och omsorgskontakt som föranlett vårddokumentation.
			
				encounterID: 
					Unik identifierare för vård- och omsorgskontakt. 
					OID kan sättas till 1.2.752.129.2.1.2.1  (Icke-nationell identifierare Org+lokalt unikt id)
				encounterTime: 
					Tidpunkt för vård- och omsorgskontakt
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="encounterID" type="tns:PSII"/>
			<xs:element name="encounterTime" type="tns:PSTS"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="patientSummaryHeaderType">
		<xs:annotation>
			<xs:documentation>
				careDocumentID: 
					Vårddokumentets unika identifierare.
					OID kan sättas till 1.2.752.129.2.1.2.1 (Icke-nationell identifierare Org+lokalt unikt id)
				careDocumentTitle: 
					Titel på dokument
				careDocumentTime: 
					Tidpunkt då dokumentet skapades
				patientID: 
					Patientens ID. Root sätts till typ av patientsidentifierare.  
					Bland tillåtna typer finns: 
						personnummer (1.2.752.129.2.1.3.1), 
						samordningsnummer (1.2.752.129.2.1.3.3), 
						reservnummer SLL (1.2.752.97.3.1.3)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="careDocumentID" type="tns:PSII"/>
			<xs:element name="careDocumentTitle" type="tns:PSST" minOccurs="0"/>
			<xs:element name="careDocumentTime" type="tns:PSTS"/>
			<xs:element name="patientID" type="tns:PSII"/>
			<xs:element name="author" type="tns:authorType"/>
			<xs:element name="custodian" type="tns:custodianType"/>
			<xs:element name="legalAuthenticator" type="tns:legalAuthenticatorType" minOccurs="0"/>
			<xs:element name="authorization" type="tns:authorizationType" minOccurs="0"/>
			<xs:element name="encompassingEncounter" type="tns:encompassingEncounterType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="legalAuthenticatorType">
		<xs:annotation>
			<xs:documentation>
				Information om signering
			
				signatureTime: 
					Tidpunkt för signering, format YYYYMMDDHHMMSS. 
					RIV: Vård- och omsorgsdokument.signeringstidpunkt
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="signatureTime" type="tns:PSTS"/>
			<xs:element name="assignedEntity" type="tns:assignedEntityType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="multimediaEntryType">
		<xs:annotation>
			<xs:documentation>
				Multimedia som finns i dokumentet, motsvaras av platshållare i careDocumentNoteText
			
				multiMediaID: 
					ID på multimedia
				value: 
					Multimediainnehållet, med lämplig mime-typ och kodningstyp
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiMediaID" type="tns:PSST"/>
			<xs:element name="value" type="ED"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="resultType">
		<xs:annotation>
			<xs:documentation>
				Vid ett logiskt fel i de uppdaterande tjänsterna levereras resultCode, resultText. 
				resultCode kan vara:
			
				OK
					Transaktionen har utförts enligt uppdraget i frågemeddelandet.
				INFO
					Transaktionen har utförts enligt begäran, men det finns ett meddelande
					som konsumenten måste visa upp för användaren (om tillämpbart).
					Exempel på detta kan vara ”kom fastande”.
				ERROR
					Transaktionen har INTE kunnat utföras enligt p.g.a. logiskt fel. 
					Det finns ett meddelande som konsumenten måste visa upp. 
					Exempel på detta kan vara ”tiden har bokats av annan patient
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="resultCode" type="tns:resultCodeEnum"/>
			<xs:element name="resultText" type="tns:PSST" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Below: types that (1) extends another type and (2) adds some kind of restriction to the type  -->
	<xs:complexType name="authorIdType">
		<xs:complexContent>
			<xs:restriction base="II">
				<xs:attribute name="nullFlavor" type="st" use="prohibited"/>
				<xs:attribute name="root" use="required" fixed="1.2.752.129.2.2.1.4">
					<xs:simpleType>
						<xs:restriction base="uid"/>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
				<xs:attribute name="displayable" type="bl" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="authorRoleCodeType">
		<xs:complexContent>
			<xs:restriction base="II">
				<xs:attribute name="nullFlavor" type="st" use="prohibited"/>
				<xs:attribute name="root" use="required" fixed="1.2.752.129.2.2.1.4">
					<xs:simpleType>
						<xs:restriction base="uid"/>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
				<xs:attribute name="displayable" type="bl" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="careDocumentNoteCodeType">
		<xs:complexContent>
			<xs:restriction base="CD">
				<xs:attribute name="nullFlavor" type="st" use="prohibited"/>
				<xs:attribute name="code" use="required">
					<xs:simpleType>
						<xs:restriction base="cs">
							<xs:enumeration value="utr"/>
							<xs:enumeration value="atb"/>
							<xs:enumeration value="sam"/>
							<xs:enumeration value="sao"/>
							<xs:enumeration value="ins"/>
							<xs:enumeration value="slu"/>
							<xs:enumeration value="auf"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="codeSystem" use="required" fixed="1.2.752.129.2.2.2.11">
					<xs:simpleType>
						<xs:restriction base="uid"/>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
				<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
				<xs:attribute name="displayName" type="st" use="prohibited"/>				
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HSAIdType">
		<xs:complexContent>
			<xs:restriction base="II">
				<xs:attribute name="nullFlavor" type="st" use="prohibited"/>
				<xs:attribute name="root" use="required" fixed="1.2.752.129.2.1.4.1">
					<xs:simpleType>
						<xs:restriction base="uid"/>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
				<xs:attribute name="displayable" type="bl" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="resultCodeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK"/>
			<xs:enumeration value="ERROR"/>
			<xs:enumeration value="INFO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PSTS">
		<xs:annotation>
			<xs:documentation>
				Patient Summary Timestamp (PSTS) type
				
				Den komplexa typen PSTS sätter restriktioner på bastypen TS genom att inte tillåta
				användning av attribut som inte ska användas av tjänster inom domänen.

				value: 
					Tidpunktpå formatett ÅÅÅÅMMDDHHMMSS
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="TS">
				<xs:attribute name="nullFlavor" type="st" use="prohibited"/>
				<xs:attribute name="value">
					<xs:simpleType>
						<xs:restriction base="ts">
							<xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])\d{6}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PSII">
		<xs:annotation>
			<xs:documentation>
				Patient Summary II (PSII) type
			
				Den komplexa typen PSII sätter restriktioner på bastypen II genom att inte tillåta
				användning av attribut som inte ska användas av tjänster inom domänen.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="II">
				<xs:attribute name="nullFlavor" type="st" use="prohibited"/>
				<xs:attribute name="root" type="uid" use="required"/>
				<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
				<xs:attribute name="displayable" type="bl" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PSST">
		<xs:annotation>
			<xs:documentation>
				Patient Summary ST (PSST) type
			
				Den komplexa typen PSST sätter restriktioner på bastypen ST genom att inte tillåta
				användning av attribut som inte ska användas av tjänster inom domänen.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="ST">
				<xs:attribute name="nullFlavor" type="st" use="prohibited"/>
				<xs:attribute name="language" type="cs" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
