ServiceInteractions/riv/followup/groupoutcomes/qualityreporting/trunk/schemas/core_components/groupoutcomes_qualityreporting_1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->		
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' 
  xmlns:tns='urn:riv:followup:groupoutcomes:qualityreporting:1' 
  targetNamespace='urn:riv:followup:groupoutcomes:qualityreporting:1' 
  elementFormDefault='qualified' 
  attributeFormDefault='unqualified' 
  version='1.0'
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
  <xs:simpleType name="HSAIdType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="IIType">
    <xs:annotation>
      <xs:documentation>
        Id och utgivarens OID.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="root" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="extension" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DateType">
    <xs:annotation>
      <xs:documentation>
        Datum uttrycks på formatet ”ÅÅÅÅMMDD”
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TimeStampType">
    <xs:annotation>
      <xs:documentation>
        A quantity specifying a point on the axis of natural time.
        A point in time is most often represented as a calendar
        expression.
        
        The time has the format YYYYMMDDhhmmss
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern
        value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(0[0-9]|1[0-9]|2[0123])([0-5])([0-9])([0-5])([0-9])"
      />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DatePeriodType">
    <xs:annotation>
      <xs:documentation>
        Avser starttid och sluttid för rapporterade värden.
        Start specas till år, månad, dag
        End Specas till år, månad, dag
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="start" type="tns:DateType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="end" type="tns:DateType" minOccurs="1" maxOccurs="1"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PQType">
    <xs:annotation>
      <xs:documentation>
        Kvantitet, Mätvärde som består av enhet=Kod, Värde=det värde som mättes
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- NOTICE DOUBLE BELOW AND REVISE IF NECESSARY -->
      <xs:element name="value" type="xs:double" minOccurs="1" maxOccurs="1"/>
      <xs:element name="unit" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfidenceInterval95percentType">
    <xs:annotation>
      <xs:documentation>
        Värdeintervall uttryckt som från-och-med och till-och-med.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="low" type="xs:double" minOccurs="1" maxOccurs="1"/>
      <xs:element name="high" type="xs:double" minOccurs="1" maxOccurs="1"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReportingSystemType">
    <xs:annotation>
      <xs:documentation>
        Det system som producerar indikatorRapporten.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="HSAId" type="tns:HSAIdType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReportingOrganizationType">
    <xs:annotation>
      <xs:documentation>
        Den organisation som producerar IndikatorRapporten.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="HSAId" type="tns:HSAIdType" minOccurs="1" maxOccurs="1"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MissingMeasureType">
    <xs:annotation>
      <xs:documentation>
        Om värde saknas för en performingOrganization skall detta anges genom att en missing measure 
        anges istället för en Proportion- eller ContinuousVariableMeasure . 
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reasonCode" type="tns:MissingMeasureReasonCodeEnum" minOccurs="0" maxOccurs="1"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AggregatedQualityReportType">
    <xs:annotation>
      <xs:documentation>
        En IndikatorRapport skapas av ett rapporterande system och är huvudklassen vid 
        överföring av indikatorer. För vajre indikatorrapport kommer ett eller flera indikatorVärden.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocumentId" type="tns:IIType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="DocumentTime" type="tns:TimeStampType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="ReportingPeriod" type="tns:DatePeriodType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="ReportingSystem" type="tns:ReportingSystemType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="ReportingOrganization" type="tns:ReportingOrganizationType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Measurement" type="tns:MeasurementType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasurementType">
    <xs:annotation>
      <xs:documentation>
        IndikatorVärde är det rapporterade resultatet för en indikator för en viss resultatEnhet och för en viss
        mätperiod. En indikatorRapport innehåller flera IndikatorVärden.
        
        För att visa vilket underlag som ligger till grund för värdet är det möjligt att ange ett datumintervall för
        vilket mätvärden är beräknat. Detta intervall kommer att rymmas inom intervallet som anges för rapporten.
        
        Antingen angivet som
        1. en kvot, då med värden angivna som täljare och nämnare
        2. som en procentsats då med mätvärde angivet i procent och enhet = %
        3. som ett mätvärde då med godtycklig enhet angiven som mätenhet.
        Ett resultat kan ha ett 95% konfidensintervall angivet som ett intervall med ett lågt och ett högt värde för
        att definiera spannet.
        
        Om en resultatEnhet saknar (tillräckliga) värden för en viss mätperiod anges ändå ett indikatorvärde för
        avsedd mätperiod och resultatEnhet men med NullFlavor="NI" angivet för mätvärde/kvot.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MeasureIdVersionIndependent" type="tns:IIType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="MeasureIdVersionNumber" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="MeasureIdVersionDependent" type="tns:IIType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="MeasurePeriod" type="tns:DatePeriodType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="FirstServiceEncounter" type="tns:DateType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="LastServiceEncounter" type="tns:DateType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ProportionMeasure" type="tns:ProportionMeasureType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ContinuousVariableMeasure" type="tns:ContinuousVariableMeasureType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="missingMeasure" type="tns:MissingMeasureType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PerformingOrganization" type="tns:PerformingOrganizationType" minOccurs="1" maxOccurs="1"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProportionMeasureType">
    <xs:annotation>
      <xs:documentation>
        De indikatorvärden som mäts som kvoter har sitt värde i klassen ProportionMeasure. Denna klass innehåller täljare, nämnare och kvoten däremellan.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Rate" type="xs:double" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Denominator" type="xs:double" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Numerator" type="xs:double" minOccurs="1" maxOccurs="1"/>
      <xs:element name="ConfidenceInterval95percent" type="tns:ConfidenceInterval95percentType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="StandardDeviation" type="xs:double" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Coverage" type="xs:double" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Exclusions" type="xs:double" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ReferenceIntervalRate" type="xs:double" minOccurs="0" maxOccurs="1"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContinuousVariableMeasureType">
    <xs:annotation>
      <xs:documentation>
        De indikatorvärden som mäts som mätvärden har sitt värde i klassen ContinuousVariableMeasureType.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MeasurePopulation" type="xs:double" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Value" type="tns:PQType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Method" type="tns:ObservationmethodAggregateEnum" minOccurs="1" maxOccurs="1"/>
      <xs:element name="ConfidenceInterval95percent" type="tns:ConfidenceInterval95percentType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="StandardDeviation" type="xs:double" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Coverage" type="xs:double" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Exclusions" type="xs:double" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ReferenceIntervalValue" type="tns:PQType" minOccurs="0" maxOccurs="1"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PerformingOrganizationType">
    <xs:annotation>
      <xs:documentation>
        En resultatenhet är den enhet för vilken ett indikatorVärde uppmätts.
        En resultatEnhet ingår i en hierarkisk struktur och kan knytas till en högre nivå i hierarkin genom att referera
        till en enhet på högre nivå.
        
        Ett par nivåer har specifika koder, OrganisationsTypKod, som anger
        Riket - Används vid aggregering på riksnivå samt fungerar som snittvärde för riket vid rapportering
        på en lägre nivå
        Region - landsting eller region samt fungerar som snittvärde för regionen vid rapportering på en lägre nivå
        Kommun - Används ej
        Sjukhus - identifieras genom sjukhuskod eller HSAId
        Vårdenhet - den lägsta rapporterande enheten om typ av verksamhet är okänd.
        Primärvårdsenhet - typ av verksamhet och en underkategori till vårdenhet
        Medicinklinik - typ av verksamhet och en underkategori till vårdenhet
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="HSAId" type="tns:HSAIdType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="OrganizationName" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="OrganizationType" type="tns:OrganizationTypeCodeEnum" minOccurs="1" maxOccurs="1"/>
      <xs:element name="OrganizationId" type="tns:IIType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AsOrganizationPartOf" type="tns:PerformingOrganizationType" minOccurs="0" maxOccurs="1"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ObservationmethodAggregateEnum">
    <xs:annotation>
      <xs:documentation>
        Anger om måttet berknas som antal (räkna antal), summa, median, medel, etc. 
        Koden hämtas från urvalet ObservationMethodAggregate: 
        AVERAGE 
        COUNT 
        MAX 
        MEDIAN 
        MIN 
        MODE 
        SUM
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AVERAGE"/>
      <xs:enumeration value="COUNT"/>
      <xs:enumeration value="MAX"/>
      <xs:enumeration value="MEDIAN"/>
      <xs:enumeration value="MIN"/>
      <xs:enumeration value="MODE"/>
      <xs:enumeration value="SUM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MissingMeasureReasonCodeEnum">
    <xs:annotation>
      <xs:documentation>
        Kod som anger varför en enhet saknar värde. 
        Giltiga värden är ”MSK” som betyder att värdet är känt men har utelämnats pga lägre antal 
        rapporterade än indikatorns tröskelvärde för visning, alternativt ”UNK” som betyder att 
        inrapporterade värden saknas från organisationen i fråga. 
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="MSK"/>
      <xs:enumeration value="UNK"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OrganizationTypeCodeEnum">
    <xs:annotation>
      <xs:documentation>
        Anger organisationstyp, där värdet hämtas från ett diskret urval av koder
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Land"/>
      <xs:enumeration value="Lan"/>
      <xs:enumeration value="Kommun"/>
      <xs:enumeration value="Sjukhus"/>
      <xs:enumeration value="Vardenhet"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>